/* stylelint-disable no-descending-specificity */

/* using grid for better gap functionality */
.cards {
    --cols: 1;/* mobile: always 1-col */
    --gap: 2.5rem;

    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--cols), 1fr);
}

/* set better box sizing */
.cards,
.cards > *,
.cards > *::before,
.cards > *::after {
    box-sizing: border-box;
}

/* tablet: always 2-col */
@media (min-width: 600px) {
    /* no style-1-columns since default */

    .cards.style-2-columns:not(.cta),
    .cards.style-3-columns,
    .cards.style-4-columns,
    .cards.style-5-columns {
        --cols: 2;
    }
}

@media (min-width: 900px) {
    /* no style-1-columns since default */

    .cards.style-2-columns {
        --cols: 2;
    }
}

/* desktop: normal cols */
@media (min-width: 1025px) {
    .cards.style-2-columns.wide-gap {
        --gap: 10rem;
    }

    /* no style-2-columns since inherit from tablet */
    .cards.style-3-columns {
        --cols: 3;
    }
}

@media (min-width: 1200px) {
    .cards.style-4-columns {
        --cols: 4;
    }

    .cards.style-5-columns {
        --cols: 5;
    }

    .cards.style-2-columns.wide-gap {
        --gap: 13rem;
    }
}

/* default styles */
.cards > .card,
.cards.cta > .cta-container > .card {
    --padding: 0;
    --spacing: 1rem;

    color: var(--color-gray-12);
    display: flex;
    flex-direction: column;
    font-family: var(--body-font-family);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: var(--body-font-weight);
    gap: var(--spacing);
    line-height: 1.5;
    padding: var(--padding);
}

.cards > .card .icon {
    --image-height: auto;

    align-items: end;
    height: var(--image-height);
}

.cards > .card .icon,
.cards.cta > .cta-container > .icon {
    color: var(--color-gray-12);
    display: flex;
    transition: color .25s ease-in-out;
}

.cards.theme-icon > .card .icon {
    color: var(--theme-base);
}

.cards .icon.icon-time svg,
.cards .icon.icon-paid-time-off svg {
    max-height: 2rem;
    max-width: 2rem;
}

@media (min-width: 600px) {
    .cards > .card .icon {
        --image-height: 2rem;
    }
}

.cards > .card > .title,
.cards.cta > .cta-container > .card > .title {
    color: var(--color-gray-12);
    font-family: var(--heading-font-family);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: normal;
    margin: 0;
}

.resources-guides .cards > .card > .title {
    text-transform: unset;
}

.cards > .card > .title > a,
.cards.cta > .cta-container > .card > .title > a {
    color: var(--color-gray-12);
}

.cards > .card > p,
.cards.cta > .cta-container > .card > p {
    margin: -.6875rem 0 0;
}

.cards.gray-12-body > .card > p,
.cards.cta > .cta-container > .card > p {
    color: var(--color-gray-12);
}

.cards > .card > .button-container,
.cards.cta > .cta-container > .card > .button-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.cards > .card > .button-container + .button-container,
.cards.cta > .cta-container > .card > .button-container + .button-container {
    margin-top: -.5rem;
}

@media (max-width: 1024px) {
    .cards > .card > .button-container,
    .cards.cta > .cta-container > .card > .button-container {
        margin-top: auto;
    }
}

.cards > .card .button:any-link,
.cards div.has-text-only p.button-container .button:any-link,
.cards.cta > .cta-container > .card .button:any-link {
    background-color: revert;
    border-radius: revert;
    color: var(--theme-shade5);
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-style: var(--heading-font-weight);
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: revert;
}

.cards div.has-text-only p.button-container {
    text-align: left;
}

/* link caret styles */
.cards > .card a:any-link,
.cards.cta > .cta-container > .card a:any-link {
    vertical-align: middle;
}

.cards > .card a::after,
.cards.cta > .cta-container > .card a::after {
    background-color: currentcolor;
    content: '';
    display: inline-block;
    height: .8125rem;
    margin-left: .5rem;
    mask-image: url('../../styles/caret-right.svg');
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-image: url('../../styles/caret-right.svg');
    vertical-align: middle;/* TODO: replace with flex on button? */
    width: .5rem;
}

/* alignment styles */
.cards > .card[data-align="center"],
.cards.cta > .cta-container > .card[data-align="center"] {
    text-align: center;
}

.cards > .card[data-align="center"] .icon,
.cards > .card[data-align="center"] > .image,
.cards.cta > .cta-container > .card[data-align="center"] .icon {
    align-self: center;
}

.cards > .card[data-align="center"] > .button-container,
.cards.cta > .cta-container > .card[data-align="center"] > .button-container {
    align-items: center;
}

.cards > .card[data-align="right"],
.cards.cta > .cta-container > .card[data-align="right"] {
    text-align: right;
}

.cards > .card[data-align="right"] .icon,
.cards > .card[data-align="right"] > .image,
.cards.cta > .cta-container > .card[data-align="right"] .icon {
    align-self: end;
}

.cards > .card[data-align="right"] > .button-container,
.cards.cta > .cta-container > .card[data-align="right"] > .button-container {
    align-items: end;
}

/* icon styles */
@media (min-width: 600px) {
    .cards.icon-50 > .card .icon {
        --image-height: 3.125rem;
    }

    .cards.icon-60 > .card .icon {
        --image-height: 3.75rem;
    }
}

/* "hover" style */
.cards.hover > .card {
    --padding: 2.5rem 3.75rem 2.5rem 2.5rem;

    background-color: transparent;
    border-radius: 2.5rem 1rem 6.25rem;
    box-shadow: var(--box-shadow-transition-default);
    transition-property: background-color, box-shadow;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

.cards.hover > .card:hover {
    background-color: var(--color-white);
    box-shadow: var(--theme-shadow3-shade5);
}

/* "background" style */
.cards.background {
    --gap: 1.5625rem;
}

@media (min-width: 600px) {
    .cards.background {
        --gap: 2.5rem;
    }
}

.cards.background > .card {
    background-color: var(--color-white);
    border-radius: 1rem;
}

.cards.background > .card:not(.full) {
    --padding: 2.5rem;
}

.cards.background > .card > div.has-text-only,
.cards.background.cta > .cta-container > .card > div.has-text-only {
    padding: 0 2.5rem 2.5rem;
}

div.has-text-only h3,
div.has-text-only h4 {
    margin: 0;
}

div.has-text-only h4 {
    color: var(--color-gray-6);
}

.cards.background > .card > .title,
.cards.background > .card .button:any-link,
.cards.background.cta > .cta-container > .card > .title,
.cards.background.cta > .cta-container > .card .button:any-link {
    transition: color .25s ease-in-out;
}

.cards.background > .card:hover .icon,
.cards.background > .card:hover > .title,
.cards.background > .card:hover .button:any-link,
.cards.background.cta > .cta-container > .card:hover .icon,
.cards.background.cta > .cta-container > .card:hover > .title,
.cards.background.cta > .cta-container > .card:hover .button:any-link {
    color: var(--theme-shade5);
}

.cards.background > .card .button:any-link,
.cards.background.cta > .cta-container > .card .button:any-link {
    font-size: 1.125rem;
}

.cards.background > .card .button:any-link {
    color: var(--color-gray-12);
}

.cards.background.cta > .cta-container > .card .button:any-link {
    color: var(--theme-shade10);
}

/* "highlight" style */
.cards.background.highlight > .card {
    box-shadow: var(--theme-shadow2-shade5);
}

/* image styles */
.cards > .card.has-image img,
.cards.cta > .cta-container > .card.has-image img {
    border-radius: 1rem;
    box-shadow: var(--theme-shadow2-shade5);
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.cards.no-box-shadow > .card.has-image img {
    border-radius: unset;
    box-shadow: unset;
}

/* "icon inline" styles */
.cards.icon-inline > .card {
    margin-left: calc(var(--gap) * .75);
    position: relative;
}

.cards.icon-inline > .card .icon {
    color: var(--theme-shade5);
    left: calc(var(--gap) * -.75);
    position: absolute;
    top: 0;
}

.cards.icon-inline > .card > .title {
    color: var(--theme-shade5);
    font-size: 1.625rem;
    line-height: 1.1538;
}

.cards.icon-inline > .card .button {
    font-size: 1.125rem;
}

/* "dual-tone" styles */
.cards.dual-tone > .card .icon,
.cards.dual-tone > .card .icon .shade {
    color: var(--secondary-theme-shade5);
}

.cards.dual-tone > .card .icon .tint {
    color: var(--secondary-theme-tint10);
}

.cards.dual-tone > .card > .title {
    margin-top: .625rem;
    color: var(--theme-shade5);
}

.cards.dual-tone > .card > .title > a:any-link,
.cards.dual-tone > .card > h4.title {
    color: var(--theme-shade5);
}

.cards.dual-tone > .card > .title > strong {
    color: var(--theme-shade5);
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--heading-font-weight);
    letter-spacing: .125rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.cards.dual-tone > .card > p {
    margin-top: -.5rem;
}

.cards.dual-tone.style-3d > .card {
    background-color: var(--color-white);
    border-radius: 1rem;
    border: .125rem solid var(--theme-base);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1rem;
    margin-left: .625rem;
    padding: 1.5625rem 1.5625rem 1.875rem;
    position: relative;
}

.cards.dual-tone.style-3d > .card::before {
    background: linear-gradient(120deg, var(--theme-tint5) 13.4%, var(--secondary-theme-base) 86.6%);
    border-radius: 1rem;
    content: '';
    height: 100%;
    left: -.625rem;
    position: absolute;
    top: 1rem;
    width: 100%;
    z-index: -1;
}

.cards.dual-tone.style-3d > .card > .title {
    color: var(--secondary-theme-shade5);
    margin-top: 0;
}

.cards.dual-tone.style-3d > .card > p {
    margin-top: 0;
}

.cards.dual-tone.style-3d > .card > .button-container {
    margin-top: auto;
}

.cards.dual-tone.style-3d > .card .button:any-link {
    color: var(--theme-shade5);
    font-size: .75rem;
    letter-spacing: .1rem;
    line-height: 1.25;
    text-transform: uppercase;
}

.cards.hex-background-dual-tone > .card {
    text-align: center;
}

.cards.hex-background-dual-tone > .card .icon-container {
    display: block;
    height: 58px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 60px;
}

.cards.hex-background-dual-tone > .card .icon-container .icon-background {
    position: absolute;
}

.cards.hex-background-dual-tone > .card .icon-background .hex-primary {
    fill: var(--theme-shade15);
}

.cards.hex-background-dual-tone > .card .icon-background .hex-secondary {
    stroke: var(--theme-shade5);
}

.cards.hex-background-dual-tone > .card .icon-container .icon {
    width: 100%;
    height: 100%;
}

.cards.hex-background-dual-tone > .card .icon-container .icon svg {
    position: relative;
    margin: auto;
}

.cards.hex-background-dual-tone > .card .icon-container .icon.icon-profile-search svg {
    margin-top: 14px;
}

.cards.hex-background-dual-tone > .card .icon-container .icon.icon-popup svg {
    margin-left: 16px;
    margin-top: 19px;
}

.cards.hex-background-dual-tone > .card .icon {
    color: var(--theme-tint5);
}

.cards.hex-background-dual-tone > .card > .title {
    color: var(--theme-shade5);
}

/* TODO: remove, just to show styles with white BG */
.temp-bg-alt {
    background-color: var(--color-gray-1);
    padding-bottom: 3rem;
    padding-top: .1rem;
}

@media (min-width: 600px) {
    .cards.hex-background-dual-tone > .card {
        text-align: left;
    }

    .cards.hex-background-dual-tone > .card .icon-container {
        margin: 0;
    }
}

.cards.cta > .cta-container {
    display: flex;
    gap: 20px;
    align-items: center;

    --padding: 1rem 2.5rem;

    padding: var(--padding);
}

.cards.background.cta > .cta-container {
    background-color: var(--color-white);
    border-radius: 1rem;
}

.cards.background.highlight.cta > .cta-container {
    box-shadow: var(--theme-shadow2-shade5);
}

.cards.cta > .cta-container > .icon {
    color: var(--theme-base);
}

.cards.cta .card h5 {
    font-family: var(--body-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
}

/* Headshots */
.cards.headshots .card {
  text-align: center;
  row-gap: 0;
}

.cards.headshots .card.has-image img {
  border-radius: 50%;
  box-shadow: var(--box-shadow-2);
  width: auto;
  display: inline-block;
}

.cards.headshots .card h4 {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--color-1-shade-10);
  margin-top: 10px;
}

.cards.headshots .card h5 {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-gray-10);
  margin: 0;
}

.cards.headshots > .card > .title > a {
    color: var(--color-1-shade-10);
}

.cards.headshots > .card > .title > a::after {
    content: none;
}

.cards.with-social-icons > .card a {
    display: inline-block;
}

.cards.with-social-icons > .card a::after{
    content: none;
}

.cards.with-social-icons > .card a span.icon svg {
    width: auto;
    height: 22px;
}

.cards.with-social-icons > .card a span.icon {
    margin-right: 10px;
}
