/* stylelint-disable selector-class-pattern */
::placeholder {
	color: var(--color-gray-5);
}

@media (min-width: 1800px) {
  main .form {
    max-width: 83.33%;
    margin: 0 auto;
  }
}

main .form .hidden {
  display: none;
}

main .form form {
  text-align: left;
}

main .form .form-description {
  color: var(--color-gray-7);
}

main .form label {
  display: block;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-gray-10);
  text-align: left;
  margin-bottom: 4px;
}

main .form form > div {
  margin-top: 16px;
}

main .form select,
main .form textarea,
main .form input {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-gray-10);
  padding: 8px 12px;
  background-color: var(--color-white);
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
  height: 40px;
  border: 2px solid var(--color-gray-3);
  margin: 0;
  box-shadow: none;
  width: 100%;
}

main .form select {
  appearance: none;
  background: var(--color-white) url('./down.svg') no-repeat calc(100% - 14px) 50%;
}

main .form textarea {
  height: 160px;
}

main .form select:focus,
main .form textarea:focus,
main .form input:focus,
main .form .mktoForm .mktoInvalid:focus {
  outline: none;
  border-image-source: linear-gradient(120deg, var(--color-1-tint-5) 13.4%, var(--color-8-shade-5) 86.6%);
  border-image-slice: 1;
}

main .form option {
  box-sizing: border-box;
  display: block;
  padding: 2px;
}

main .form select[multiple] {
  height: 100px;
  background: var(--color-white);
}

main .form input[type='checkbox'],
main .form input[type='radio'] {
  margin-top: 0;
  margin-right: 10px;
  height: 13px;
  width: 13px;
}

main .form .form-checkbox-option {
  margin-right: 10px;
}

main .form .form-radio-option:not(:last-child),
main .form .form-checkbox-option:not(:last-child) {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

main .form .form-checkbox-option input,
main .form .form-radio-option input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

main .form .form-checkbox-option > label,
main .form .form-radio-option > label {
  position: relative;
  display: flex;
}

main .form .form-checkbox-option > label {
  padding-left: 42px;
}

main .form .form-checkbox-option > label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-3);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

main .form .form-radio-option > label::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 2px;
  margin-right: 16px;
  background-clip: content-box;
  border: 2px solid var(--color-gray-3);
  background-color: var(--color-white);
  border-radius: 50%;
  box-sizing: border-box;
}

main .form .form-checkbox-option input:checked + label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 4px;
  width: 8px;
  height: 14px;
  border: solid var(--color-1);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  box-sizing: border-box;
}

main .form .form-radio-option input:checked + label::before {
  background-color: var(--color-1);
}

main .form .error select,
main .form .error textarea,
main .form .error input,
main .form .mktoForm .mktoInvalid,
main .form .mktoForm .mktoInvalid.form-checkbox-option label::before {
  border-image-source: linear-gradient(120deg, var(--color-7-tint-5) 13.4%, var(--color-2) 86.6%);
  border-image-slice: 1;
}

main .form .error input[type='checkbox'] + label::before {
  border-color: var(--color-2);
}

main .form .form-msg {
  margin-top: 8px;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  font-style: italic;
  font-weight: 500;
  color: var(--color-2-shade-5);
}

.integrations main .form-container .default-content-wrapper {
  text-align: center;
}

.integrations main .form-container {
  background-image: url('../../styles/leaf-top-3.svg'),
    linear-gradient(
      var(--color-white),
      var(--color-white) calc(290px + (100vw * 0.11)),
      var(--color-gray-1) calc(100vw * 0.11)
    );
  background-position: 0 290px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

.integrations main .form {
  padding: 150px 0;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .integrations main .form {
    padding-top: 250px;
  }
}

main .form .form-checkbox-flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}

main .form .form-checkbox-flex .mktoErrorMsg {
  display: none;
}

main .form .form-gdpr-text,
.mktoHtmlText {
  color: var(--color-gray-8);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  width: 100% !important;
}

main .form .mktoForm {
  visibility: hidden;
  width: 100% !important;
}

main .form .mktoForm[data-styles-ready='true'] {
  visibility: visible;
}

main .form .mktoForm > div:not(.form-msg) {
  margin: 0;
}

main .form .mktoForm .mktoFieldWrap {
  position: relative;
  margin-top: 16px;
}

main .form .mktoForm .mktoField,
main .form .mktoForm .mktoLabel {
  width: 100% !important;
}

@media screen and (min-width: 600px) {
  main .form .mktoForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }

  main .form .mktoForm > div {
    width: 100%;
    flex: 0 0 auto;
  }

  main .form .mktoForm .mktoFormRow.form-input-width50 {
    width: calc(50% - 8px);
  }
}

main .form .mktoForm .mktoErrorMsg {
  position: absolute;
  right: 2px;
  font-size: 10px;
  font-style: italic;
  font-weight: 500;
  line-height: 13px;
  color: var(--color-2-shade-5);
  margin-top: 2px;
}

main .form .mktoForm .mktoAsterix,
main .form .mktoForm .mktoOffset,
main .form .mktoForm .mktoGutter,
main .form .mktoForm .mktoClear {
  display: none !important;
}

main .form .form-submit-wrapper .button,
main .form .mktoForm .mktoButton {
  padding: 17px 25px;
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: 700;
  background-color: var(--theme-shade5);
  color: var(--color-white);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}

main .form .form-submit-wrapper .button:hover,
main .form .mktoForm .mktoButton:hover {
  background-color: var(--theme-shade15);
}

main .form .mktoForm .mktoButton {
  display: block;
  width: 100%;
  margin-top: 16px;
}

main .form .bhrForm__partnerDisclaimer {
  color: var(--color-gray-9);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

main .form .bhrForm__partnerDisclaimer a {
  font-style: italic;
  text-decoration: underline;
}

main .form .form-col p {
  margin: 0;
  color: var(--color-gray-8);
  text-align: center;
}

main .form .form-col p strong {
  display: block;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 8px;
  color: var(--theme-shade5);
}

@media (min-width: 600px) and (max-width: 1199px) {
  main .form.has-content .form-col {
    max-width: 83.33%;
    margin: 0 auto;
  }
}

main .form.has-content .content-col img {
  border-radius: 10px;
  box-shadow: var(--box-shadow-2);
  width: 100%;
}

main .form.white-container .form-col {
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 40px 32px 32px;
  box-shadow: var(--box-shadow-2);
  height: fit-content;
}


.form .content-col a:not(.button):not(form) {
  font-weight: var(--heading-font-weight);
  color: var(--theme-shade10);
  background-image: linear-gradient(rgb(0 0 0 / 0%) 50%, var(--secondary-theme-tint10) 0);
}

main .form.has-content .content-col {
  margin-bottom: 30px;
}

main .form.has-content .content-col h1 {
  font-style: normal;
}

@media (min-width: 1200px) {
  main .form.has-content > div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  main .form.has-content .content-col {
    grid-column: span 6;
    margin-bottom: 0;
  }

  main .form.has-content .form-col {
    grid-column: span 6;
    max-width: 100%;
  }

  main .form.has-content.grid-7-5 .content-col {
    grid-column: span 7;
  }

  main .form.has-content.grid-7-5 .form-col {
    grid-column: span 5;
  }
}

main .form .form-col .form-logos {
  display: flex;
	flex: row wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

main .form .form-col .form-logos img {
  flex: 0 0 auto;
  width: 33.33%;
  max-width: 120px;
}

main .form.with-google-map .content-col iframe {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  box-shadow: var(--box-shadow-3-gray-shade5);
}

@media (min-width: 600px) {
  main .form.with-google-map .content-col iframe {
    height: 300px;
  }
}

@media (min-width: 900px) {
  main .form.with-google-map .content-col iframe {
    height: 550px;
  }
}
