.bhr-home main .section:first-of-type {
    background-color: var(--theme-tint15);
    position: relative;
    z-index: 0;
    padding-bottom: 1450px;
}

.bhr-home main .multi-hero-container .title-wrapper,
.bhr-home main .multi-hero-container .columns-wrapper {
    padding: 0 30px;
}

.bhr-home .columns.bottom-cta {
    margin-top: 150px;
}

.bhr-home .columns.bottom-cta .column-flex-container {
    align-items: flex-end;
}

.bhr-home .columns h2 {
    margin-top: 40px;
    margin-bottom: 50px;
}

.bhr-home .columns h3 {
    margin-top: 0;
    color: var(--color-gray-10);
    font-style: normal;
}

.bhr-home .columns a.button:not(.link):any-link {
    color: var(--color-white);
    background: linear-gradient(91.88deg, var(--color-1-shade-10), var(--theme-shade5) 99.25%);
}

.bhr-home .columns.bottom-cta a.button:not(.link):any-link {
    color: var(--theme-shade10);
    background: linear-gradient(100deg, var(--theme-shade5), var(--theme-tint15) 1.82%, var(--theme-tint5) 131.08%);
}

.bhr-home .default-content-wrapper p {
    color: var(--color-gray-12);
    text-align: center;
}

.bhr-home .columns p {
    color: var(--color-gray-12);
}

.bhr-home .columns.bottom-cta p {
    font-size: 21px;
    line-height: 30px;
    color: var(--color-white);
}

.bhr-home .bg-top-cap-3.has-bg > span.bg-top-cap-3 {
    top: -90px;
    bottom: unset;
    z-index: 0;
    transform: scaleX(-1);
    background-color: var(--color-gray-1);
}

.bhr-home .bg-bottom-cap-3-tint.has-bg > span.bg-bottom-cap-3-tint {
    background-image: unset;
    top: -133px;
    bottom: unset;
    z-index: 1;
    transform: scaleX(-1);
    background-color: var(--theme-tint15);
}

.bhr-home main .section > div.multi-hero-wrapper {
    margin-left: 0;
    margin-right: 0;
}

.bhr-home main .columns-wrapper,
.bhr-home main .default-content-wrapper,
.bhr-home main .quote-wrapper,
.bhr-home main .title-wrapper {
    position: relative;
    z-index: 1;
}

.bhr-home .quote-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}

.bhr-home .title-wrapper.top-section-top-margin {
    margin-top: 63%;
}
  
.bhr-home .title-wrapper.top-margin {
    margin-top: 110px;
}

.bhr-home .title-wrapper.bottom-margin {
    margin-bottom: 80px;
}

.bhr-home .columns-wrapper.top-margin {
    margin-top: 50px;
}

.bhr-home main .section > div.columns-wrapper.extra-wide {
    max-width: 1200px;
}

.bhr-home .columns .block.wistia {
    margin-bottom: 50px;
}

.bhr-home .section-2 {
    margin-top: -1450px;
}

.bhr-home .section-3 {
    background-color: var(--color-white);
    position: relative;
}

.bhr-home .section-4 {
    position: relative;
    background: linear-gradient(180deg, var(--color-gray-1),hsla(45,17%,95%,0));
}

.bhr-home main .section.bottom-section {
    background: linear-gradient(44.48deg, var(--theme-shade5) 35.81%, var(--theme-base) 117.3%);
    padding-bottom: 30px;
    position: relative;
    margin-top: 0;
    padding-top: 96px;
}

.bhr-home .image.bg-home-middle-1 picture {
    position: absolute;
    left: 0;
    right: 0;
    top: 220px;
}

.bhr-home .image.bg-home-middle-2 picture {
    position: absolute;
    left: 0;
    right: 0;
    top: 642px;
}

.bhr-home .image.bg-home-bottom {
    background: linear-gradient(44.48deg, var(--theme-shade5) 35.81%, var(--theme-base) 117.3%);
}

.bhr-home .image.bg-home-bottom picture {
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
}

.bhr-home .image.bg-home-middle-1 img,
.bhr-home .image.bg-home-middle-2 img,
.bhr-home .image.bg-home-bottom img {
    width: 100%;
}

.bhr-home .columns.bottom-cta h2 {
    color: var(--theme-tint15);
    font-family: var(--heading-font-family);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

@media (min-width: 361px) {
    .bhr-home main .section:first-of-type {
        padding-bottom: 1500px;
    }
    
    .bhr-home .section-2 {
        margin-top: -1500px;
    }
}

@media (min-width: 388px) {
    .bhr-home main .section:first-of-type {
        padding-bottom: 1450px;
    }
    
    .bhr-home .section-2 {
        margin-top: -1450px;
    }
}

@media (min-width: 390px) {
    .bhr-home main .section:first-of-type {
        padding-bottom: 1400px;
    }
    
    .bhr-home .section-2 {
        margin-top: -1400px;
    }
}

@media (min-width: 514px) {
    .bhr-home main .section:first-of-type {
        padding-bottom: 1375px;
    }
    
    .bhr-home .section-2 {
        margin-top: -1375px;
    }
}

@media (min-width: 600px) {
    .bhr-home main .section:first-of-type {
        padding-bottom: 1100px;
    }
    
    .bhr-home .section-2 {
        margin-top: -1100px;
    }

    .bhr-home main .multi-hero-container {
        padding: 0 54px;
    }

    .bhr-home .title-wrapper.top-section-top-margin {
        margin-top: 13%;
    }
}

@media (min-width: 769px) {
    .bhr-home main .section:first-of-type {
        padding-bottom: 1200px;
    }
    
    .bhr-home .section-2 {
        margin-top: -1200px;
    }
}

@media (min-width: 900px) {
    .bhr-home .columns:not(.columns-1-cols) > div {
      flex-direction: column;
    }

    .bhr-home .columns > div > div:first-of-type {
        margin-left: auto;
    }

    .bhr-home .columns > div > div:last-of-type {
        margin-right: auto;
    }
}

@media (max-width: 1024px) {
    .bhr-home div .column-flex-container {
      flex-flow: column;
    }
  
    .bhr-home .img-col {
      order: 1;
      width: unset;
      margin: 0 auto;
    }
  
    .bhr-home .non-img-col {
      order: 2;
      width: unset;
    }
}

@media (min-width: 1025px) {
    .bhr-home main .section:first-of-type {
        padding-bottom: 0;
    }
    
    .bhr-home .section-2 {
        margin-top: 96px;
    }

    .bhr-home .title-wrapper.top-section-top-margin {
        margin-top: 16%;
    }

    .bhr-home .columns:not(.columns-1-cols) > div {
      align-items: center;
      flex-direction: unset;
    }

    .bhr-home .columns > div > div:first-of-type {
        margin-left: unset;
      }
    
    .bhr-home .columns > div > div:last-of-type {
        margin-right: unset;
    }

    .bhr-home .image.bg-home-bottom picture {
        top: calc(100vw * -0.1);
    }
}

@media (min-width: 1200px) {
    .bhr-home .title-wrapper.top-section-top-margin {
        margin-top: 13%;
    }

    .bhr-home .columns.bottom-cta h2 {
        font-size: 48px;
        line-height: 60px;
    }
}

@media (min-width: 1800px) {
    .bhr-home main .section:first-of-type {
        padding-bottom: 1000px;
    }
    
    .bhr-home .section-2 {
        margin-top: -1000px;
    }

    .bhr-home main .image.bg-home-middle-1 p:not(:only-child):nth-child(2),
    .bhr-home main .image.bg-home-bottom p:not(:only-child):nth-child(2) {
        display: none;
    }

    .bhr-home main .image.bg-home-middle-1 p:not(:only-child):nth-child(3),
    .bhr-home main .image.bg-home-bottom p:not(:only-child):nth-child(3) {
        display: block;
    }
}


.bhr-home div .column-flex-container.columns-align-start {
    align-items: flex-start;
}
  