/* cards overrides */
@media (min-width: 600px) and (max-width: 1024px) {
    /* only first */
    .ee-solution .cards-container:not(.cards-container ~ .cards-container) .cards-wrapper {
        max-width: 31.5rem;
    }
}

@media (min-width: 1441px) {
    .ee-solution .cards-wrapper {
        max-width: 95rem;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .ee-solution .cards-container:not(.cards-container ~ .cards-container) .cards.style-2-columns,
    .ee-solution .cards-container:not(.cards-container ~ .cards-container) .cards.style-3-columns,
    .ee-solution .cards-container:not(.cards-container ~ .cards-container) .cards.style-4-columns,
    .ee-solution .cards-container:not(.cards-container ~ .cards-container) .cards.style-5-columns {
        --cols: 1;
    }
}

/* default content overrides */
.ee-solution .default-content-wrapper p {
    text-align: center;
}

.ee-solution .default-content-wrapper .button-container {
    margin: 0;
}

.ee-solution .default-content-wrapper a.button:any-link {
    background-color: var(--theme-shade10);
    font-family: var(--body-font-family);
    font-size: .9375rem;
    letter-spacing: .0313rem;
    line-height: 1.3333;
    margin: 0;
    padding: .625rem 1.875rem;
    white-space: normal;
}

/* column overrides */

@media (max-width: 599px) {
    .ee-solution .columns-container.bg-right-multi-3 .columns .column-flex-container {
        gap: 5rem;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .ee-solution .columns-container.bg-right-multi-3 .columns .column-flex-container {
        gap: 5rem;
    }
}

.ee-solution .columns-container h3 {
    font-style: normal;
}

.ee-solution .columns-container h6 {
    color: var(--color-gray-12);
    font-family: var(--body-font-family);
    font-style: normal;
    font-size: .75rem;
    letter-spacing: .0938rem;
    line-height: 1.25;
    text-transform: uppercase;
}

.ee-solution .columns-container ul {
    padding-left: 1.5rem;
}

/* background overrides */
@media (max-width: 599px) {
    .ee-solution .bg-right-multi-3.has-bg > .bg {
        top: 5%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .ee-solution .bg-right-multi-3.has-bg > .bg {
        top: 12.5%;
    }
}

.ee-solution .bg-block-ee-solutions-quote.has-bg > .bg {
    right: auto;
    top: 85%;
    left: -20%;
    width: 10rem;
}

@media (min-width: 600px) {
    .ee-solution .bg-block-ee-solutions-quote.has-bg > .bg {
        top: 55%;
        width: revert;
    }
}

@media (min-width: 1441px) {
    .ee-solution .bg-block-ee-solutions-quote.has-bg > .bg {
        left: -5%;
    }
}

.ee-solution .bg-bottom-single-2.has-bg > .bg {
    bottom: auto;
    top: 0;
}
