.hr-unplugged main {
  overflow: hidden;
}

.hr-unplugged .section-1 {
	background: linear-gradient(76.43deg, #000000 25.21%, #CC4373 100%);
}

.hr-unplugged .section-1 h1 {
  color: var(--color-white);
  text-align: left;
}

.hr-unplugged .section-1 h5 {
  color: var(--color-white);
  font-style: normal;
  font-weight: 500 !important;
  margin-top: 30px !important;
  text-align: left;
}

.hr-unplugged .section-1 a {
  color: var(--color-7-shade-15) !important;
  background-color: var(--color-7-tint-5) !important;
}

.hr-unplugged .section-1 .columns.podcast-cards div div {
  text-align: center;
  margin-bottom: 40px;
}

.hr-unplugged .section-1 .columns.podcast-cards div div p:first-of-type {
  margin: 0;
}

.hr-unplugged .section-1 .columns.podcast-cards div div p:not(:first-of-type) {
  color: var(--color-white);
  margin-top: 10px;
}

.hr-unplugged .section-1 .columns.podcast-cards div div h4 {
  position: relative;
}

.hr-unplugged .section-1 .columns.podcast-cards div div h4 {
  color: var(--color-white);
  margin: 10px 0 0;
  font-weight: 600 !important;
  font-style: normal;
}

.hr-unplugged .section-1 .columns-3-cols img {
  margin-bottom: 0;
  width: 100%;
}

.hr-unplugged .section-1 .background-image,
.hr-unplugged .section-3 .background-image {
  max-width: 100%;
  margin: -50px 0 0;
}

.hr-unplugged .section-1 .background-image .bg-section-bottom-1 img {
  margin-top: 0;
}

.hr-unplugged .section-1 .background-image .bg-section-bottom-1 {
  margin: 0 -30px;
}

.hr-unplugged .columns.podcast-links div div:first-child {
  margin-top: 30px;
}

.hr-unplugged .columns.podcast-links div div {
  margin-top: 20px;
}

.hr-unplugged .columns.podcast-links div div h4 {
  margin: 0;
}

@media (min-width: 600px) {
 .hr-unplugged .section-1 .columns.podcast-cards div {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -40px;
    align-items: flex-start;
  }

  .hr-unplugged .section-1 .columns.podcast-cards div div {
    width: calc(50% - 40px);
    margin: 0 0 50px 40px;
  }

  .hr-unplugged .section-1 .background-image .bg-section-bottom-1,
  .hr-unplugged .section-3 .background-image .bg-section-top-1 {
    /* margin: 0 -54px; */
  }

  .hr-unplugged .columns.podcast-links div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 420px;
    margin: 0 auto;
  }

  .hr-unplugged .columns.podcast-links div div {
    width: calc(50% - 10px);
  }

  .hr-unplugged .columns.podcast-links div div:first-child {
    margin-top: 20px;
  }

}

@media (min-width: 900px) {
  .hr-unplugged .section-1 .columns.podcast-cards div div {
    width: calc(33.33% - 40px);
  }

  .hr-unplugged .columns.podcast-links div {
    max-width: 820px;
  }

  .hr-unplugged .columns.podcast-links div div {
    width: calc(25% - 10px);
  }
}

@media (min-width: 1800px) {
  .hr-unplugged .section-1 .background-image .bg-section-bottom-1 {
    margin: 0;
  }
}

.background-color-7-shade-15 {
  background-color: var(--color-7-shade-15);
}

.color-7-tint-5 {
  color: var(--color-7-tint-5);
}

.black {
  color: var(--color-black);
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}