/* stylelint-disable no-descending-specificity */

/* using grid for better gap functionality */
.cards {
    --gap: 2.5rem;

    display: grid;
    gap: var(--gap);
}

/* set better box sizing */
.cards,
.cards > * {
    box-sizing: border-box;
}

/* mobile: always 1-col */
.cards.cols-1,
.cards.cols-2,
.cards.cols-3,
.cards.cols-4,
.cards.cols-5 {
    --cols: 1;

    grid-template-columns: repeat(var(--cols), 1fr);
}

/* tablet: always 2-col */
@media (min-width: 600px) {
    .cards.cols-1,
    .cards.cols-2,
    .cards.cols-3,
    .cards.cols-4,
    .cards.cols-5 {
        --cols: 2;
    }
}

/* desktop: normal cols */
@media (min-width: 1025px) {
    .cards.cols-1 {
        --cols: 1;
    }

    .cards.cols-2 {
        --cols: 2;
    }

    .cards.cols-3 {
        --cols: 3;
    }

    .cards.cols-4 {
        --cols: 4;
    }

    .cards.cols-5 {
        --cols: 5;
    }

    /* follow pattern to add more */
}

/* default styles */
.cards > .card {
    --padding: 0;

    color: var(--color-gray-10);
    display: flex;
    flex-direction: column;
    font-family: var(--body-font-family);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: var(--body-font-weight);
    gap: 1rem;
    line-height: 1.5;
    padding: var(--padding);
}

.cards > .card > .title {
    color: var(--color-gray-12);
    font-family: var(--heading-font-family);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
}

.cards > .card > .title > a {
    color: var(--color-gray-12);
}

.cards > .card > p {
    margin: -.6875rem 0 0;
}

.cards > .card > .button-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.cards > .card > .button-container + .button-container {
    margin-top: -.5rem;
}

@media (max-width: 1024px) {
    .cards > .card > .button-container {
        margin-top: auto;
    }
}

.cards > .card .button:any-link {
    background-color: revert;
    border-radius: revert;
    color: var(--theme-shade5);
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-style: var(--heading-font-weight);
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* link caret styles */
.cards > .card a:any-link {
    vertical-align: middle;
}

.cards > .card a::after {
    background-color: currentcolor;
    content: '';
    display: inline-block;
    height: .8125rem;
    margin-left: .5rem;
    mask-image: url('../../styles/caret-right.svg');
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-image: url('../../styles/caret-right.svg');
    vertical-align: middle;/* TODO: replace with flex on button? */
    width: .5rem;
}

/* alignment styles */
.cards > .card[data-align="center"] {
    text-align: center;
}

.cards > .card[data-align="center"] > .image {
    align-self: center;
}

.cards > .card[data-align="center"] > .button-container {
    align-items: center;
}

.cards > .card[data-align="right"] {
    text-align: right;
}

.cards > .card[data-align="right"] > .image {
    align-self: end;
}

.cards > .card[data-align="right"] > .button-container {
    align-items: end;
}

/* image styles */
.cards > .card > .image {
    --image-size: 2rem;

    align-items: center;
    display: flex;
    justify-content: center;
    max-height: var(--image-size);
    max-width: var(--image-size);
}

.cards.image > .card > .image {
    --image-size: revert;

    border-radius: 1rem;
    box-shadow: var(--theme-shadow2-shade5);
    overflow: hidden;
}

.cards.icon-inline > .card {
    position: relative;
    margin-left: calc(var(--gap) * .75);
}

.cards.icon-inline > .card > .title {
    color: var(--theme-shade5);
    font-size: 1.625rem;
    line-height: 1.1538;
}

.cards.icon-inline > .card > .image {
    --image-size: 1.125rem;

    left: calc(-1 * calc(var(--image-size) + .6667rem));
    position: absolute;
    top: .375rem;
}

.cards.icon-inline > .card .button {
    font-size: 1.125rem;
}

.cards.icon-50 > .card > .image {
    --image-size: 3.125rem;
}

.cards.icon-60 > .card > .image {
    --image-size: 3.75rem;
}

/* "hover" style */
.cards.hover > .card {
    --padding: 2.5rem 3.75rem 2.5rem 2.5rem;

    background-color: transparent;
    border-radius: 2.5rem 1rem 6.25rem;
    box-shadow: var(--box-shadow-transition-default);
    transition-property: background-color, box-shadow;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

.cards.hover > .card:hover {
    background-color: var(--color-white);
    box-shadow: var(--theme-shadow3-shade5);
}

/* "theme" style */
.cards.background {
    --gap: 1.5625rem;
}

@media (min-width: 600px) {
    .cards.background {
        --gap: 2.5rem;
    }
}

.cards.background > .card {
    --padding: 2.5rem;

    background-color: var(--color-white);
    border-radius: 1rem;
}

.cards.background > .card > .title,
.cards.background > .card .button:any-link {
    transition: color .25s ease-in-out;
}

.cards.background > .card:hover > .title,
.cards.background > .card:hover .button:any-link {
    color: var(--theme-shade5);
}

.cards.background > .card .button:any-link {
    color: var(--color-gray-12);
    font-size: 1.125rem;
}

/* "theme highlight" style */
.cards.background.highlight > .card {
    box-shadow: var(--theme-shadow2-shade5);
}

/* "image" styles */
.cards.image > .card > .title {
    margin-top: .625rem;
}

/* "dual-tone" styles */
.cards.dual-tone > .card > .title {
    margin-top: .625rem;
}

.cards.dual-tone > .card > .title > a:any-link {
    color: var(--theme-shade5);
}

.cards.dual-tone > .card > .title > strong {
    color: var(--theme-shade5);
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--heading-font-weight);
    letter-spacing: .125rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.cards.dual-tone > .card > p {
    margin-top: -.5rem;
}

.cards.dual-tone.style-3d > .card {
    background-color: var(--color-white);
    border-radius: 1rem;
    border: .125rem solid var(--theme-base);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1rem;
    margin-left: .625rem;
    padding: 1.5625rem 1.5625rem 1.875rem;
    position: relative;
}

.cards.dual-tone.style-3d > .card::before {
    background: linear-gradient(120deg, var(--theme-tint5) 13.4%, var(--secondary-theme-base) 86.6%);
    border-radius: 1rem;
    content: '';
    height: 100%;
    left: -.625rem;
    position: absolute;
    top: 1rem;
    width: 100%;
    z-index: -1;
}

.cards.dual-tone.style-3d > .card > .title {
    color: var(--secondary-theme-shade5);
    margin-top: 0;
}

.cards.dual-tone.style-3d > .card > p {
    margin-top: 0;
}

.cards.dual-tone.style-3d > .card > .button-container {
    margin-top: auto;
}

.cards.dual-tone.style-3d > .card .button:any-link {
    color: var(--theme-shade5);
    font-size: .75rem;
    letter-spacing: .1rem;
    line-height: 1.25;
    text-transform: uppercase;
}

/* TODO: temp to be removed? */
main .section > .cards-wrapper {
    max-width: 1160px;
}

/* TODO: remove, just to show styles with white BG */
.temp-bg-alt {
    background-color: var(--color-gray-1);
    padding-bottom: 3rem;
    padding-top: .1rem;
}
