.columns > div {
  display: flex;
  flex-direction: column;
}

.columns-wrapper.medium-width {
  max-width: 1300px;
}

.columns-wrapper.small-width {
  max-width: 1000px;
}

.columns-wrapper.z-index-1 {
  position: relative;
  z-index: 1;
}

.columns img {
  width: 100%;
}

.columns a:not(.button) {
  font-weight: var(--heading-font-weight);
  color: var(--theme-shade10);
  background-image: linear-gradient(rgb(0 0 0 / 0%) 50%, var(--secondary-theme-tint10) 0);
}

.columns .column-small-icons-container.column-multi-element a {
  color: var(--theme-shade5);
  background-image: unset;
}

.columns .column-small-icons-container.column-multi-element a:not(.column-svg-link)::after {
  background-color: currentcolor;
  content: '';
  display: inline-block;
  height: .8125rem;
  margin-left: .5rem;
  mask-image: url('../../styles/caret-right.svg');
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: url('../../styles/caret-right.svg');
  vertical-align: middle;/* TODO: replace with flex on button? */
  width: .5rem;
  position: unset;
}

.columns a.button:not(.link):any-link {
  color: var(--theme-tint5);
  background-color: var(--theme-shade15);
}

.columns.button-theme-shade-5 a.button:not(.link):any-link {
  color: var(--color-white);
  background-color: var(--theme-shade5);
  border: solid 2px var(--theme-shade5);
  transition: background-color .25s ease-in-out;
  margin: 0;
}

.columns.button-theme-shade-5 a.button.light:not(.link):any-link {
  color: var(--theme-shade5);
  background: unset;
  border: solid 2px var(--theme-shade5);
}

.columns.button-theme-shade-5 a.button:not(.link):any-link:hover {
  background-color: var(--theme-shade10);
}

.columns.button-theme-shade-5 a.button.light:not(.link):any-link:hover {
  color: var(--theme-shade5);
  background-color: var(--theme-tint10);
}

.columns.columns-3-cols p,
.columns.columns-4-cols p,
.columns.listing-highlights p,
.columns.small-icons p,
.home-more .columns p {
  margin: 0;
}

.home-more .columns p strong {
  color: var(--heading-color);
  font-style: italic;
}

.home-more .columns p {
  color: var(--heading-color);
  font-family: var(--body-font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.home-more .columns p:first-of-type {
  margin-bottom: 5px;
}

.cards-col a.button:any-link {
  color: #1087cc;
  font-family: 'Red Hat Text', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.columns-3-cols a.button:any-link,
.columns-4-cols a.button:any-link,
.listing-highlights a.button:any-link,
.columns.small-icons a.button:any-link,
.home-more .columns a.button:any-link {
  background-color: unset;
  white-space: unset;
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
  border: 0;
}

.home-more .columns a.button:any-link {
  color: var(--heading-color);
  font-family: var(--body-font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.column-small-icons-container {
  padding-top: 30px;
}

.column-small-icons-container > div {
  position: relative;
}

.column-small-icons-container a:not(.column-svg-link)::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
  background-color: rgba(0 0 0 0%);
}

.columns.small-icons a.button:any-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--theme-shade5);
  background-color: transparent;
  border-radius: 0;
}

.home-more .columns a.button:any-link::after {
  content: '';
  border: solid var(--heading-color);
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg) translateY(calc(-50% + 1px));
  top: calc(50% - 1px);
  margin-left: 5px;
}

.columns-3-cols p.button-container,
.home-more .columns p.button-container {
  display: inline-block;
  text-align: left;
}

.columns.button-inline .button-container {
  display: inline-block;
  margin-right: 20px;
}

.columns.button-inline .button-container:last-of-type {
  margin-top: 0;
  margin-right: 0;
}

.columns.small-icons p:not(:first-of-type) {
  margin-top: 2px;
}

.home-more .columns p.button-container {
  margin-top: 30px;
}

.columns-3-cols img {
  margin-bottom: 24px;
}

.columns-3-cols img,
.columns-4-cols img,
.listing-highlights img,
.columns.small-icons img,
.home-more .columns img,
.columns .columns-title-span img {
  width: auto;
}

.home-more .columns img {
  margin-bottom: 24px;
}

.columns.columns-4-cols,
.columns.listing-highlights,
.columns.small-icons {
  text-align: center;
}

.icon-2-cols,
.icon-3-cols,
.icon-4-cols,
.icon-5-cols,
.icon-6-cols,
.icon-7-cols {
  flex: 0 0 auto;
  width: 50%;
  margin-bottom: 30px;
  padding: 0 20px;
  box-sizing: border-box;
}

.home-more .columns > div > div {
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  .home-more .columns > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  .home-more .columns > div > div {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 0;
  }
}

/* Listings */
.integrations-listing .columns-wrapper {
  margin-top: 130px;
}

.integrations-listing .columns div:first-of-type {
  flex-flow: wrap;
  flex-direction: row;
}

.integrations-listing .columns div:first-of-type > div {
  width: 50%;
  margin-bottom: 40px;
}

.integrations-listing .columns.listing-highlights.columns-1-cols div > div {
  width: 100%;
}

.cards-col h4 {
  margin: 0 auto 20px;
}

.integrations-listing .columns h4 {
  font-style: normal;
  font-weight: var(--heading-font-weight);
  font-size: 14px;
  line-height: 24px;
  margin: 20px 0 10px;
}

.integrations-listing .columns p:first-of-type {
  font-size: 12px;
  line-height: 15px;
}

main .section > .card-wrapper {
  max-width: 1200px;
}

.col-cards-wrapper {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: 0 0 50px 50px;
  display: flex;
}

.cards-col {
  border: 2px solid #16acff;
  background-color: #fff;
  padding: 25px 25px 30px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  height: initial;
}

.cards-col .button-container {
  margin-top: 30px;
}

.cards-col .button-container::after {
  margin-left: 10px;
  content: url('https://www.bamboohr.com/images/icons/color5-shade5-right-arrow.svg');
}

.cards-border {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 15px;
  left: -10px;
  background: linear-gradient(120deg, #5cc8ff 13.4%, #a168ff 86.6%);
  border-radius: 15px;
}

.columns.button-style-link p.button-container {
  margin-top: 10px;
}

.columns.step .step-wrap {
  align-items: flex-start;
  flex-direction: row;
  max-width: 840px;
  margin: 46px auto 0;
}

.columns.step .step-wrap h4 {
  margin-top: 0;
}

.columns.step .step-left {
  width: 100%;
  max-width: 78px;
  padding-right: 7px;
  white-space: nowrap;
  text-align: right;
}

.columns.step .step-right {
  padding-left: 18px;
  border-left: 2px solid var(--theme-tint10);
}

.columns.step .step-right h4 {
  margin-bottom: -10px;
}

.columns.step .step-right ul:last-child,
.columns.step .step-right li:last-child,
.columns.step .step-right p:last-child {
  margin-bottom: 0;
}

.columns > .column-cards-container {
  flex-flow: row wrap;
  margin-left: -50px;
}

.columns.image-round-corners img:first-of-type {
  border-radius: 15px;
}

.columns.image-shadow div:not(.wistia) img:first-of-type,
.columns.image-shadow .wistia picture:first-of-type {
  box-shadow: var(--box-shadow-2);
}

.columns.app-links .img-col p:last-child {
  display: flex;
  justify-content: center;;
}

.columns.app-links .img-col p:last-child a {
  max-width: 200px;
  background: none;
}

.columns.app-links .img-col p:last-child a img {
  border-radius: 0;
}

.columns.app-links .img-col p:last-child a:first-child {
  margin-right: 40px;
}

.columns.testimonial .non-img-col > p:first-of-type {
  font-family: var(--body-font-family);
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  font-style: italic;
  position: relative;
}

.columns.testimonial .non-img-col > p {
  padding-left: 48px;
}

.columns.testimonial .non-img-col > p:first-of-type::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('/icons/quotation-mark.svg') no-repeat 50% 50%;
  mask: url('/icons/quotation-mark.svg') no-repeat 50% 50%;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--theme-base);
  height: 30px;
  width: 41px;
}

.columns.testimonial .non-img-col p:last-of-type > em {
  font-family: var(--body-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 30px 0 0;
  font-style: normal;
}

@media (min-width: 600px) {
  .icon-3-cols {
    width: 33.33%;
  }

  .icon-4-cols,
  .icon-5-cols,
  .icon-6-cols,
  .icon-7-cols {
    width: 25%;
  }

  .integrations-listing .columns div:first-of-type {
    flex-wrap: nowrap;
  }

  .col-cards-wrapper {
    width: calc(50% - 50px);
  }
}

@media (min-width: 900px) {
  .columns:not(.columns-1-cols) > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns-3-cols > div,
  .columns-4-cols > div,
  .listing-highlights > div {
    align-items: flex-start;
  }

  .columns > .column-cards-container {
    align-items: stretch;
    margin-left: 0;
    justify-content: space-between;
  }

  .icon-5-cols {
    width: 20%;
  }

  .icon-6-cols {
    width: 16.66%;
  }

  .icon-7-cols {
    width: 14.28%;
  }

  .columns > div > div:first-of-type {
    margin-left: unset;
  }

  .columns > div > div:last-of-type {
    margin-right: unset;
  }

  .integrations-listing .columns h4 {
    font-size: 20px;
    line-height: 28px;
  }

  .integrations-listing .columns p:first-of-type {
    font-size: 17px;
    line-height: 24px;
  }

  .col-cards-wrapper {
    max-width: 350px;
    margin-bottom: 20px;
    width: calc(33.33% - 50px);
  }

  .columns.app-links .img-col p:last-child {
    justify-content: flex-start;
  }
}

.resources-guides .columns.small-icons {
  margin-top: 60px;
}

main .section p.button-container.left {
  text-align: left;
}

/* Column containers */
.columns .column-flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.columns.grid .column-flex-container {
  gap: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.columns.grid .column-flex-container h4 {
  margin-top: 27px;
  margin-bottom: 0;
}

.columns.grid.columns-3-cols img {
  margin-bottom: 0;
}

.columns .column-flex-container.columns-align-start {
  align-items: flex-start;
}

div .tablet-center-image .column-flex-container.columns-align-start {
  align-items: center;
}

.columns .column-small-icons-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 -20px;
}

.columns.align-top .column-flex-container {
  align-items: flex-start;
}

.columns.align-center .column-flex-container {
  align-items: center;
}

.columns.align-bottom .column-flex-container {
  align-items: flex-end;
}

.columns .column-small-icons-container.column-multi-element {
  justify-content: unset;
  align-items: center;
  margin: 0;
  gap: 1rem;
}

.columns .column-small-icons-container.column-multi-element p {
  text-align: center;
  margin-bottom: 0;
}

.columns .column-small-icons-container.column-multi-element p.button-container {
  max-width: 145px;
  text-align: center;
}

.columns .columns-title-span {
  width: 100%;
}

.columns.column-title-h2 h2 {
  color: var(--theme-shade5);
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.columns .icon {
  color: var(--theme-base);
}

.columns .icon .shade {
  color: var(--theme-base);
}

.columns .icon .tint {
  color: var(--theme-tint15);
}

.columns .icon.icon-calendar-invite svg,
.columns .icon.icon-culture svg,
.columns .icon.icon-hr-database svg,
.columns .icon.icon-hr-resources svg,
.columns .icon.icon-search-profile svg {
  width: 6rem;
  height: auto;
}

.column1 {
  flex: 0 0 auto;
  width: calc(8.33% - 20px);
}

.column2 {
  flex: 0 0 auto;
  width: calc(16.67% - 20px);
}

.column3 {
  flex: 0 0 auto;
  width: calc(25% - 20px);
}

.column4 {
  flex: 0 0 auto;
  width: calc(33.33% - 20px);
}

.column5 {
  flex: 0 0 auto;
  width: calc(41.67% - 20px);
}

.column6 {
  flex: 0 0 auto;
  width: calc(50% - 20px);
}

.column7 {
  flex: 0 0 auto;
  width: calc(58.33% - 20px);
}

.column8 {
  flex: 0 0 auto;
  width: calc(66.67% - 20px);
}

.column9 {
  flex: 0 0 auto;
  width: calc(75% - 20px);
}

.column10 {
  flex: 0 0 auto;
  width: calc(83.33% - 20px);
}

.column11 {
  flex: 0 0 auto;
  width: calc(91.67% - 20px);
}

@media (max-width: 899px) {
  .columns .column-flex-container {
    flex-flow: column;
  }

  .img-col {
    order: 1;
    width: unset;
  }

  .non-img-col {
    order: 2;
    width: unset;
  }

  .resources-guides .img-col {
    max-width: 200px;
  }

  .columns.columns-2-cols:not(.title2-heading) .column-flex-container {
    text-align: center;
  }
  
  .columns.columns-2-cols:not(.hero-subhead) .column-flex-container .non-img-col:not(.columns-title-span) p {
    text-align: left;
  }
  
  .columns.columns-2-cols:not(.title2-heading) .column-flex-container .non-img-col p.button-container.left {
    text-align: center;
  }
}

.column-flex-container > div > picture {
  display: block;
}

.columns.title1-heading h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  font-style: italic;
  color: var(--theme-shade10);
}

.columns.title1-heading h2 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  font-style: normal;
  color: var(--theme-shade5);
}

.columns.section-header :is(h1, h2, h3, h4, h5, h6, div) {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  font-style: italic;
  color: var(--theme-shade10);
}

.columns.hero-subhead p:not(.button-container, :last-child) {
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.columns.section-subhead p:not(.button-container, :last-child) {
  font-family: var(--body-font-family);
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}

.columns p:last-child > em {
  font-size: 14px;
  line-height: 24px;
}

.columns.title2-heading h3 {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  color: var(--theme-shade5);
}

.columns.title2-heading .non-img-col p {
  margin-top: 4px;
}

.columns.gray-heading h2,
.columns.gray-heading p,
.columns.gray-heading ul li {
  color: var(--color-gray-12);
}

.columns .non-img-col ul li strong {
  color: var(--theme-shade10);
}

.columns .img-col h3 {
  color: var(--color-gray-10);
  font-style: normal;
}

.columns.image-info .img-col em,
.columns .img-col em {
  font-family: var(--body-font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-style: normal;
  color: var(--color-gray-12);
}

.columns.image-info .img-col[data-align='center'],
.columns .img-col[data-align='center'] {
  text-align: center;
}

.columns.button-color-gradient a.button:not(.link):any-link {
  background-image: linear-gradient(90deg, var(--theme-shade5) 0%, var(--theme-shade10) 100%);
  color: var(--color-white);
}

.columns.small-button .button {
  font-size: 15px;
  line-height: 18px;
  padding: 10px 30px;
}

.columns [data-align='center'] {
  text-align: center;
}

.columns.button-text-color-shade-5 a.button.link:any-link {
  color: var(--theme-shade5);
}

.columns.mb-minus-72-px {
  margin-bottom: -72px;
}

.columns[class*='background-card-color-'] {
  padding: 10px 60px;
  margin: 0 -60px;
  border-radius: 15px;
}

.columns.background-card-color-tint-15 {
  background-color: var(--theme-tint15);
}

@media (min-width: 600px) {
  .columns.hero-subhead p:not(.button-container, :last-child) {
    font-size: 21px;
    line-height: 28px;
  }
}

@media (min-width: 900px) {
  .columns.title1-heading h1 {
    font-size: 54px;
    line-height: 60px;
  }

  .columns.title1-heading h2 {
    margin: 0 0 30px;
  }
}

@media (min-width: 1025px) {
  .columns.img-padding-left .img-col {
    padding-left: 40px;
  }
  
  .columns.img-padding-right .img-col {
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .columns.title1-heading h1 {
    font-size: 70px;
    line-height: 80px;
  }

  .columns.column-title-h2 h2,
  .columns.section-header :is(h1, h2, h3, h4, h5, h6, div) {
    font-size: 48px;
    line-height: 60px;
  }
}

.columns.image-auto-width .img-col img {
  width: auto;
}
