main .speakers ul {
  --cols: 1;

  display: grid;
  gap: 40px;
  grid-template-columns: repeat(var(--cols), 1fr);
  list-style-type: none;
}

@media (min-width: 600px) {
    main .speakers.style-2-columns ul{
        --cols: 2;
    }
}

main .speakers .speaker-card {
  text-align: center;
}

main .speakers .speaker-card .speaker-name {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--color-gray-12);
}

main .speakers .speaker-card .speaker-position {
  margin: 4px 0 30px;
}

main .speakers .speaker-card .speaker-image img {
  border-radius: 50%;
  margin-bottom: 30px;
}

main .speakers .speaker-card .speaker-bio {
  text-align: left;
}