main .title [data-align='center'] {
  text-align: center;
}

main .title [data-align='left'] {
  text-align: left;
}

main .title [data-align='right'] {
  text-align: right;
}

main .title.spacing-top-none :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}
