/* search */

.header-search img, 
.header-search .icon svg {
  width: 36px;
  height: 36px;
  object-fit: contain;
  display: inline-block;
  padding: 9px;
  color: #9CA393;
}

.nav-search-btn .icon-search svg {
  color: var(--color-1);
}

.nav-search-input-btn .icon-search svg {
  color: var(--color-white);
}

.header-search {
  position: fixed;
  right: 20px;
  top: 86px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  cursor: pointer;
}

.header-search > a {
  width: 54px;
  height: 54px;
  line-height: 54px;
  box-shadow: var(--box-shadow-1);
  background-color: var(--color-white);
  margin: 10px;
  padding: 9px;
  border-radius: 27px;
  box-sizing: border-box;
}

.header-search a:hover {
  background-color: var(--color-gray-1);
}

.header-search-modal {
  transform: scale(0);
  opacity: 0;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: var(--body-background-color);
  z-index: 1;
  transition: all 0.1s ease-out;
}

.header-search-modal.visible {
  transform: scale(1);
  opacity: 1;
  display: unset;
}

.header-search-modal main {
  overflow-y: scroll;
  height: 100%;
}

.header-search-close {
  position: absolute;
  right: 20px;
  top: 16px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 54px;
  height: 54px;
  line-height: 54px;
  box-shadow: var(--box-shadow-1);
  background-color: var(--color-gray-3);
  margin: 10px;
  padding: 9px;
  border-radius: 27px;
  box-sizing: border-box;
  cursor: pointer;
}

.header-search-close::before,
.header-search-close::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 21px;
  height: 3px;
  background: var(--color-white);
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
  margin: 18px 16px;
}

.header-search-close::after {
  transform: rotate(-45deg);
}

/* header and nav layout */

header {
  --background-color: 255, 255, 255;
  --secondary-background-color: 192, 192, 192;
}

header .nav {
  display: grid;
  grid-template-areas: "brand hamburger" "sections sections" "buttons buttons";
  grid-template-columns: calc(100% - 22px) 22px;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: 70px 1fr 2fr;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 200;
  background-color: rgb(255 255 255 / 95%);
  width: 100vw;
  height: 70px;
  border-bottom: 3px solid var(--color-gray2);
  box-sizing: border-box;
  overflow: scroll;
}

/* hamburger */

header .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  color: var(--color-gray3);
}

header .nav[aria-expanded="false"] .nav-hamburger-icon,
header .nav[aria-expanded="false"] .nav-hamburger-icon::after,
header .nav[aria-expanded="false"] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header .nav[aria-expanded="false"] .nav-hamburger-icon::after,
header .nav[aria-expanded="false"] .nav-hamburger-icon::before {
  content: "";
  position: absolute;
  top: -6px;
}

header .nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header .nav[aria-expanded="true"] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header .nav[aria-expanded="true"] .nav-hamburger-icon::after,
header .nav[aria-expanded="true"] .nav-hamburger-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

header .nav[aria-expanded="true"] .nav-hamburger-icon::after {
  transform: rotate(-45deg);
}

/* brand */

header .nav-brand {
  grid-area: brand;
  font-size: 17px;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--color-1);
}

header .nav-brand a:any-link {
  color: inherit;
  text-decoration: inherit;
}

header .nav-brand p {
  margin: 0;
}

header .nav-brand:not(.simple) .icon::after {
  content: "|";
  color: var(--color-1);
  margin: 0 10px;
}

header .nav-brand p img {
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 9px;
  padding-right: 9px;
  height: 18px;
  border-right: 1px solid var(--color-1);
}

/* sections */

header .nav-sections {
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: rgba(var(--background-color) / 92%);
}

header .nav-sections ul {
  list-style: none;
  padding-left: 0;
}

header .nav-sections li {
  font-size: 20px;
  font-weight: 700;
}

header .nav[aria-expanded="true"] .nav-sections {
  display: block;
  align-self: flex-start;
}

header .nav[aria-expanded="true"] {
  min-height: 100vh;
}

header .nav-sections h2 {
  border-bottom: 2px solid var(--color-gray-2);
}

header .nav-sections h2,
header .nav-sections h2 a:any-link {
  position: relative;
  font-size: 16px;
  color: var(--color-gray-11);
  font-weight: 700;
  padding: 21px 0 18px;
  text-decoration: none;
}

header .nav-section ul,
header .nav-section .nav-section-wrapper {
  opacity: 0;
  max-height: 0;
  position: absolute;
  display: block;
  box-sizing: border-box;
  transform: translate(0, -1000px);
}

header .nav-section ul a:any-link {
  text-decoration: none;
  color: var(--color-gray-8);
}

header .nav-section li {
  font-size: 14px;
  color: var(--color-gray-8);
  padding: 10px 0;
}

header .nav-section li a:any-link {
  display: block;
  color: var(--color-gray-11);
}

header .nav-section[aria-expanded="true"] > ul,
header .nav-section[aria-expanded="true"] > .nav-section-wrapper {
  position: relative;
  opacity: 1;
  max-height: 100vh;
  display: block;
  transform: unset;
}

header .nav-section > ul > *,
header .nav-section > .nav-section-wrapper > * {
  opacity: 0;
}

header .nav-section[aria-expanded="true"] > ul > *,
header .nav-section[aria-expanded="true"] > .nav-section-wrapper > * {
  opacity: 1;
}

header .nav-section[aria-expanded="true"] li[aria-expanded="true"] > ul {
  position: relative;
  opacity: 1;
  max-height: 100vh;
  display: block;
  transform: unset;
}

/* nav buttons */

header .nav-buttons {
  grid-area: buttons;
  display: none;
  width: 100vw;
  width: 100%;
}

header .nav[aria-expanded="true"] .nav-buttons {
  display: block;
  align-self: flex-start;
}

header .nav-buttons .button.small.phone-number {
  display: none;
}

header .nav-buttons .nav-search-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

header .nav-buttons .nav-search-wrapper.search-open {
  margin-top: 1em;
  margin-bottom: 1em;
}

header .nav-buttons .nav-search-btn {
  display: none;
  cursor: pointer;
}

header .nav-buttons .nav-search-btn.hide-btn {
  display: none;
}

header .nav-buttons .nav-search-text-area {
  display: flex;
  width: 100%;
  margin: 0 5px;
}

header .nav-buttons .nav-search-text-area.show-input {
  display: flex;
}

.nav-search-input-wrapper {
  width: 100%;
}

.nav-search-input {
  width: 100%;
  border-radius: 25px 0 0 25px;
  padding: 10px 15px;
  font-family: var(--body-font-family);
  font-size: 14px;
  color: var(--color-gray-12);
  line-height: 18px;
  background-color: var(--color-gray-1);
  transition: all .3s ease-in-out;
  border: 2px solid var(--color-gray-1);
  margin: 0;
}

.nav-search-input:focus {
  outline: none;
  border-color: var(--color-5);
}

.nav-search-input-btn {
  line-height: 0;
  border-radius: 0 25px 25px 0;
  border: 2px solid transparent;
  max-width: 50px;
  width: 100%;
  background-color: var(--color-1);
  cursor: pointer;
}

header .nav-buttons .button {
  padding: 5px 20px;
  min-width: 60px;
  margin: 0 5px;
  box-sizing: border-box;
  width: 100%;
}

header .nav-buttons .button.light:hover {
  background-color: var(--color-white);
  color: var(--color-1);
}

header .nav-section.nav-section-subscribe {
  font-size: 14px;
  color: #777;
}

header .nav-section.nav-section-subscribe h3 {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-style: italic;
  color: #777;
}

header .nav-section.nav-section-subscribe input {
  width: 100%;
  height: 50px;
  background-color: #f5f4f1;
  border-radius: 30px;
  border: none;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: var(--body-font-family);
}

header .nav-section.nav-section-subscribe button {
  position: absolute;
  right: 0;
  background-color: var(--color-1);
  border: none;
  height: 50px;
  border-radius: 0 30px 30px 0;
  padding: 0 20px;
  font-weight: 800;
  color: var(--color-white);
  font-family: var(--body-font-family);
}

header .nav-section.nav-section-subscribe form {
  position: relative;
}

/* desktop nav styles */
@media (min-width: 1025px) {
  header .nav {
    overflow: unset;
    grid-template-areas: "brand sections buttons";
    grid-template-columns: 300px 1fr 250px;
    background-color: var(--color-white);
  }

  header .nav.extra-buttons {
    grid-template-columns: 150px 1fr 225px;
  }

  header .nav.extra-buttons.has-search {
    grid-template-columns: 150px 1fr 240px;
  }

  header .nav.extra-buttons.search-open {
    grid-template-columns: 150px 1fr 275px;
  }

  header .nav-buttons .nav-search-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
  }

  header .nav-buttons .nav-search-btn {
    display: unset;
  }

  header .nav-buttons .nav-search-text-area {
    display: none;
    width: 250px;
    margin: 0;
  }

  .nav-search-input-wrapper {
    max-width: 250px;
  }

  .nav-search-input,
  .nav-search-input-btn {
    height: 35px;
  }

  .nav-search-input {
    padding: 0 15px;
  }

  header .nav-brand p img {
    height: 23px;
    padding-left: 22px;
  }

  header .nav-hamburger {
    display: none;
  }

  header .nav-sections {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    height: 100%;
    align-items: center;
  }

  header .nav[aria-expanded="true"] .nav-sections {
    display: flex;
    min-height: unset;
  }

  header .nav-section {
    padding: 0 22px;
    position: relative;
    border-width: 3px 0 0;
    border-style: solid;
    border-color: transparent;
  }

  header .nav-section:hover {
    border-top-color: var(--color-1);
  }

  header .nav-sections h2,
  header .nav-sections h2 a:any-link {
    font-size: 14px;
    color: var(--color-gray-7);
    margin: 0;
    padding: 0;
    cursor: default;
    display: flex;
    align-items: center;
    height: 67px;
    border: none;
    white-space: nowrap;
  }

  header .nav-sections h2 a:any-link {
    cursor: pointer;
  }

  header .nav-section:hover h2 {
    color: var(--color-1);
  }

  header .nav-section ul,
  header .nav-section .nav-section-wrapper {
    opacity: 0;
    padding-bottom: 30px;
    padding-top: 18px;
    max-height: 0;
    position: absolute;
    display: block;
    background-color: rgba(var(--background-color));
    width: 300px;
    left: -22px;
    top: 63px;
    margin-top: 0;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    color: #666;
    transform: translate(0, -1000px);
  }

  header .nav-section li {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 44px;
    cursor: default;
  }

  header .nav-section li a:any-link {
    cursor: pointer;
    color: var(--color-gray-8);
    padding: 0;
  }

  header .nav-section li > ul {
    background-color: var(--color-gray-1);
    width: 300px;
    left: 20px;
    top: 0;
    border-radius: 0 0 20px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 12px;
    max-height: unset;
  }

  header .nav-section[aria-expanded="true"] > ul,
  header .nav-section:hover > ul,
  header .nav-section[aria-expanded="true"] > .nav-section-wrapper,
  header .nav-section:hover > .nav-section-wrapper {
    position: absolute;
    opacity: 1;
    max-height: 100vh;
    display: block;
    transition: max-height 0.4s linear;
    transform: unset;
  }

  header .nav-section > ul > *,
  header .nav-section > .nav-section-wrapper > * {
    opacity: 0;
    transition: opacity 0.6s linear;
  }

  header .nav-section[aria-expanded="true"] > ul > *,
  header .nav-section:hover > ul > *,
  header .nav-section[aria-expanded="true"] > .nav-section-wrapper > *,
  header .nav-section:hover > .nav-section-wrapper > * {
    opacity: 1;
  }

  header .nav-section[aria-expanded="true"] li[aria-expanded="true"] > ul,
  header .nav-section:hover li.show-sub-menu > ul {
    position: absolute;
    opacity: 1;
    left: 280px;
    transition: left 0.4s linear;
    z-index: -1;
    transform: unset;
  }

  header .nav-section[aria-expanded="true"] li[aria-expanded="true"],
  header .nav-section:hover li:hover {
    color: var(--color-1);
  }

  header .nav-section li a:any-link:hover {
    color: var(--color-1);
  }

  header .nav-section[aria-expanded="true"] li[aria-expanded="true"]::after,
  header .nav-section:hover li.sub-menu:hover::after {
    content: "❯";
    float: right;
  }

  header .nav-buttons {
    margin: auto 0;
    display: flex;
    width: 100vw;
  }

  header .nav-buttons .button {
    padding: 5px 20px;
    min-width: 60px;
    margin: 0 5px;
    box-sizing: unset;
    width: auto;
  }

  header .nav-buttons .button.small {
    padding: 8px 20px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: 900;
    font-family: var(--body-font-family);
    border: solid 2px var(--color-1);
  }

  header .nav-section.nav-section-subscribe .nav-section-wrapper {
    padding: 42px;
    width: 500px;
  }
}

@media (min-width: 1060px) {
  header .nav-buttons .nav-search-text-area {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  header .nav.extra-buttons {
    grid-template-columns: 150px 1fr 425px;
  }

  header .nav.extra-buttons.has-search {
    grid-template-columns: 150px 1fr 440px;
  }

  header .nav.extra-buttons.search-open {
    grid-template-columns: 150px 1fr 275px;
  }

  header .nav-buttons .button.small.phone-number {
    color: var(--color-1);
    background-color: unset;
    border: solid 2px var(--color-white);
    font-size: 15px;
    line-height: 22px;
    padding: 6px 20px;
    display: inline-block;
  }
}

@media (min-width: 1300px) {
  header .nav.extra-buttons {
    grid-template-columns: 180px 1fr 425px;
  }

  header .nav.extra-buttons.has-search {
    grid-template-columns: 180px 1fr 440px;
  }

  header .nav.extra-buttons.search-open {
    grid-template-columns: 180px 1fr 275px;
  }
}

@media (min-width: 1330px) {
  header .nav.extra-buttons.search-open {
    grid-template-columns: 180px 1fr 541px;
  }
}
