
/* article header */
main .article-header-container {
  padding: 0;
}

main .article-header-container > div {
  max-width: unset;
  padding: 0;
  margin: 0 auto;
}

main .article-header > div {
  max-width: 800px;
  margin: auto;
  padding: 0 20px
}

main .article-header p {
  display: inline-block;
  margin: 0;
}

main .article-header .article-header-image {
  max-width: unset;
  position: relative;
  height: 450px;
  background-image: url('../../styles/single-post-leaf.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

main .article-header picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .article-header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .article-header-eyebrow, main .article-header-eyebrow:any-link {
  color: var(--category-color);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}

main .article-header-read-time::before {
  content: '•';
  display: inline-block;
  margin: 1px 8px 0 4px;
  font-size: 10px;
  vertical-align: top;
}

main .article-header-read-time:empty::before {
  display: none;
}

main .article-header h1 {
  font-style: italic;
  margin: 17px 0;
}

main .article-header .article-header-author-pub {
  margin-top: 45px;
  color: var(--body-color);
  font-size: 15px;
  font-weight: 400;
}

main .article-header-author::before {
  content: 'By ';
}

main .article-header-publication-date::before {
  content: '•';
  display: inline-block;
  margin: 3px 15px 0;
  font-size: 11px;
  vertical-align: top;
}

main p.article-header-updated-date {
  display: block;
  font-style: italic;
  color: var(--color-gray-7);
  margin-top: 5px;
}

main p.article-header-updated-date:empty {
  display: none;
}

main p.article-header-updated-date::before {
  content: 'Updated ';
}

main .article-header .article-header-author-pub::after {
  content: ' ';
  width: 30px;
  height: 2px;
  background-color: var(--color-gray-3);
  display: block;
  margin-top: 24px;
}

main .article-header > .article-header-share {
  margin-top: 60px;
}

main .article-header-share > a {
  padding: 9px;
  border-radius: 18px;
  display: inline-block;
  line-height: 0;
}

main .article-header a:any-link {
  color: var(--category-color);
  text-decoration: none;
}

main .article-header-share img,
main .article-header-share .icon svg {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

@media (min-width: 900px) {
  main .article-header-eyebrow {
    font-size: 18px;
  }

  main .article-header-read-time::before {
    content: '•';
    margin: 5px 10px 0;
    font-size: 10px;
  }

  main .article-header-share {
    position: fixed;
    right: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
  }

  main .article-header-share > a {
    width: 54px;
    height: 54px;
    line-height: 54px;
    box-shadow: var(--box-shadow-1);
    background-color: var(--color-white);
    margin: 10px;
    border-radius: 27px;
    box-sizing: border-box;
  }

  main .article-header-share img,
  main .article-header-share .icon svg {
    display: inline-block;
    padding: 9px
  }

  main .article-header-share a:hover {
    background-color: var(--color-gray-1);
  } 
}

.article-header progress {
  position: fixed;
  left: 0;
  top: 70px;
  width: 100%;
  height: 4px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--color-1);
  z-index: 1;
}

.article-header progress::-webkit-progress-bar {
  background-color: transparent;
}

.article-header progress::-webkit-progress-value {
  background-color: var(--color-1);
}
