@import "../../blog/styles/styles.css";

/*
* This should only contain styles for style guide pages
* global styles needs to live in /blog/styles/styles.css
*/

.test {
    background-color: yellow;
}

.test1 {
    width: 100px;
    height: 100px;
    background-color: var(--color-1);
}

.sg-wrapper {
    margin: 0 auto;
    max-width: 1380px;
    padding: 75px 40px 0;
    text-align: left;
}

.sg-section-header {
    width: 100%;
}

.sg-section {
    background: #f0f0f0;
    border: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 0;
    padding: 15px;
    color: #666;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}

.sg-flex {
    margin: 0 auto 20px;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sg-buttons-form {
    width: 400px;
}

.bhrColors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin: 10px auto 0;
  max-width: 1160px;
}

.bhrColors__color {
  height: 175px;
  margin: 0 18px 60px;
  position: relative;
  width: calc(16.67% - 40px);
  flex: 0 0 auto;
}

.bhrColors__color-desc {
  color: #fff;
  bottom: 5px;
  left: 5px;
  line-height: 20px;
  margin: 0;
  position: absolute;
}

.bhrColors__color-desc--dark {
  color: #000;
}

.bhrColors__color-name {
  color: #3a3a3a;
  bottom: -70px;
  height: 32px;
  left: 5px;
  line-height: 20px;
  position: absolute;
  text-transform: uppercase;
}

.bhrcolor-color1-tint15-background {
	background-color: var(--color-1-tint-15);
}

.bhrcolor-color1-tint10-background {
	background-color: var(--color-1-tint-10);
}

.bhrcolor-color1-tint5-background {
	background-color: var(--color-1-tint-5);
}

.bhrcolor-color1-background {
	background-color: var(--color-1);
}

.bhrcolor-color1-shade5-background {
	background-color: var(--color-1-shade-5);
}

.bhrcolor-color1-shade10-background {
	background-color: var(--color-1-shade-10);
}

.bhrcolor-color1-shade15-background {
	background-color: var(--color-1-shade-15);
}


.bhrcolor-color2-tint15-background {
	background-color: var(--color-2-tint-15);
}

.bhrcolor-color2-tint10-background {
	background-color: var(--color-2-tint-10);
}

.bhrcolor-color2-tint5-background {
	background-color: var(--color-2-tint-5);
}

.bhrcolor-color2-background {
	background-color: var(--color-2);
}

.bhrcolor-color2-shade5-background {
	background-color: var(--color-2-shade-5);
}

.bhrcolor-color2-shade10-background {
	background-color: var(--color-2-shade-10);
}

.bhrcolor-color2-shade15-background {
	background-color: var(--color-2-shade-15);
}


.bhrcolor-color3-tint15-background {
	background-color: var(--color-3-tint-15);
}

.bhrcolor-color3-tint10-background {
	background-color: var(--color-3-tint-10);
}

.bhrcolor-color3-tint5-background {
	background-color: var(--color-3-tint-5);
}

.bhrcolor-color3-background {
	background-color: var(--color-3);
}

.bhrcolor-color3-shade5-background {
	background-color: var(--color-3-shade-5);
}

.bhrcolor-color3-shade10-background {
	background-color: var(--color-3-shade-10);
}

.bhrcolor-color3-shade15-background {
	background-color: var(--color-3-shade-15);
}


.bhrcolor-color4-tint15-background {
	background-color: var(--color-4-tint-15);
}

.bhrcolor-color4-tint10-background {
	background-color: var(--color-4-tint-10);
}

.bhrcolor-color4-tint5-background {
	background-color: var(--color-4-tint-5);
}

.bhrcolor-color4-background {
	background-color: var(--color-4);
}

.bhrcolor-color4-shade5-background {
	background-color: var(--color-4-shade-5);
}

.bhrcolor-color4-shade10-background {
	background-color: var(--color-4-shade-10);
}

.bhrcolor-color4-shade15-background {
	background-color: var(--color-4-shade-15);
}


.bhrcolor-color5-tint15-background {
	background-color: var(--color-5-tint-15);
}

.bhrcolor-color5-tint10-background {
	background-color: var(--color-5-tint-10);
}

.bhrcolor-color5-tint5-background {
	background-color: var(--color-5-tint-5);
}

.bhrcolor-color5-background {
	background-color: var(--color-5);
}

.bhrcolor-color5-shade5-background {
	background-color: var(--color-5-shade-5);
}

.bhrcolor-color5-shade10-background {
	background-color: var(--color-5-shade-10);
}

.bhrcolor-color5-shade15-background {
	background-color: var(--color-5-shade-15);
}


.bhrcolor-color6-tint15-background {
	background-color: var(--color-6-tint-15);
}

.bhrcolor-color6-tint10-background {
	background-color: var(--color-6-tint-10);
}

.bhrcolor-color6-tint5-background {
	background-color: var(--color-6-tint-5);
}

.bhrcolor-color6-background {
	background-color: var(--color-6);
}

.bhrcolor-color6-shade5-background {
	background-color: var(--color-6-shade-5);
}

.bhrcolor-color6-shade10-background {
	background-color: var(--color-6-shade-10);
}

.bhrcolor-color6-shade15-background {
	background-color: var(--color-6-shade-15);
}


.bhrcolor-color7-tint15-background {
	background-color: var(--color-7-tint-15);
}

.bhrcolor-color7-tint10-background {
	background-color: var(--color-7-tint-10);
}

.bhrcolor-color7-tint5-background {
	background-color: var(--color-7-tint-5);
}

.bhrcolor-color7-background {
	background-color: var(--color-7);
}

.bhrcolor-color7-shade5-background {
	background-color: var(--color-7-shade-5);
}

.bhrcolor-color7-shade10-background {
	background-color: var(--color-7-shade-10);
}

.bhrcolor-color7-shade15-background {
	background-color: var(--color-7-shade-15);
}


.bhrcolor-color8-tint15-background {
	background-color: var(--color-8-tint-15);
}

.bhrcolor-color8-tint10-background {
	background-color: var(--color-8-tint-10);
}

.bhrcolor-color8-tint5-background {
	background-color: var(--color-8-tint-5);
}

.bhrcolor-color8-background {
	background-color: var(--color-8);
}

.bhrcolor-color8-shade5-background {
	background-color: var(--color-8-shade-5);
}

.bhrcolor-color8-shade10-background {
	background-color: var(--color-8-shade-10);
}

.bhrcolor-color8-shade15-background {
	background-color: var(--color-8-shade-15);
}


.bhrcolor-gray1-background {
	background-color: var(--color-gray-1);
}

.bhrcolor-gray2-background {
	background-color: var(--color-gray-2);
}

.bhrcolor-gray3-background {
	background-color: var(--color-gray-3);
}

.bhrcolor-gray4-background {
	background-color: var(--color-gray-4);
}

.bhrcolor-gray5-background {
	background-color: var(--color-gray-5);
}

.bhrcolor-gray6-background {
	background-color: var(--color-gray-6);
}

.bhrcolor-gray7-background {
	background-color: var(--color-gray-7);
}

.bhrcolor-gray8-background {
	background-color: var(--color-gray-8);
}

.bhrcolor-gray9-background {
	background-color: var(--color-gray-9);
}

.bhrcolor-gray10-background {
	background-color: var(--color-gray-10);
}

.bhrcolor-gray11-background {
	background-color: var(--color-gray-11);
}

.bhrcolor-gray12-background {
	background-color: var(--color-gray-12);
}

.bhrcolor-gray13-background {
	background-color: var(--color-gray-13);
}
