main .multi-hero-container {
    padding: 0;
    position: relative;
}

.multi-hero-background {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.multi-hero-background img {
    width: 100%;
    min-width: 790px;
}

.multi-hero-main-container {
  background: linear-gradient(342.37deg, var(--theme-shade5) 31.85%, var(--theme-tint5) 114.99%);
  padding-top: 20px;
  padding-left: 26px;
  padding-right: 26px;
  text-align: center;
}

.multi-hero.carousel {
  margin-left: 30px;
}

.multi-hero-main-content {
  color: var(--color-white);
  font-size: 21px;
  line-height: 28px;
  font-weight: 500;
  margin: 0 auto;
  max-width: 464px;
}

.multi-hero-main-content h1 {
  color: var(--color-white);
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  margin: 0;
}

.multi-hero-buttons {
  display: flex;
  flex-direction: row;
}

.multi-hero-buttons .button-container {
  margin-left: 10px;
}

.multi-hero-buttons .button-container:first-child {
  margin-left: 0;
}

.multi-hero-buttons .button-container a:any-link {
  background: var(--theme-tint10);
  color: var(--theme-shade15);
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

.multi-hero-buttons .button-container a.light:any-link {
  background: transparent;
  border-color: var(--theme-tint10);
  color: var(--theme-tint10);
}

.multi-hero-mobile-background {
  background: url('images/top-lower-min.webp') no-repeat;
  background-size: contain;
  height: calc(100vw * 1.1834);
  position: absolute;
  top: 331px;
  left: 0;
  right: 0;
  z-index: 0;
}

.multi-hero-carousel > div:nth-child(n + 2) {
  display: none;
}

main .multi-hero {
  position: relative;
}

main .multi-hero .carousel.style-1 span.icon {
  color: var(--theme-shade10);
  top: 6px;
}

main .multi-hero .carousel.style-1 span.icon.icon-star {
  left: 10px;
}

main .multi-hero .carousel.style-1 span.icon.icon-microphone {
  padding-top: 10px;
  left: 20px;
}

main .multi-hero .carousel.style-1 h2,
main .multi-hero .carousel.style-1 .carousel-text {
  color: var(--theme-shade10);
}

main .multi-hero .carousel.style-1 a.button:any-link {
  color: var(--theme-shade5);
}

main .multi-hero .carousel.style-1 a.button::after {
  background-color: var(--color-white);
}

main .multi-hero .carousel-buttons {
  text-align: center;
  margin-top: -48px;
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  justify-content: center;
}

main .multi-hero .carousel.style-1 {
  --gap: 3.5rem;
}

main .multi-hero .carousel.style-1 ~ .carousel-buttons {
  padding-left: 5rem;
}

main .multi-hero .carousel.style-1 ~ .carousel-buttons button::after {
  background-color: transparent;
  border: 2px solid var(--theme-shade5);
}

main .multi-hero .carousel.style-1 ~ .carousel-buttons button.selected::after {
  border-color: var(--theme-shade10);
  background-color: var(--theme-shade10);
}

main .multi-hero .carousel-controls {
  display: none;
}

@media (max-width: 599px) {
  .multi-hero.carousel {
    margin-top: 130px;
  }
}

@media (max-width: 482px) {
  .multi-hero-mobile-background {
    top: 443px;
  }

  .multi-hero.carousel {
    margin-top: 180px;
  }
}

@media (max-width: 456px) {
  .multi-hero-buttons {
    flex-direction: column;
  }

  .multi-hero-mobile-background {
    top: 463px;
  }

  .multi-hero.carousel {
    margin-top: 90px;
  }
}

@media (max-width: 392px) {
  .multi-hero-mobile-background {
    top: 511px;
  }

  .multi-hero.carousel {
    margin-top: 70px;
  }
}

@media (max-width: 376px) {
  .multi-hero-mobile-background {
    top: 539px;
  }
}

@media (max-width: 350px) {
  .multi-hero.carousel {
    margin-top: 30px;
  }
}

@media (min-width: 600px) {
  .multi-hero-background {
    display: block;
  }

  .multi-hero-mobile-background {
    display: none;
  }

  .multi-hero-main-container {
    background: none;
    padding-top: 75px;
    text-align: left;
  }

  .multi-hero.carousel {
    margin-top: 295px;
  }

  .multi-hero-main-content {
    margin: 0;
  }

  .multi-hero-carousel {
    background: none;
    height: auto;
    margin-top: 0;
  }
}

@media (min-width: 1025px) {
  .multi-hero-background img {
    min-width: 1440px;
  }

  .multi-hero-main-content h1 {
    font-size: 54px;
    line-height: 60px;
  }

  .multi-hero.carousel {
    margin-top: 64px;
  }

  main .multi-hero .carousel.style-1 span.icon {
    color: var(--theme-tint10);
  }

  main .multi-hero .carousel.style-1 h2,
  main .multi-hero .carousel.style-1 .carousel-text {
    color: var(--color-white);
  }

  main .multi-hero .carousel.style-1 a.button:any-link {
    color: var(--theme-tint10);
  }

  main .multi-hero .carousel.style-1 ~ .carousel-buttons button::after {
    border: 2px solid var(--theme-tint10);
  }
  
  main .multi-hero .carousel.style-1 ~ .carousel-buttons button.selected::after {
    border-color: var(--color-white);
    background-color: var(--color-white);
  }
}
