/**** BASE Styles ****/
#base {
  --section-padding: 54px;
  --section-padding-mobile: 30px;
}

/** base tags **/
#base .title-spacing-top :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.25em;
}

#base [data-align='center']:not([class*='img-col']) {
  width: 100%;
}

#base [data-align='center'],
#base [data-align='center'] :is(h1, h2, h3, h4, h5, h6, p) {
  text-align: center;
}

#base [data-align='right'] {
  width: 100%;
}

#base [data-align='right'],
#base [data-align='right'] :is(h1, h2, h3, h4, h5, h6, p) {
  text-align: right;
}

#base [data-align='left'],
#base [data-align='left'] :is(h1, h2, h3, h4, h5, h6, p) {
  text-align: left;
}

/** section **/
#base .section:not(.page-header-container):not(:first-of-type) {
  margin-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 600px) {
  #base .section:not(.page-header-container):not(:first-of-type) {
    margin-top: 64px;
  }
}

@media (min-width: 1025px) {
  #base .section:not(.page-header-container):not(:first-of-type) {
    margin-top: 96px;
    padding-bottom: 64px;
  }
}

@media (min-width: 1800px) {
  #base .section:not(.page-header-container):not(:first-of-type) {
    margin-top: 128px;
  }
}

#base .section:first-of-type,
#base .section.page-header-container + .section {
  margin-top: 0;
}

#base .section.spacing-none {
  margin-top: 0 !important;
}

#base .section.padding-none {
  padding-bottom: 0 !important;
}

/** block wrapper **/
#base .section > div {
  max-width: calc(960px + var(--section-padding-mobile) * 2);
  padding-left: var(--section-padding-mobile);
  padding-right: var(--section-padding-mobile);
}

@media (min-width: 600px) {
  #base .section > div {
    max-width: calc(960px + var(--section-padding) * 2);
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
  }
}

@media (min-width: 1440px) {
  #base .section > div {
    max-width: calc(1160px + var(--section-padding) * 2);
  }
}

@media (min-width: 1800px) {
  #base .section > div {
    max-width: calc(1520px + var(--section-padding) * 2);
  }
}

#base .section > div.content-width-xs,
#base .section.content-width-xs > div:not([class*='content-width-']) {
  max-width: calc(560px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  #base .section > div.content-width-xs,
  #base .section.content-width-xs > div:not([class*='content-width-']) {
    max-width: calc(560px + var(--section-padding) * 2);
  }
}

#base .section > div.content-width-sm,
#base .section.content-width-sm > div:not([class*='content-width-']) {
  max-width: calc(760px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  #base .section > div.content-width-sm,
  #base .section.content-width-sm > div:not([class*='content-width-']) {
    max-width: calc(760px + var(--section-padding) * 2);
  }
}

#base .section > div.content-width-md,
#base .section.content-width-md > div:not([class*='content-width-']) {
  max-width: calc(960px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  #base .section > div.content-width-md,
  #base .section.content-width-md > div:not([class*='content-width-']) {
    max-width: calc(960px + var(--section-padding) * 2);
  }
}

@media (min-width: 1440px) {
  #base .section > div.content-width-md,
  #base .section.content-width-md > div:not([class*='content-width-']) {
    max-width: calc(1160px + var(--section-padding) * 2);
  }
}

#base .section > div.content-width-lg,
#base .section.content-width-lg > div:not([class*='content-width-']) {
  max-width: calc(1160px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  #base .section > div.content-width-lg,
  #base .section.content-width-lg > div:not([class*='content-width-']) {
    max-width: calc(1160px + var(--section-padding) * 2);
  }
}

@media (min-width: 1440px) {
  #base .section > div.content-width-lg,
  #base .section.content-width-lg > div:not([class*='content-width-']) {
    max-width: calc(1360px + var(--section-padding) * 2);
  }
}

#base .section > div.content-width-xl,
#base .section.content-width-xl > div:not([class*='content-width-']) {
  max-width: calc(1360px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  #base .section > div.content-width-xl,
  #base .section.content-width-xl > div:not([class*='content-width-']) {
    max-width: calc(1360px + var(--section-padding) * 2);
  }
}

@media (min-width: 1440px) {
  #base .section > div.content-width-xl,
  #base .section.content-width-xl > div:not([class*='content-width-']) {
    max-width: calc(1560px + var(--section-padding) * 2);
  }
}

#base .section > div.content-width-full,
#base .section.content-width-full > div:not([class*='content-width-']) {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/** block **/
#base .block.spacing {
  margin-top: 48px;
  margin-bottom: 48px;
}

#base .block.spacing-top {
  margin-top: 48px;
}

#base .block.spacing-bottom {
  margin-bottom: 48px;
}

@media (min-width: 1025px) {
  #base .block.spacing {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  #base .block.spacing-top {
    margin-top: 64px;
  }

  #base .block.spacing-bottom {
    margin-bottom: 64px;
  }
}

/** button **/
#base .button {
  font-size: 15px;
  line-height: 18px;
  padding: 10px 30px;
  background-image: unset;
}

#base .button-size-md .button {
  padding: 10px 30px;
}

#base .button-size-lg .button {
  font-size: 17px;
  padding: 18px 40px;
}

#base .button-style-outline .button,
#base .block:not(.button-style-link) .button-container ~ .button-container .button {
  background: none;
  border: solid 2px var(--theme-base);
  color: var(--theme-base);
}

#base .button-style-outline:not(.button-size-lg) .button,
#base .button-container ~ .button-container .button {
  padding-top: 8px;
  padding-bottom: 8px;
}

#base .button-style-link .button {
  padding: 0;
}

#base .button-container {
  margin: 0;
}

#base .button-style-link .button-container {
  margin-bottom: 5px;
}

#base .button-inline .button-container {
  display: inline-block;
  margin-right: 20px;
}

#base .button-inline .button-container:last-of-type {
  margin-right: 0;
}

#base .button-color-gradient .button {
  background-image: linear-gradient(90deg, var(--theme-shade5) 0%, var(--theme-shade10) 100%);
}

#base .button-color-base a.button:any-link,
#base .button-color-base.columns a.button:any-link {
  background-color: var(--theme-base);
}

#base .button-color-white a.button:any-link,
#base .button-color-white.columns a.button:any-link {
  background-color: var(--color-white);
}

#base .button-color-black a.button:any-link,
#base .button-color-black.columns a.button:any-link {
  background-color: var(--color-black);
}

#base .button-color-shade-5 a.button:any-link,
#base .button-color-shade-5.columns a.button:any-link {
  background-color: var(--theme-shade5);
}

#base .button-color-shade-10 a.button:any-link,
#base .button-color-shade-10.columns a.button:any-link {
  background-color: var(--theme-shade10);
}

#base .button-color-shade-15 a.button:any-link,
#base .button-color-shade-15.columns a.button:any-link {
  background-color: var(--theme-shade15);
}

#base .button-color-tint-5 a.button:any-link,
#base .button-color-tint-5.columns a.button:any-link {
  background-color: var(--theme-tint5);
}

#base .button-color-tint-10 a.button:any-link,
#base .button-color-tint-10.columns a.button:any-link {
  background-color: var(--theme-tint10);
}

#base .button-color-tint-15 a.button:any-link,
#base .button-color-tint-15.columns a.button:any-link {
  background-color: var(--theme-tint15);
}

#base .button-text-color-base a.button:any-link,
#base .button-text-color-base.columns a.button:any-link {
  color: var(--theme-base);
}

#base .button-text-color-white a.button:any-link,
#base .button-text-color-white.columns a.button:any-link {
  color: var(--color-white);
}

#base .button-text-color-black a.button:any-link,
#base .button-text-color-black.columns a.button:any-link {
  color: var(--color-black);
}

#base .button-text-color-shade-5 a.button:any-link,
#base .button-text-color-shade-5.columns a.button:any-link {
  color: var(--theme-shade5);
}

#base .button-text-color-shade-10 a.button:any-link,
#base .button-text-color-shade-10.columns a.button:any-link {
  color: var(--theme-shade10);
}

#base .button-text-color-shade-15 a.button:any-link,
#base .button-text-color-shade-15.columns a.button:any-link {
  color: var(--theme-shade15);
}

#base .button-text-color-tint-5 a.button:any-link,
#base .button-text-color-tint-5.columns a.button:any-link {
  color: var(--theme-tint5);
}

#base .button-text-color-tint-10 a.button:any-link,
#base .button-text-color-tint-10.columns a.button:any-link {
  color: var(--theme-tint10);
}

#base .button-text-color-tint-15 a.button:any-link,
#base .button-text-color-tint-15.columns a.button:any-link {
  color: var(--theme-tint15);
}

#base .button-color-secondary-base a.button:any-link,
#base .button-color-secondary-base.columns a.button:any-link {
  background-color: var(--secondary-theme-base);
}

#base .button-color-secondary-shade-5 a.button:any-link,
#base .button-color-secondary-shade-5.columns a.button:any-link {
  background-color: var(--secondary-theme-shade5);
}

#base .button-color-secondary-shade-10 a.button:any-link,
#base .button-color-secondary-shade-10.columns a.button:any-link {
  background-color: var(--secondary-theme-shade10);
}

#base .button-color-secondary-shade-15 a.button:any-link,
#base .button-color-secondary-shade-15.columns a.button:any-link {
  background-color: var(--secondary-theme-shade15);
}

#base .button-color-secondary-tint-5 a.button:any-link,
#base .button-color-secondary-tint-5.columns a.button:any-link {
  background-color: var(--secondary-theme-tint5);
}

#base .button-color-secondary-tint-10 a.button:any-link,
#base .button-color-secondary-tint-10.columns a.button:any-link {
  background-color: var(--secondary-theme-tint10);
}

#base .button-color-secondary-tint-15 a.button:any-link,
#base .button-color-secondary-tint-15.columns a.button:any-link {
  background-color: var(--secondary-theme-tint15);
}

#base .button-text-color-secondary-base a.button:any-link,
#base .button-text-color-secondary-base.columns a.button:any-link {
  color: var(--secondary-theme-base);
}

#base .button-text-color-secondary-shade-5 a.button:any-link,
#base .button-text-color-secondary-shade-5.columns a.button:any-link {
  color: var(--secondary-theme-shade5);
}

#base .button-text-color-secondary-shade-10 a.button:any-link,
#base .button-text-color-secondary-shade-10.columns a.button:any-link {
  color: var(--secondary-theme-shade10);
}

#base .button-text-color-secondary-shade-15 a.button:any-link,
#base .button-text-color-secondary-shade-15.columns a.button:any-link {
  color: var(--secondary-theme-shade15);
}

#base .button-text-color-secondary-tint-5 a.button:any-link,
#base .button-text-color-secondary-tint-5.columns a.button:any-link {
  color: var(--secondary-theme-tint5);
}

#base .button-text-color-secondary-tint-10 a.button:any-link,
#base .button-text-color-secondary-tint-10.columns a.button:any-link {
  color: var(--secondary-theme-tint10);
}

#base .button-text-color-secondary-tint-15 a.button:any-link,
#base .button-text-color-secondary-tint-15.columns a.button:any-link {
  color: var(--secondary-theme-tint15);
}

#base .button-spacing-none a.button:any-link {
  margin: 0;
}

/** title **/
#base .title-style-italic :is(h1, h2, h3, h4, h5, h6) {
  font-style: italic;
}

#base .title-weight-light :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 300;
}

#base .title-weight-regular :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 400;
}

#base .title-weight-semibold :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 500;
}

#base .title-weight-bold :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}

#base .title-weight-extrabold :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 900;
}

#base .title-color-white :is(h1, h2, h3, h4, h5, h6) {
  color: var(--color-white);
}

#base .title-color-black :is(h1, h2, h3, h4, h5, h6) {
  color: var(--color-black);
}

#base .title-color-base :is(h1, h2, h3, h4, h5, h6) {
  color: var(--theme-base);
}

#base .title-color-tint-5 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--theme-tint5);
}

#base .title-color-tint-15 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--theme-tint15);
}

#base .title-color-tint-10 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--theme-tint10);
}

#base .title-color-shade-5 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--theme-shade5);
}

#base .title-color-shade-10 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--theme-shade10);
}

#base .title-color-shade-15 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--theme-shade15);
}

#base .title-color-secondary-base :is(h1, h2, h3, h4, h5, h6) {
  color: var(--secondary-theme-base);
}

#base .title-color-secondary-tint-5 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--secondary-theme-tint5);
}

#base .title-color-secondary-tint-15 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--secondary-theme-tint15);
}

#base .title-color-secondary-tint-10 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--secondary-theme-tint10);
}

#base .title-color-secondary-shade-5 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--secondary-theme-shade5);
}

#base .title-color-secondary-shade-10 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--secondary-theme-shade10);
}

#base .title-color-secondary-shade-15 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--secondary-theme-shade15);
}

#base .title-size-hero :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font-family);
  font-size: 72px;
  line-height: 80px;
}

#base .title-size-section :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font-family);
  font-size: 48px;
  line-height: 60px;
}

#base .title-size-h1 :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font-family);
  font-size: 36px;
  line-height: 44px;
}

#base .title-size-h2 :is(h1, h2, h3, h4, h5, h6) {
  font-size: 30px;
  line-height: 38px;
}

#base .title-size-h3 :is(h1, h2, h3, h4, h5, h6) {
  font-size: 26px;
  line-height: 34px;
}

#base .title-size-h4 :is(h1, h2, h3, h4, h5, h6) {
  font-size: 20px;
  line-height: 28px;
}

#base .title-size-h5 :is(h1, h2, h3, h4, h5, h6) {
  font-size: 18px;
  line-height: 26px;
}

#base .title-size-h6 :is(h1, h2, h3, h4, h5, h6) {
  font-size: 16px;
  line-height: 22px;
}

#base .title-color-gray-9 :is(h1, h2, h3, h4, h5, h6) {
  color: var(--color-gray9);
}

#base .title-margin-top-none :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}

/** copy **/
#base .copy-color-base :is(p) {
  color: var(--theme-base);
}

#base .copy-color-tint-5 :is(p) {
  color: var(--theme-tint5);
}

#base .copy-color-tint-15 :is(p) {
  color: var(--theme-tint15);
}

#base .copy-color-tint-10 :is(p) {
  color: var(--theme-tint10);
}

#base .copy-color-shade-5 :is(p) {
  color: var(--theme-shade5);
}

#base .copy-color-shade-10 :is(p) {
  color: var(--theme-shade10);
}

#base .copy-color-shade-15 :is(p) {
  color: var(--theme-shade15);
}

/** link **/
#base .link-color-base :is(a) {
  color: var(--theme-base);
}

#base .link-color-tint-5 :is(a) {
  color: var(--theme-tint5);
}

#base .link-color-tint-15 :is(a) {
  color: var(--theme-tint15);
}

#base .link-color-tint-10 :is(a) {
  color: var(--theme-tint10);
}

#base .link-color-shade-5 :is(a) {
  color: var(--theme-shade5);
}

#base .link-color-shade-10 :is(a) {
  color: var(--theme-shade10);
}

#base .link-color-shade-15 :is(a) {
  color: var(--theme-shade15);
}

/** columns **/
#base .columns strong {
  color: var(--theme-shade10);
}

/**** RESETS ****/
/* stylelint-disable-next-line no-duplicate-selectors */
#base .section {
  padding-left: 0;
  padding-right: 0;
}

#base .image {
  margin: 0;
}

#base .section > .image-wrapper {
  max-width: calc(960px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  #base .section > .image-wrapper {
    max-width: calc(960px + var(--section-padding) * 2);
  }
}

@media (min-width: 1440px) {
  #base .section > .image-wrapper {
    max-width: calc(1160px + var(--section-padding) * 2);
  }
}

#base .toc {
  padding: 40px 50px;
  color: var(--theme-shade10);
  background-color: var(--secondary-theme-tint15);
}

#base .toc a:any-link {
  color: var(--color-gray-12);
  background-color: transparent;
}

#base .toc ol {
  margin-bottom: 0;
}

#base .toc li:not(:first-child) {
  margin-top: 5px;
}

#base .cards > .card .button:any-link {
  padding: 0;
}

#base .bg-solid {
  background-color: var(--theme-base);
}
