.block.wistia {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.block.wistia .wistia-play-btn {
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    height: 80px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50%);
    width: 80px;
}

.block.wistia .wistia-play-btn::before {
    border-bottom: 15px solid transparent;
    border-left: 23px solid #fff;
    border-top: 15px solid transparent;
    content: '';
    display: block;
    left: calc(50% + 2px);
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50%);
}

.modal-container {
    align-items: center;
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

.modal--open {
    overflow: hidden;
}

.modal--open .modal-container {
    display: flex;
}
