.block.wistia {
    background-color: var(--color-gray-2);
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.block.wistia picture {
    display: flex;
}

.block.wistia .wistia-play-btn {
    --size: 5rem;

    align-items: center;
    background-color: rgba(255 255 255 / 50%);
    border-radius: 50%;
    display: flex;
    height: var(--size);
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--size);
}

.block.wistia .wistia-play-btn::before {
    --height: calc(var(--size) * .4);

    border: solid transparent;
    border-left-color: var(--color-white);
    border-width: calc(var(--height) / 2) 0 calc(var(--height) / 2) calc(var(--height) * .8656);
    content: '';
    display: block;
    margin-left: calc(var(--height) / 4);
}

.wistia-modal .modal {
    --width: 90vw;

    border-radius: 0;
    max-width: none;
    padding: 0;
}

.wistia-modal .modal-content {
    width: var(--width);
}

@media (min-width: 1025px) {
    .wistia-modal .modal-content {
        --width: 75vw;
    }
}

.wistia-modal .modal-content .wistia_embed {
    height: calc(var(--width) * .5625) !important;
}
