.table th, .table td, .table table {
    border: 1px solid var(--category-color);
    padding: 5px 10px;
    vertical-align: top;
    text-align: left;
}

.table table {
    border-collapse: collapse;
}