.comparison-matrix .section.table-container {
  background-image: url('../../styles/leaf-top-3.svg'), linear-gradient(var(--color-white), var(--color-white) calc(61px + (100vw * 0.11)), var(--color-gray-1) calc(100vw * 0.11));
  background-position: 0 61px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

.comparison-matrix main .section.table-container {
  margin-top: 64px;
}

.comparison-matrix .table-container .table-wrapper {
  padding-bottom: 240px;
}

.pricing-quote .table-container .table-wrapper.first {
  margin-top: 100px;
}

.table.comparison table h4 {
  margin: 0;
}

.table.comparison table a {
  text-decoration: none;
  font-family: var(--heading-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--color-1-shade-5);
  background: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  word-wrap: break-word;
  white-space: unset;
}

.table {
  max-width: 100%;
  overflow-x: auto;
}

.pricing-quote table th, .pricing-quote table tbody th {
  color: var(--color-gray-7);
  border: none;
  text-align: center;
}

.table table, .table th, .table td {
  position: relative;
}

.table table thead th {
  font-weight: bold;
}

.table.data-sync th {
  color: var(--body-color);
}

.pricing-quote table thead {
  background-color: unset;
}

.pricing-quote table td {
  border-left: none;
  border-right: none;
}

.table.comparison table, .table.comparison th, .table.comparison td {
  text-align: center;
}

.pricing-quote table th:first-of-type {
  color: var(--color-gray-11);
  text-align: left;
}

.pricing-quote table th del {
  visibility: hidden;
}

.table.comparison table thead,
.table.data-sync table thead {
  background-color: unset;
}

.table.comparison table {
  border-spacing: 10px 0;
  padding: 0;
  table-layout: fixed;
  border-collapse: unset;
}

.table.comparison th, .table.comparison td {
  background-color: var(--color-white);
  font-size: 14px;
  line-height: 20px;
  color: var(--color-gray-9);
  font-weight: 400;
  border: none;
  padding: 14px;
}

.table.comparison table thead th {
  border-radius: 10px 10px 0 0;
  padding-top: 75px;
  padding-bottom: 40px;
  overflow: hidden;
}

.table.data-sync table thead th {
  border-color: var(--color-gray-3);
  background: var(--color-gray-1);
}

.table.comparison th:first-child {
  width: 200px;
}

.table.comparison tr:last-child td {
  border-radius: 0 0 10px 10px;
}

.icon.icon-checkmark::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 33%;
  width: 5px;
  height: 10px;
  border: solid var(--color-1);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.table.comparison .elite-ribbon::after,
.table.comparison .pro-ribbon::after {
    font-size: 17px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 7px 20px;
    position: absolute;
    transform: rotate(-45deg);
    text-align: center;
    min-width: 112px;
    top: 16px;
    left: -46px;
}

.table.comparison .elite-ribbon::after {
    content: 'ELITE';
    color: var(--color-white);
    background-color: var(--color-4);
}

.table.comparison .pro-ribbon::after {
  content: 'PRO';
  color: var(--color-white);
  background-color: var(--color-gray-3);
}

.table-mobile-container {
  display: none;
}

.table-mobile:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .table.comparison .table-mobile-container {
    display: unset;
  }

  .table.comparison table:not(table.table-mobile) {
    display: none;
  }
}
