main .call-to-action-container {
    background-color: var(--category-color);
    background-image: url('../../styles/top-leaf.png'), url('../../styles/bottom-leaf.png');
    background-size: contain;
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.live-demo-webinars main .call-to-action-container {
    background-color: unset;
    background-image: url('../../styles/hex-cta.svg');
    background-size: cover;
    background-position: top, left;
    background-repeat: no-repeat;
}

.pricing-quote main .call-to-action-container.bottom {
    background-color: unset;
    background-image: url('../../styles/hex-bottom-pricing.svg');
    background-size: cover;
    background-position: top, left;
    background-repeat: no-repeat;
}

.pricing-quote main .call-to-action,
main .call-to-action {
    text-align: center;
    color: var(--color-white);
    padding: 66px 0 30px;
}

.live-demo-webinars main .call-to-action {
    padding-bottom: 1px;
}

main .call-to-action h2, main .call-to-action h3, main .call-to-action h4 {
    color: var(--color-white);
}

main .call-to-action h2 {
    font-family: var(--heading-font-family);
    font-size: 36px;
    line-height: 44px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
}

main .call-to-action p {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 44px;
}

main .call-to-action a.button {
    color: var(--category-color);
    background-color: var(--color-white);
}

@media (min-width: 600px) {
    main .call-to-action {
        padding: 130px 0 60px;
    }

    .live-demo-webinars main .call-to-action {
        padding-top: 145px;
    }
    
    main .call-to-action h2 {
        font-size: 48px;
        font-weight: 700;
    }
}

@media (min-width: 1200px) {
    main .call-to-action {
        padding: 270px 0 145px;
    }
}

/* modal */
.call-to-action-modal-wrapper {
    width: 100vw;
    height: 100vh;
    background-color:rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: all 0.1s ease-out;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
}

.call-to-action-modal-wrapper.visible {
    opacity: 1;
    z-index: 1;
}

.call-to-action-modal main .section > div {
    padding: 0;
}

.call-to-action-modal main .section img {
    border-radius: 20px 20px 0 0;
}

.call-to-action-modal {
    max-width: 620px;
    background-color: var(--body-background-color);
    border-radius: 20px;
    position: relative;
  }
  
  .call-to-action-modal main {
    overflow-y: scroll;
    height: 100%;
  }
  
  .call-to-action-modal-close {
    position: absolute;
    right: -28px;
    top: -28px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 54px;
    height: 54px;
    line-height: 54px;
    box-shadow: var(--box-shadow-1);
    background-color: #ccc;
    margin: 10px;
    padding: 9px;
    border-radius: 27px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .call-to-action-modal-close::before, .call-to-action-modal-close::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 21px;
      height: 3px;
      background: var(--color-white);
      transform: rotate(45deg);
      border-radius: 5px;
      top: 8px;
      left: 1px;
      margin: 18px 16px;
  }
  
  .call-to-action-modal-close::after {
      transform: rotate(-45deg);
  }
 
.call-to-action-modal main .section > div p {
    color: var(--body-color);
    margin: 32px 20px;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.call-to-action-modal main .section p:first-of-type {
    margin: 0;
}

.call-to-action-modal main h3 {
    font-style: normal;
    color: var(--color-black);
  }
  
  .call-to-action-modal input {
    width: 100%;
    height: 50px;
    background-color: #f5f4f1;
    border-radius: 30px;
    border: none;
    padding: 0 30px;
    box-sizing: border-box;
    font-family: var(--body-font-family);
  }
  
  .call-to-action-modal button {
    position: absolute;
    right: 0;
    background-color: var(--color-1);
    border: none;
    height: 50px;
    border-radius: 0 30px 30px 0;
    padding: 0 20px;
    font-weight: 800;
    color: var(--color-white);
    font-family: var(--body-font-family);
  }
  
  .call-to-action-modal form {
    position: relative;
  }
  
  
