main .article-feed-container > div {
  max-width: 1200px;
}

main .article-feed-card {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
}

main .article-feed-card img {
  width: 100%;
  box-shadow: var(--box-shadow-2);
  border-radius: 15px;
}

main .article-feed-card h3 {
  font-family: var(--heading-font-family);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 20px;
}

main .article-feed-card .article-feed-card-readtime::before {
  content: '•';
  display: inline-block;
  margin: 1px 8px 0 4px;
  font-size: 10px;
  vertical-align: top;
}

main .article-feed-hero .article-feed-card .article-feed-card-readtime::before {
  font-size: 12px;
  margin: 3px 8px 0 4px;
}

main .article-feed-card .article-feed-card-readtime:empty::before {
  display: none;
}

main .article-feed-card-body a:any-link {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-size: 15px;
}

main .article-feed-card-body a:any-link::after {
  content: "";
  border: solid var(--heading-color);
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: -20px;
}

main .article-feed-card-header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--category-color);
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 12px;
}

main .article-feed-card-header a:any-link {
  color: inherit;
  text-decoration: inherit;
}


main .article-feed-hero .article-feed-card-header {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 25px;
}

main .article-feed-hero .article-feed-card h3 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 800;
  font-style: italic;
}

main .article-feed .article-feed-card-picture {
  margin-bottom: 25px;
}

main .article-feed .load-more-wrapper {
  text-align: center;
}

main .article-feed-large .article-feed-card-header {
  font-size: 16px;
  line-height: 24px;
}

main .article-feed-large .article-feed-card h3 {
  margin-bottom: 20px;
}

main .article-feed-large .article-feed-card-body p:first-of-type {
  display: none;
  visibility: hidden;
}

@media (min-width: 600px) {
  main .article-feed-card-grid {
    margin: 0 -20px;
  }

  main .article-feed-col {
    box-sizing: border-box;
    width: 100%;
  }

  main .article-feed-row {
    display: flex;
  }  
  
  main .article-feed-card {
    width: 50%;
    padding: 20px;
  }

  main .article-feed-hero .article-feed-card, main .article-feed-large .article-feed-card  {
    width: 100%;
  }

  main .article-feed-large .article-feed-card h3 {
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  main .article-feed-card-grid {
    display: flex;
  }

  main .article-feed-col {
    width: 50%;
  }

  main .article-feed-hero .article-feed-card {
    display: grid;
    grid-template-areas: 'picture header' 'picture body';
    align-items: center;
    font-size: 17px;
    grid-template-columns: 50% 50%;
  }

  main .article-feed-hero .article-feed-card picture {
    grid-area: picture;
    padding-right: 32px;
  }

  main .article-feed-hero .article-feed-card h3 {
    margin-top: 0;
    font-size: 48px;
    line-height: 60px;
  }

  main .article-feed-large .article-feed-card {
    display: block;
  }

  main .article-feed-large .article-feed-card-header {
    font-size: 12px;
    line-height: 15px;
  }

  main .article-feed-large .article-feed-card h3 {
    font-size: 30px;
    line-height: 36px;
  }
}
