main .article-feed-container > div {
  max-width: 1200px;
  padding: 0 20px;
}

main .article-feed-card {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: #444;
  font-size: 15px;
}

main .article-feed-card img {
  width: 100%;
  box-shadow: 0px 30px 60px -40px rgb(31 38 23 / 50%);
  border-radius: 15px;
}

main .article-feed-card h3 {
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
}

main .article-feed-card .article-feed-card-readtime::before {
  content: '•';
  display: inline-block;
  margin: 1px 8px 0 4px;
  font-size: 10px;
  vertical-align: top;
}

main .article-feed-hero .article-feed-card .article-feed-card-readtime::before {
  font-size: 12px;
  margin: 3px 8px 0 4px;
}

main .article-feed-card .article-feed-card-readtime:empty:before {
  display: none;
}

main .article-feed-card-body a:any-link{
  font-weight: 700;
  text-decoration: none;
  color: #444;
  font-family: var(--heading-font-family);
  font-size: 20px;
}

main .article-feed-card-body a:any-link::after {
  content: '❯';
  padding-left: 10px;
}

main .article-feed-card-header {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--category-color);
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 12px;
}

main .article-feed-hero .article-feed-card-header {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 25px;
}

main .article-feed-hero .article-feed-card h3 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 800;
  font-style: italic;
}

main .article-feed .load-more-wrapper {
  text-align: center;
}

main .article-feed-large .article-feed-card-header {
  font-size: var(--body-font-size-s);
  line-height: var(--body-font-size-m);
}

main .article-feed-large .article-feed-card h3 {
  margin-bottom: 20px;
  font-size: var(--heading-font-size-l);
  font-weight: var(--heading-font-weight);
  font-style: italic;
  line-height: var(--heading-font-size-xl);
  color: var(--color-gray-700);
}

main .article-feed-large .article-feed-card-body p:first-of-type {
  display: none;
  visibility: hidden;
}

@media (min-width: 600px) {
  main .article-feed-col {
    box-sizing: border-box;
    width: 100%;
  }

  main .article-feed-row {
    display: flex;
  }  
  
  main .article-feed-card {
    width: 50%;
  }

  main .article-feed-hero .article-feed-card, main .article-feed-large .article-feed-card  {
    width: 100%;
  }

  main .article-feed-large .article-feed-card h3 {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xxl);
  }
}

@media (min-width: 1024px) {
  main .article-feed-large .article-feed-card {
    display: grid;
    grid-template-areas: 'picture header' 'picture body';
    align-items: center;
    justify-content: space-between;
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  }

  main .article-feed-large .article-feed-card .article-feed-card-header {
    grid-area: header;
  }
  
  main .article-feed-large .article-feed-card .article-feed-card-picture {
    grid-area: picture;
  }
  
  main .article-feed-large .article-feed-card .article-feed-card-body {
    grid-area: body;
  }

  main .article-feed-large .article-feed-card h3 {
    font-size: var(--heading-font-size-xxl);
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  main .article-feed-card-grid {
    display: flex;
  }

  main .article-feed-col {
    width: 50%;
  }

  main .article-feed-hero .article-feed-card {
    display: grid;
    grid-template-areas: 'picture header' 'picture body';
    align-items: center;
    font-size: 17px;
    grid-template-columns: 50% 50%;
  }

  main .article-feed-hero .article-feed-card picture {
    grid-area: picture;
    padding-right: 32px;
  }

  main .article-feed-hero .article-feed-card h3 {
    margin-top: 0;
    font-size: 48px;
    line-height: 60px;
  }

  main .article-feed-large .article-feed-card {
    display: block;
  }

  main .article-feed-large .article-feed-card-header {
    font-size: var(--body-font-size-xxs);
  }

  main .article-feed-large .article-feed-card h3 {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-xl);
  }
}
