/* stylelint-disable no-descending-specificity */

/* theme colors */
main .section.has-bg > span[class*="bg-"] .theme-tint-15 {
    color: var(--theme-tint15);
}

main .section.has-bg > span[class*="bg-"] .theme-tint-10 {
    color: var(--theme-tint10);
}

main .section.has-bg > span[class*="bg-"] .theme-tint-5 {
    color: var(--theme-tint5);
}

main .section.has-bg > span[class*="bg-"] .theme {
    color: var(--theme-base);
}

main .section.has-bg > span[class*="bg-"] .theme-shade-5 {
    color: var(--theme-shade5);
}

main .section.has-bg > span[class*="bg-"] .theme-shade-10 {
    color: var(--theme-shade10);
}

main .section.has-bg > span[class*="bg-"] .theme-shade-15 {
    color: var(--theme-shade15);
}

/* secondary colors */
main .section.has-bg > span[class*="bg-"] .secondary-tint-15 {
    color: var(--secondary-theme-tint15);
}

main .section.has-bg > span[class*="bg-"] .secondary-tint-10 {
    color: var(--secondary-theme-tint10);
}

main .section.has-bg > span[class*="bg-"] .secondary-tint-5 {
    color: var(--secondary-theme-tint5);
}

main .section.has-bg > span[class*="bg-"] .secondary {
    color: var(--secondary-theme-base);
}

main .section.has-bg > span[class*="bg-"] .secondary-shade-5 {
    color: var(--secondary-theme-shade5);
}

main .section.has-bg > span[class*="bg-"] .secondary-shade-10 {
    color: var(--secondary-theme-shade10);
}

main .section.has-bg > span[class*="bg-"] .secondary-shade-15 {
    color: var(--secondary-theme-shade15);
}

/* responsive */
@media (max-width: 599px) {
    main .section.has-bg > span[class*="bg-"] > svg:not(:only-child):not(.mobile) {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    main .section.has-bg > span[class*="bg-"] > svg:not(:only-child):not(.tablet) {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1799px) {
    main .section.has-bg > span[class*="bg-"] > svg:not(:only-child):not(.laptop) {
        display: none;
    }
}

@media (min-width: 1800px) {
    main .section.has-bg > span[class*="bg-"] > svg:not(:only-child):not(.desktop) {
        display: none;
    }
}

/* base */
main .section.has-bg {
    position: relative;
}

main .section.has-bg > span[class*="bg-"] {
    display: flex;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: -1;
}

main .section.has-bg > span[class*="bg-"] > svg {
    height: auto;
}

/*
 * top
 */

main .section.has-bg > span[class*="bg-top-"] {
    align-items: start;
    top: 0;
}

main .section.has-bg > span[class*="bg-top-"] > svg {
    flex: 1 0 0;
}

/* multi 1 */
main .section.has-bg > span.bg-top-multi-1 {
    /* uses defaults */
}

/* multi 2 */
main .section.has-bg > span.bg-top-multi-2 {
    background-image: linear-gradient(180deg, var(--secondary-theme-tint15) 0%, transparent 100%);
    min-height: 70rem;
}

/* multi 3 */
main .section.has-bg > span.bg-top-multi-3 {
   /* uses defaults */
}

/* multi 4 */
main .section.has-bg > span.bg-top-multi-4 {
    background-image: linear-gradient(180deg, var(--theme-tint15) 0%, transparent 100%);
    min-height: 50rem;
}

/* multi 5 */
main .section.has-bg > span.bg-top-multi-5 {
    background-image: linear-gradient(180deg, var(--theme-shade5) 0%, var(--theme-tint10) 35.94%, transparent 100%);
}

@media (max-width: 599px) {
    main .section.has-bg > span.bg-top-multi-5 {
        min-height: 50rem;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    main .section.has-bg > span.bg-top-multi-5 {
        min-height: 73rem;
    }
}

@media (min-width: 1025px) and (max-width: 1799px) {
    main .section.has-bg > span.bg-top-multi-5 {
        min-height: 140rem;
    }
}

@media (min-width: 1800px) {
    main .section.has-bg > span.bg-top-multi-5 {
        min-height: 187rem;
    }
}

/* single 1 */
main .section.has-bg > span.bg-top-single-1 {
    /* uses defaults */
}

/*
 * left
 */

main .section.has-bg > span[class*="bg-left-"] {
    justify-content: start;
    top: 50%;
    transform: translateY(-50%);
}

/*
 * center
 */

main .section.has-bg > span[class*="bg-center-"] {
    top: 50%;
    transform: translateY(-50%);
}

main .section.has-bg > span[class*="bg-center-"] > svg {
    flex: 1 0 0;
}

/* multi 1 */
main .section.has-bg > span.bg-center-multi-1 {
    /* uses defaults */
}

/* multi 2 */
main .section.has-bg > span.bg-center-multi-2 {
    /* uses defaults */
}

/*
 * right
 */

main .section.has-bg > span[class*="bg-right-"] {
    justify-content: end;
    top: 50%;
    transform: translateY(-50%);
}

/* single 1 */
main .section.has-bg > span.bg-right-single-1 {
    /* uses defaults */
}

/*
 * bottom
 */

main .section.has-bg > span[class*="bg-bottom-"] {
    align-items: end;
    bottom: 0;
}

main .section.has-bg > span[class*="bg-bottom-"] > svg {
    flex: 1 0 0;
}

/* cap 1 */
main .section.has-bg > span.bg-bottom-cap-1 {
    background-color: var(--theme-tint15);
    top: 0;
}

main .section.has-bg > span.bg-bottom-cap-1 > svg {
    align-self: start;
}

/* cap 2 */
main .section.has-bg > span.bg-bottom-cap-2 {
    background-image: linear-gradient(180deg, var(--theme-tint15) 0%, transparent 100%);
    top: 0;
}

main .section.has-bg > span.bg-bottom-cap-2 > svg {
    align-self: start;
}

/* multi 1 */
main .section.has-bg > span.bg-bottom-multi-1 {
    background: linear-gradient(180deg, transparent 0%, var(--secondary-theme-tint15) 31.77%, var(--secondary-theme-tint5) 100%);
}

@media (max-width: 599px) {
    main .section.has-bg > span.bg-bottom-multi-1 {
        min-height: 75rem;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    main .section.has-bg > span.bg-bottom-multi-1 {
        min-height: 125rem;
    }
}

@media (min-width: 1025px) and (max-width: 1799px) {
    main .section.has-bg > span.bg-bottom-multi-1 {
        min-height: 94rem;
    }
}

@media (min-width: 1800px) {
    main .section.has-bg > span.bg-bottom-multi-1 {
        min-height: 80rem;
    }
}

/* single 1 */
main .section.has-bg > span.bg-bottom-single-1 {
    /* uses defaults */
}
