/* stylelint-disable no-descending-specificity */

/* theme colors */
main .section.has-bg > span.bg .theme-tint-15 {
    color: var(--theme-tint15);
}

main .section.has-bg > span.bg .theme-tint-10 {
    color: var(--theme-tint10);
}

main .section.has-bg > span.bg .theme-tint-5 {
    color: var(--theme-tint5);
}

main .section.has-bg > span.bg .theme {
    color: var(--theme-base);
}

main .section.has-bg > span.bg .theme-shade-5 {
    color: var(--theme-shade5);
}

main .section.has-bg > span.bg .theme-shade-10 {
    color: var(--theme-shade10);
}

main .section.has-bg > span.bg .theme-shade-15 {
    color: var(--theme-shade15);
}

/* secondary colors */
main .section.has-bg > span.bg .secondary-tint-15 {
    color: var(--secondary-theme-tint15);
}

main .section.has-bg > span.bg .secondary-tint-10 {
    color: var(--secondary-theme-tint10);
}

main .section.has-bg > span.bg .secondary-tint-5 {
    color: var(--secondary-theme-tint5);
}

main .section.has-bg > span.bg .secondary {
    color: var(--secondary-theme-base);
}

main .section.has-bg > span.bg .secondary-shade-5 {
    color: var(--secondary-theme-shade5);
}

main .section.has-bg > span.bg .secondary-shade-10 {
    color: var(--secondary-theme-shade10);
}

main .section.has-bg > span.bg .secondary-shade-15 {
    color: var(--secondary-theme-shade15);
}

/* responsive */
main .section.has-bg > span.bg > svg:not(:only-child) {
    display: none;
}

@media (max-width: 599px) {
    main .section.has-bg > span.bg > svg:not(:only-child).mobile {
        display: block;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    main .section.has-bg > span.bg > svg:not(:only-child).tablet {
        display: block;
    }
}

@media (min-width: 1025px) and (max-width: 1799px) {
    main .section.has-bg > span.bg > svg:not(:only-child).laptop {
        display: block;
    }
}

@media (min-width: 1800px) {
    main .section.has-bg > span.bg > svg:not(:only-child).desktop {
        display: block;
    }
}

/* base */
main .section.has-bg {
    position: relative;
}

main .section.has-bg > span.bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: -1;
}

main .section.has-bg > span.bg > svg {
    position: absolute;
}

/*
 * top
 */

main .section[class*="bg-top-"] > span.bg {
    top: 0;
}

main .section[class*="bg-top-"] > span.bg > svg {
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1900px) {
    main .section[class*="bg-top-"] > span.bg > svg {
        height: auto;
        width: 100%;
    }
}

/* multi 1 */
main .section.bg-top-multi-1 > span.bg {
    /* uses defaults */
}

/* multi 2 */
main .section.bg-top-multi-2 > span.bg {
    background-image: linear-gradient(180deg, var(--secondary-theme-tint15) 0%, transparent 100%);
}

main .section.bg-top-multi-2 > span.bg > svg {
    bottom: auto;
    top: 0;
}

/* multi 3 */
main .section.bg-top-multi-3 > span.bg > svg {
    left: auto;
    right: 0;
    top: 0;
    transform: none;
}

/* multi 4 */
main .section.bg-top-multi-4 > span.bg {
    background-image: linear-gradient(180deg, var(--theme-tint15) 0%, transparent 100%);
}

main .section.bg-top-multi-4 > span.bg > svg {
    bottom: auto;
    top: 0;
}

/* multi 5 */
main .section.bg-top-multi-5 > span.bg {
    background-image: linear-gradient(180deg, var(--theme-shade5) 0%, var(--theme-tint10) 35.94%, transparent 100%);
}

main .section.bg-top-multi-5 > span.bg > svg {
    bottom: auto;
    top: 0;
}

/* single 1 */
@media (max-width: 599px) {
    main .section.bg-top-single-1 > span.bg {
        min-height: 237.2222vw;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    main .section.bg-top-single-1 > span.bg {
        min-height: 86.5885vw;
    }
}

@media (min-width: 1025px) and (max-width: 1799px) {
    main .section.bg-top-single-1 > span.bg {
        min-height: 56.3889vw;
    }
}

@media (min-width: 1800px) {
    main .section.bg-top-single-1 > span.bg {
        min-height: 49.7895vw;
    }
}

main .section.bg-top-single-1 > span.bg > svg {
    top: 0;
    height: auto;
    width: 100%;
}

/*
 * left
 */

main .section[class*="bg-left-"] > span.bg {
    left: 0;
}

main .section[class*="bg-left-"] > span.bg > svg {
    left: 0;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/*
 * center
 */

main .section[class*="bg-center-"] > span.bg {
    top: 50%;
    transform: translateY(-50%);
}

main .section[class*="bg-center-"] > span.bg > svg {
    height: auto;
    width: 100%;
}

/* multi 1 */
@media (max-width: 599px) {
    main .section.bg-center-multi-1 > span.bg {
        min-height: 736.6666vw;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    main .section.bg-center-multi-1 > span.bg {
        min-height: 353.6458vw;
    }
}

@media (min-width: 1025px) and (max-width: 1799px) {
    main .section.bg-center-multi-1 > span.bg {
        min-height: 160.6944vw;
    }
}

@media (min-width: 1800px) {
    main .section.bg-center-multi-1 > span.bg {
        min-height: 121.3684vw;
    }
}

/*
 * right
 */

main .section[class*="bg-right-"] > span.bg {
    right: 0;
}

main .section[class*="bg-right-"] > span.bg > svg {
    max-height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* single 1 */
main .section.bg-right-single-1 > span.bg {
    /* uses defaults */
}

/*
 * bottom
 */

main .section[class*="bg-bottom-"] > span.bg {
    bottom: 0;
}

main .section[class*="bg-bottom-"] > span.bg > svg {
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1900px) {
    main .section[class*="bg-bottom-"] > span.bg > svg {
        height: auto;
        width: 100%;
    }
}

/* cap 1 */
main .section.bg-bottom-cap-1 > span.bg {
    background-color: var(--theme-tint15);
}

main .section.bg-bottom-cap-1 > span.bg > svg {
    width: 100%;
    height: auto;
}

/* cap 2 */
main .section.bg-bottom-cap-2 > span.bg {
    background-image: linear-gradient(180deg, var(--theme-tint15) 0%, transparent 100%);
}

main .section.bg-bottom-cap-2 > span.bg > svg {
    width: 100%;
    height: auto;
}

/* single 1 */
@media (max-width: 599px) {
    main .section.bg-bottom-single-1 > span.bg {
        min-height: 269.7222vw;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    main .section.bg-bottom-single-1 > span.bg {
        min-height: 135.6770vw;
    }
}

@media (min-width: 1025px) and (max-width: 1799px) {
    main .section.bg-bottom-single-1 > span.bg {
        min-height: 78.4027vw;
    }
}

@media (min-width: 1800px) {
    main .section.bg-bottom-single-1 > span.bg {
        min-height: 59.1101vw;
    }
}

main .section.bg-bottom-single-1 > span.bg > svg {
    bottom: 0;
    height: auto;
    width: 100%;
}
