/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 /* stylelint-disable no-descending-specificity */

 :root {
  --color-1-tint-15: #EDFFC8;
  --color-1-tint-10: #D5FE81;
  --color-1-tint-5: #9FE12D;
  --color-1: #73c41d;
  --color-1-shade-5: #1D9336;
  --color-1-shade-10: #00673B;
  --color-1-shade-15: #004C39;
  --color-2-tint-15: #FFF5E5;
  --color-2-tint-10: #FFC9B5;
  --color-2-tint-5: #FF8C71;
  --color-2: #FF5F3F;
  --color-2-shade-5: #CE4537;
  --color-2-shade-10: #99292E;
  --color-2-shade-15: #4C0021;
  --color-3-tint-15: #FFFAE5;
  --color-3-tint-10: #FFD9A3;
  --color-3-tint-5: #FFBC68;
  --color-3: #FE961C;
  --color-3-shade-5: #D26914;
  --color-3-shade-10: #AA410C;
  --color-3-shade-15: #6A0000;
  --color-4-tint-15: #FFFFE5;
  --color-4-tint-10: #FFF58F;
  --color-4-tint-5: #FFEE56;
  --color-4: #FFE619;
  --color-4-shade-5: #DBB412;
  --color-4-shade-10: #B6800B;
  --color-4-shade-15: #7C3000;
  --color-5-tint-15: #E5FDFF;
  --color-5-tint-10: #A2E3FF;
  --color-5-tint-5: #5CC8FF;
  --color-5: #16ACFF;
  --color-5-shade-5: #1087CC;
  --color-5-shade-10: #095C8F;
  --color-5-shade-15: #002B4C;
  --color-6-tint-15: #FDE5FF;
  --color-6-tint-10: #E0BEFF;
  --color-6-tint-5: #BD8EFF;
  --color-6: #A168FF;
  --color-6-shade-5: #794FCD;
  --color-6-shade-10: #4C3293;
  --color-6-shade-15: #0D0A43;
  --color-7-tint-15: #FFE9E5;
  --color-7-tint-10: #FFBDC8;
  --color-7-tint-5: #FF86A3;
  --color-7: #FF5D88;
  --color-7-shade-5: #CC4373;
  --color-7-shade-10: #96275D;
  --color-7-shade-15: #4C003E;
  --color-8-tint-15: #E5FFE6;
  --color-8-tint-10: #B1F8DF;
  --color-8-tint-5: #82F2D9;
  --color-8: #48EAD1;
  --color-8-shade-5: #34B9AC;
  --color-8-shade-10: #1B7B7E;
  --color-8-shade-15: #003A4C;
  --color-gray-1: #F5F4F1;
  --color-gray-2: #EBEAE7;
  --color-gray-3: #DFDEDC;
  --color-gray-4: #D5D4D2;
  --color-gray-5: #C8C8C6;
  --color-gray-6: #BABAB9;
  --color-gray-7: #BABAB9;
  --color-gray-8: #87888B;
  --color-gray-9: #74767A;
  --color-gray-10: #626467;
  --color-gray-11: #55575A;
  --color-gray-12: #404347;
  --color-gray-13: #313335;
  --color-white: #FFF;
  --color-black: #000;

  /* body */
  --body-background-color: var(--color-white);
  --body-alt-background-color: var(--color-gray-10);
  --body-font-family: 'Red Hat Text', sans-serif;
  --body-font-weight: 400;
  --body-color: var(--color-gray-9);

  /* headings */
  --heading-font-weight: 700;
  --heading-color: var(--color-gray-12);
  --heading-font-family: 'Fira Sans', 'Trebuchet', sans-serif;

  /* stylized font */
  --stylized-font-family: 'Permanent Marker', sans-serif;

  /* box-shadow */
  --box-shadow-1: 0 2px 5px 0 rgb(0 0 0 / 20%);
  --box-shadow-2: 0 30px 60px -40px rgb(31 38 23 / 50%);
  --box-shadow-3: 0 30px 60px -40px rgb(31 38 23 / 50%), 0 70px 100px -60px rgb(31 38 23 / 25%);
  --box-shadow-4: 0 68px 62px -35px rgb(54 63 58 / 50%);
  --box-shadow-1-color1-shade10: 0 2px 5px 0 rgb(0 103 59 / 20%);
  --box-shadow-2-color1-shade10: 0 30px 60px -40px rgb(0 103 59 / 50%);
  --box-shadow-3-color1-shade10: 0 30px 60px -40px rgb(0 103 59 / 50%), 0 70px 100px -60px rgb(0 103 59 / 25%);
  --box-shadow-4-color1-shade10: 0 68px 62px -35px rgb(0 103 59 / 20%);
  --box-shadow-1-color2-shade10: 0 2px 5px 0 rgb(153 41 46 / 20%);
  --box-shadow-2-color2-shade10: 0 30px 60px -40px rgb(153 41 46 / 20%);
  --box-shadow-3-color2-shade10: 0 30px 60px -40px rgb(153 41 46 / 20%), 0 70px 100px -60px rgb(153 41 46 / 20%);
  --box-shadow-4-color2-shade10: 0 68px 62px -35px rgb(153 41 46 / 20%);
  --box-shadow-1-color3-shade10: 0 2px 5px 0 rgb(170 65 12 / 20%);
  --box-shadow-2-color3-shade10: 0 30px 60px -40px rgb(170 65 12 / 20%);
  --box-shadow-3-color3-shade10: 0 30px 60px -40px rgb(170 65 12 / 20%), 0 70px 100px -60px rgb(170 65 12 / 20%);
  --box-shadow-4-color3-shade10: 0 68px 62px -35px rgb(170 65 12 / 20%);
  --box-shadow-1-color4-shade10: 0 2px 5px 0 rgb(182 128 11 / 20%);
  --box-shadow-2-color4-shade10: 0 30px 60px -40px rgb(182 128 11 / 20%);
  --box-shadow-3-color4-shade10: 0 30px 60px -40px rgb(182 128 11 / 20%), 0 70px 100px -60px rgb(182 128 11 / 20%);
  --box-shadow-4-color4-shade10: 0 68px 62px -35px rgb(182 128 11 / 20%);
  --box-shadow-1-color5-shade10: 0 2px 5px 0 rgb(9 92 143 / 20%);
  --box-shadow-2-color5-shade10: 0 30px 60px -40px rgb(9 92 143 / 20%);
  --box-shadow-3-color5-shade10: 0 30px 60px -40px rgb(9 92 143 / 20%), 0 70px 100px -60px rgb(9 92 143 / 20%);
  --box-shadow-4-color5-shade10: 0 68px 62px -35px rgb(9 92 143 / 20%);
  --box-shadow-1-color6-shade10: 0 2px 5px 0 rgb(76 50 147 / 20%);
  --box-shadow-2-color6-shade10: 0 30px 60px -40px rgb(76 50 147 / 20%);
  --box-shadow-3-color6-shade10: 0 30px 60px -40px rgb(76 50 147 / 20%), 0 70px 100px -60px rgb(76 50 147 / 20%);
  --box-shadow-4-color6-shade10: 0 68px 62px -35px rgb(76 50 147 / 20%);

  /* custom bullet svgs */
  --bullet-level1-gray: url('/blog/icons/bullets/level1-gray.svg');
  --bullet-level2-gray: url('/blog/icons/bullets/level2-gray.svg');
  --bullet-level3-gray: url('/blog/icons/bullets/level3-gray.svg');
  --bullet-level1-green: url('/blog/icons/bullets/level1-green.svg');
  --bullet-level2-green: url('/blog/icons/bullets/level2-green.svg');
  --bullet-level3-green: url('/blog/icons/bullets/level3-green.svg');
  --bullet-level1-red: url('/blog/icons/bullets/level1-red.svg');
  --bullet-level2-red: url('/blog/icons/bullets/level2-red.svg');
  --bullet-level3-red: url('/blog/icons/bullets/level3-red.svg');
  --bullet-level1-orange: url('/blog/icons/bullets/level1-orange.svg');
  --bullet-level2-orange: url('/blog/icons/bullets/level2-orange.svg');
  --bullet-level3-orange: url('/blog/icons/bullets/level3-orange.svg');
  --bullet-level1-yellow: url('/blog/icons/bullets/level1-yellow.svg');
  --bullet-level2-yellow: url('/blog/icons/bullets/level2-yellow.svg');
  --bullet-level3-yellow: url('/blog/icons/bullets/level3-yellow.svg');
  --bullet-level1-blue: url('/blog/icons/bullets/level1-blue.svg');
  --bullet-level2-blue: url('/blog/icons/bullets/level2-blue.svg');
  --bullet-level3-blue: url('/blog/icons/bullets/level3-blue.svg');
  --bullet-level1-purple: url('/blog/icons/bullets/level1-purple.svg');
  --bullet-level2-purple: url('/blog/icons/bullets/level2-purple.svg');
  --bullet-level3-purple: url('/blog/icons/bullets/level3-purple.svg');
  --bullet-level1-pink: url('/blog/icons/bullets/level1-pink.svg');
  --bullet-level2-pink: url('/blog/icons/bullets/level2-pink.svg');
  --bullet-level3-pink: url('/blog/icons/bullets/level3-pink.svg');
  --bullet-level1-teal: url('/blog/icons/bullets/level1-teal.svg');
  --bullet-level2-teal: url('/blog/icons/bullets/level2-teal.svg');
  --bullet-level3-teal: url('/blog/icons/bullets/level3-teal.svg');
}

header {
  height: 70px;
}

img {
  height: auto;
  width: auto;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);
  font-size: 18px;
  line-height: 27px;
  color: var(--color-gray-9);
  margin: 0;
  padding: 0;
  display: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.appear {
  display: unset;
}

/* buttons */

a.button:any-link {
  text-decoration: none;
  border-radius: 100px;
  border: none;
  padding: 18px 40px;

  /* outline: none; (keep outline for a11n) */
  text-align: center;
  font-size: 18px;
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: var(--heading-font-weight);
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-1);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

a.button:hover, a.button:focus {
  background-color: var(--color-1);
}

/* small button style */
a.button.small:any-link,
main .callout a.button {
  font-size: 15px;
  line-height: 22px;
  padding: 10px 30px;
}

a.button.large:any-link {
  padding: 8px 1.2rem;
  font-size: 17px;
}

a.button.xlarge:any-link {
  padding: 10px 1.4rem;
  font-size: 20px;
}

a.button.primary:any-link {
  background-color: var(--color-gray-11);
}

a.button.primary:hover, a.button.primary:focus {
  background-color: var(--color-gray-13);
}

a.button.secondary:any-link {
  border-radius: 5px;
}

a.button.light:any-link,
a.button.stroke:any-link {
  background-color: transparent;
  color: var(--color-1);
  border: solid 2px var(--color-1);
}

a.button.light:hover, a.button.light:focus {
  background-color: var(--color-1);
  color: var(--color-white);
}

a.button.primary.light:any-link {
  color: var(--color-gray-11);
  border-color: var(--color-gray-11);
}

a.button.primary.light:hover, a.button.primary.light:focus {
  background-color: var(--color-gray-13);
  border-color: var(--color-gray-13);
  color: var(--color-white);
}

a.button.secondary.light:any-link {
  color: var(--color-gray-10);
  border-color: var(--color-white);
  background-color: var(--color-white);
}

a.button.secondary.light:hover, a.button.secondary.light:focus {
  background-color: var(--color-gray-11);
  border-color: var(--color-gray-11);
  color: var(--color-white);
}

a.button.form:any-link {
  padding: 17px 25px;
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 26px;
}

a.button > svg {
  float: left;
  display: inline;
  width: 20px;
  height: 20px;
  margin: 8px 8px 8px 0;
  fill: currentcolor;
  color: currentcolor;
}

a.button > svg > use {
  fill: currentcolor;
  color: currentcolor;
}

/* headings and body */

main,
main ul li,
main ol li {
  font-size: 18px;
  line-height: 27px;
  font-weight: var(--body-font-weight);
}

main {
  margin: 0;
  color: var(--color-gray-9);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

main .default-content-wrapper ol {
  padding-inline-start: 20px;
}

main .default-content-wrapper ul li,
main .default-content-wrapper ol li {
  margin-bottom: 16px;
  color: var(--color-gray-9);
}

main .default-content-wrapper ol li {
  margin-left: 30px;
}

main .default-content-wrapper ul,
main .tabs ul,
main .columns ul {
  padding-inline-start: 20px;
  list-style-type: none;
}

main .default-content-wrapper ul li,
main .tabs ul li,
main .columns ul li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 30px;
}

main .default-content-wrapper ul li::before,
main .tabs ul li::before,
main .columns ul li::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background-image: var(--bullet-level1-gray);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 18px;
}

main .default-content-wrapper ul li ul li::before,
main .tabs ul li ul li::before,
main .columns ul li ul li::before {
  background-image: var(--bullet-level2-gray);
}

main .default-content-wrapper ul li ul li ul li::before,
main .tabs ul li ul li ul li::before,
main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-gray);
}

.marketplace-listing main .details-container ul li::before {
  content: none;
}

.color-theme-green main .default-content-wrapper ul li::before,
.color-theme-green main .tabs ul li::before,
.color-theme-green main .columns ul li::before {
  background-image: var(--bullet-level1-green);
}

.color-theme-red main .default-content-wrapper ul li::before,
.color-theme-red main .tabs ul li::before,
.color-theme-red main .columns ul li::before {
  background-image: var(--bullet-level1-red);
}

.color-theme-orange main .default-content-wrapper ul li::before,
.color-theme-orange main .tabs ul li::before,
.color-theme-orange main .columns ul li::before {
  background-image: var(--bullet-level1-orange);
}

.color-theme-yellow main .default-content-wrapper ul li::before,
.color-theme-yellow main .tabs ul li::before,
.color-theme-yellow main .columns ul li::before {
  background-image: var(--bullet-level1-yellow);
}

.color-theme-blue main .default-content-wrapper ul li::before,
.color-theme-blue main .tabs ul li::before,
.color-theme-blue main .columns ul li::before {
  background-image: var(--bullet-level1-blue);
}

.color-theme-purple main .default-content-wrapper ul li::before,
.color-theme-purple main .tabs ul li::before,
.color-theme-purple main .columns ul li::before {
  background-image: var(--bullet-level1-purple);
}

.color-theme-pink main .default-content-wrapper ul li::before,
.color-theme-pink main .tabs ul li::before,
.color-theme-pink main .columns ul li::before {
  background-image: var(--bullet-level1-pink);
}

.color-theme-teal main .default-content-wrapper ul li::before,
.color-theme-teal main .tabs ul li::before,
.color-theme-teal main .columns ul li::before {
  background-image: var(--bullet-level1-teal);
}

.color-theme-green main .default-content-wrapper ul li ul li::before,
.color-theme-green main .tabs ul li ul li::before,
.color-theme-green main .columns ul li ul li::before {
  background-image: var(--bullet-level2-green);
}

.color-theme-red main .default-content-wrapper ul li ul li::before,
.color-theme-red main .tabs ul li ul li::before,
.color-theme-red main .columns ul li ul li::before {
  background-image: var(--bullet-level2-red);
}

.color-theme-orange main .default-content-wrapper ul li ul li::before,
.color-theme-orange main .tabs ul li ul li::before,
.color-theme-orange main .columns ul li ul li::before {
  background-image: var(--bullet-level2-orange);
}

.color-theme-yellow main .default-content-wrapper ul li ul li::before,
.color-theme-yellow main .tabs ul li ul li::before,
.color-theme-yellow main .columns ul li ul li::before {
  background-image: var(--bullet-level2-yellow);
}

.color-theme-blue main .default-content-wrapper ul li ul li::before,
.color-theme-blue main .tabs ul li ul li::before,
.color-theme-blue main .columns ul li ul li::before {
  background-image: var(--bullet-level2-blue);
}

.color-theme-purple main .default-content-wrapper ul li ul li::before,
.color-theme-purple main .tabs ul li ul li::before,
.color-theme-purple main .columns ul li ul li::before {
  background-image: var(--bullet-level2-purple);
}

.color-theme-pink main .default-content-wrapper ul li ul li::before,
.color-theme-pink main .tabs ul li ul li::before,
.color-theme-pink main .columns ul li ul li::before {
  background-image: var(--bullet-level2-pink);
}

.color-theme-teal main .default-content-wrapper ul li ul li::before,
.color-theme-teal main .tabs ul li ul li::before,
.color-theme-teal main .columns ul li ul li::before {
  background-image: var(--bullet-level2-teal);
}

.color-theme-green main .default-content-wrapper ul li ul li ul li::before,
.color-theme-green main .tabs ul li ul li ul li::before,
.color-theme-green main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-green);
}

.color-theme-red main .default-content-wrapper ul li ul li ul li::before,
.color-theme-red main .tabs ul li ul li ul li::before,
.color-theme-red main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-red);
}

.color-theme-orange main .default-content-wrapper ul li ul li ul li::before,
.color-theme-orange main .tabs ul li ul li ul li::before,
.color-theme-orange main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-orange);
}

.color-theme-yellow main .default-content-wrapper ul li ul li ul li::before,
.color-theme-yellow main .tabs ul li ul li ul li::before,
.color-theme-yellow main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-yellow);
}

.color-theme-blue main .default-content-wrapper ul li ul li ul li::before,
.color-theme-blue main .tabs ul li ul li ul li::before,
.color-theme-blue main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-blue);
}

.color-theme-purple main .default-content-wrapper ul li ul li ul li::before,
.color-theme-purple main .tabs ul li ul li ul li::before,
.color-theme-purple main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-purple);
}

.color-theme-pink main .default-content-wrapper ul li ul li ul li::before,
.color-theme-pink main .tabs ul li ul li ul li::before,
.color-theme-pink main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-pink);
}

.color-theme-teal main .default-content-wrapper ul li ul li ul li::before,
.color-theme-teal main .tabs ul li ul li ul li::before,
.color-theme-teal main .columns ul li ul li ul li::before {
  background-image: var(--bullet-level3-teal);
}

main p:not(:last-of-type) {
  margin-bottom: 32px;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: var(--heading-color);
  font-weight: var(--heading-font-weight);
  font-family: var(--heading-font-family);
  font-style: italic;
  margin-top: 48px;
  margin-bottom: 16px;
  scroll-margin: 80px;
}

main h1 {
  font-family: var(--heading-font-family);
  font-size: 36px;
  line-height: 44px;
  font-style: italic;
}

main h2 {
  font-size: 30px;
  line-height: 36px;
}

main h3 {
  font-size: 24px;
  line-height: 36px;
}

main h4 {
  font-size: 20px;
  line-height: 28px;
}

main h5, main h6 {
  font-size: 18px;
  line-height: 26px;
}

main h1.hidden {
  display: none;
}

.comparison-matrix main h1 {
  margin: 0;
}

.typ-section-header,
.marketplace main h1,
.resources-guides main h2,
main .article-header h1,
.call-to-action-modal main h3 {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.typ-hero-header,
.typ-display1,
.resources-guides main h1,
main .page-header .page-header-title,
main .page-header .page-header-title h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
}

.typ-hero-subhead,
.typ-subhead1 {
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 20px 0 0;
}

.typ-section-subhead {
  font-family: var(--body-font-family);
  font-size: 21px;
  line-height: 30px;
  margin: 20px 0 0;
}

.typ-small-header,
.marketplace-home main .home-featured-cat .default-content-wrapper h2 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.typ-small-header2 {
  font-family: var(--heading-font-family);
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
}

.typ-title1,
.resources-guides main h3 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 30px;
}

.typ-title2,
.home-more .columns p strong {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.typ-stats {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
}

.typ-stats-subhead {
  font-family: var(--body-font-family);
  font-size: 19px;
  line-height: 28px;
  margin: 10px 0 0;
}

.typ-quote {
  font-family: var(--body-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.typ-quote-reference {
  font-family: var(--body-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 30px 0 0;
}

.typ-medium-info,
.resoureces-guides main h4 {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.typ-small-info {
  font-family: var(--body-font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.typ-table-body,
table th,
table td {
  font-family: var(--body-font-family);
  font-size: 15px;
  line-height: 22px;
}

@media (min-width:600px) {
  .typ-hero-subhead,
  .typ-subhead1 {
    font-size: 21px;
    line-height: 28px;
    margin: 30px 0 0;
  }

  .typ-quote {
    font-size: 26px;
    line-height: 38px;
  }
}

@media (min-width: 900px) {
  .typ-hero-header,
  .typ-display1,
  .resources-guides main h1,
  main .page-header .page-header-title,
  main .page-header .page-header-title h1 {
    font-size: 54px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .typ-section-header,
  .marketplace main h1,
  .resources-guides main h2,
  main .article-header h1,
  .call-to-action-modal main h3 {
    font-size: 48px;
    line-height: 60px;
  }

  .typ-hero-header,
  .typ-display1,
  .resources-guides main h1,
  main .page-header .page-header-title,
  main .page-header .page-header-title h1 {
    font-size: 70px;
    line-height: 80px;
  }

  .typ-small-header,
  .marketplace-home main .home-featured-cat .default-content-wrapper h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .typ-small-header2 {
    font-size: 30px;
    line-height: 38px;
  }

  .typ-stats-subhead {
    font-size: 14px;
    line-height: 24px;
  }
}

.resources-guides.color-theme-purple main h1,
.resources-guides.color-theme-purple main h2,
.resources-guides.color-theme-purple main h4 {
  color: var(--color-6-shade-5);
}

.resources-guides main h1,
.resources-guides main h2 {
  text-align: center;
}

.resources-guides main h3 {
  color: var(--color-gray-9);
}

/* links */

main a:any-link {
  color: var(--color-gray-9);
  line-height: 1.5;
  text-decoration: none;
}

main a.cta-link {
  color: var(--color-1);
  font-weight: 700;
  text-decoration: none;
}

main a.cta-link::after {
  content: " >";
}

main a.cta-link:hover {
  color: var(--color-1);
}

main a.cta-link:active,
main a.cta-link:focus {
  color: var(--color-1);
}

main img,
main video {
  max-width: 100%;
}

/* section wrapper */

main .section {
  margin-top: 64px;
}

main .section:first-of-type {
  padding-top: 0;
  margin-top: 0;
}

main .section:last-of-type {
  margin-bottom: 0;
  padding: 0;
}

main .section > div {
  margin: auto;
  padding: 0 30px;
}

main .section > div:empty {
  padding: 0;
}

@media (min-width: 600px) {
  main .section > div {
    max-width: unset;
    padding: 0 54px;
  }
}

@media (min-width: 700px) {
  main .section > div {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .marketplace main .section > div {
    max-width: 1200px;
  }

  .resources-guides main .section > div {
    max-width: 1160px;
  }

  main .section > div > :not(div) {
    margin-left: auto;
    margin-right: auto;
  }
}

main .section p.button-container {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.marketplace .home-featured-cat p.button-container {
  margin-top: 40px;
}

main .section.home-more {
  margin-bottom: 60px;
}

main .section.app-cards-container {
  margin-bottom: 120px;
}

main .default-content-wrapper a:any-link {
	color: var(--category-color);
	background: linear-gradient(#f000 50%, var(--category-bg-color) 50.1%);
	text-decoration: none;
}

main .default-content-wrapper p a.button:any-link {
	color: var(--color-white);
	background: unset;
	background-color: var(--category-color);
}

/* listing template styles */
.resources-guides main .toc-wrapper,
.resources-guides main .default-content-wrapper,
.resources-guides main .quote-wrapper,
.resources-guides main .columns-wrapper {
  position: relative;
  z-index: 1;
}

.app-list main .default-content-wrapper {
  padding: 64px;
  text-align: center;
}

.marketplace-listing .details-container {
	margin-top: 30px;
}

.marketplace-listing .details-container .details-logo {
	margin-bottom: 55px;
}

.marketplace-listing .details-container .button-container {
	margin: 1em 0 -2px;
}

.marketplace-listing .details-container ul li a {
	font-family: var(--heading-font-family);
	font-size: 16px;
	line-height: 24px;
	font-weight: var(--heading-font-weight);
	position: relative;
	display: inline-block;
	padding-right: 15px;
	color: var(--color-1-shade-5);
	background: none;
}

.marketplace-listing .details-container .button-container a.button {
	background: transparent;
	color: var(--color-1-shade-5);
	padding: 0;
	margin: 0;
	font-size: 17px;
  line-height: 24px;
	font-weight: var(--body-font-weight);
	font-style: normal;
	font-family:  var(--body-font-family);
}

.marketplace-listing .details-container ul li a::after {
	content: "";
	border: solid var(--color-1-shade-5);
	border-width: 0 2.5px 2.5px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	position: absolute;
	top: 6px;
	right: 0;
}

.marketplace-listing .links-container {
	margin-top: 55px;
}

.marketplace-listing .links-container .default-content-wrapper {
	max-width: 250px;
	margin-left: 0;
}

#marketplace-request-info {
  background-color: var(--color-5);
}

.marketplace-listing .links-container .button-container .button {
  background-color: var(--color-1-shade-5);
}

.marketplace-listing .details-container .default-content-wrapper h4 {
	font-style: normal;
}

.marketplace-listing .tabs-content > p:not(:last-of-type) {
	margin-bottom: 30px;
}

.marketplace-home {
  background-image: url('./leaf-top-1.svg'), linear-gradient(var(--color-gray-3), var(--color-gray-3) calc(500px + (100vw * 0.124)), var(--color-white) calc(100vw * 0.124));
  background-position: 0 500px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

.marketplace-listing,
.app-list {
  background-image: url('./header-leaf.svg'), linear-gradient(var(--color-gray-1), var(--color-gray-1) calc(400px + (100vw * 0.2)), var(--color-white) calc(100vw * 0.2));
  background-position: 0 400px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

.comparison-matrix main .section {
  margin-top: 0;
  margin-bottom: 0;
}

.comparison-matrix main .section .default-content-wrapper {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}

.marketplace-home main .home-featured-cat .default-content-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.comparison-matrix main .section:first-of-type .default-content-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.marketplace-home main .home-featured-cat .default-content-wrapper h2 {
  font-style: italic;
  margin: 0;
}

.comparison-matrix main .section .default-content-wrapper h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
}

.marketplace-form {
  background-image: url('./leaf-top-3.svg'), linear-gradient(var(--color-white), var(--color-white) calc(250px + (100vw * 0.2)), var(--color-white) calc(100vw * 0.2));
  background-position: 0 250px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1000px) {
  .marketplace-listing main {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 368px calc(100% - 368px);
    grid-template-rows: repeat(3, auto) 1fr;
    /* stylelint-disable-next-line */
    grid-template-areas:
      'header header'
      'carousel carousel'
      'links tabs'
      'details tabs';
    }

  .marketplace-listing .listing-header-container {
    grid-area: header;
  }

  .marketplace-listing .carousel-container {
    grid-area: carousel;
  }

  .marketplace-listing .links-container {
    grid-area: links;
  }

  .marketplace-listing .tabs-container {
    grid-area: tabs;
  }

  .marketplace-listing .details-container {
    grid-area: details;
  }
}

@media (min-width: 1200px) {
  .marketplace-home {
    background-image: url('./leaf-top-1.svg'), linear-gradient(var(--color-gray-3), var(--color-gray-3) calc(470px + (100vw * 0.124)), var(--color-white) calc(100vw * 0.124));
    background-position: 0 470px, top;
  }
}

/* category colors */

/* stylelint-disable-next-line no-duplicate-selectors */
main, .category-hr-insights main,
.category-color-hr-insights {
  --category-color: var(--color-8-shade-10);
  --category-darker-color: var(--color-8-shade-15);
  --category-darker-bg-color: var(--color-8-tint-10);
  --category-bg-color: var(--color-5-tint-15);
  --category-callout-bg: url('./bg/teal-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, var(--color-8-shade-10) 0%, var(--color-5-shade-5) 100%);
  --category-box-shadow-color: rgba(52 185 172 / 50%);
}

.category-voices-in-leadership main,
.category-color-voices-in-leadership {
  --category-color: var(--color-2-shade-5);
  --category-darker-color: var(--color-2-shade-10);
  --category-darker-bg-color: var(--color-2-tint-10);
  --category-bg-color: var(--color-2-tint-15);
  --category-callout-bg: url('./bg/red-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, var(--color-2-shade-5) 0%, var(--color-7-shade-5) 100%);
  --category-box-shadow-color: rgba(206 69 55 / 50%);
}

.category-product-announcements main,
div.category-color-product-announcements {
  --category-color: var(--color-1-shade-5);
  --category-darker-color: var(--color-1-shade-10);
  --category-darker-bg-color: var(--color-1-tint-10);
  --category-bg-color: var(--color-1-tint-15);
  --category-callout-bg: url('./bg/green-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, var(--color-1-shade-5) 0%, var(--color-8-shade-10) 100%);
  --category-box-shadow-color: rgba(29 147 54 / 50%);
}

.category-hiring main,
div.category-color-hiring {
  --category-color: var(--color-4-shade-10);
  --category-darker-color: var(--color-4-shade-15);
  --category-darker-bg-color: var(--color-4-tint-10);
  --category-bg-color: var(--color-4-tint-15);
  --category-callout-bg: url('./bg/yellow-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, var(--color-3-shade-10) 0%, var(--color-4-shade-10) 100%);
  --category-box-shadow-color: rgba(219 180 18 / 50%);
}

.category-performance-culture main,
div.category-color-performance-culture {
  --category-color: var(--color-5-shade-5);
  --category-darker-color: var(--color-5-shade-10);
  --category-darker-bg-color: var(--color-5-tint-10);
  --category-bg-color: var(--color-5-tint-15);
  --category-callout-bg: url('./bg/blue-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 100%, var(--color-6-shade-5) 0%, var(--color-5-shade-5) 100%);
  --category-box-shadow-color: rgba(16 135 204 / 50%);
}

.category-benefits-comp main,
div.category-color-benefits-comp {
  --category-color: var(--color-7-shade-5);
  --category-darker-color: var(--color-7-shade-10);
  --category-darker-bg-color: var(--color-7-tint-10);
  --category-bg-color: var(--color-7-tint-15);
  --category-callout-bg: url('./bg/red-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 100%, var(--color-6-shade-5) 0%, var(--color-7-shade-5) 100%);
  --category-box-shadow-color: rgba(204 67 115 / 50%);
}

.category-onboarding main,
div.category-color-onboarding {
  --category-color: var(--color-3-shade-5);
  --category-darker-color: var(--color-3-shade-10);
  --category-darker-bg-color: var(--color-3-tint-10);
  --category-bg-color: var(--color-3-tint-15);
  --category-callout-bg: url('./bg/pink-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, var(--color-3-shade-5) 0%, var(--color-2-shade-5) 100%);
  --category-box-shadow-color: rgba(179 81 0 / 50%);
}

.category-people-data-analytics main,
div.category-color-people-data-analytics {
  --category-color: var(--color-6-shade-5);
  --category-darker-color: var(--color-6-shade-10);
  --category-darker-bg-color: var(--color-6-tint-10);
  --category-bg-color: var(--color-6-tint-15);
  --category-callout-bg: url('./bg/purple-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, var(--color-6-shade-5) 0%, var(--color-7-shade-5) 100%);
  --category-box-shadow-color: rgba(121 79 205 / 50%);
}

.marketplace main .default-content-wrapper a:any-link {
  color: var(--color-1-shade-5);
  background: unset;
}

/* small button style copied here to prevent linting error: no-descending-specificity */
.marketplace-home main .default-content-wrapper p a.button:any-link {
  font-size: 15px;
  line-height: 22px;
  padding: 10px 30px;

  /* below not part of small button style */
  background-color: var(--color-1-shade-5);
}

.marketplace-listing .details-container ul {
	margin-top: 60px;
}

.marketplace-listing .details-container ul li {
	margin-bottom: 30px;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 20px;
  border: 2px solid var(--color-gray-3);
  text-align: left;
  vertical-align: middle;
}

table th,
table tbody th {
  color: var(--color-white);
  font-weight: 800;
}

table td {
  color: var(--color-gray-9);
}

table thead {
  background-color: var(--color-1);
}

table thead th {
  border-color: var(--color-1);
}

table tbody th {
  background-color: var(--color-gray-8);
}

table tbody tr:nth-child(odd) {
  background-color: var(--color-white);
}

table tbody tr:nth-child(2n) {
  background-color: var(--color-gray-1);
}

/* Background styles */
.resources-guides .section:last-of-type {
  margin-top: 0;
}

.gradient-section-1 .image-wrapper:nth-last-of-type(2),
.gradient-section-2 .image-wrapper:nth-last-of-type(2),
.gradient-section-3 .image-wrapper:nth-last-of-type(2) {
  margin: 0;
  padding: 0;
  max-width: unset;
}

.gradient-section-4 .image-wrapper .image {
  margin: 0;
}

main .section.gradient-section-4 > div:last-of-type {
  padding-bottom: 50px;
}

.purple-1 {
	background: linear-gradient(207.16deg, var(--color-white) 16.51%, var(--color-5-tint-15) 82.6%);
}

.purple-2 {
  background: linear-gradient(207.16deg, var(--color-white) 44.04%, #FEF2FF 82.6%);
}

.purple-3 {
	background: linear-gradient(207.16deg, var(--color-white) 29.59%, var(--color-5-tint-15) 82.6%);
  position: relative;
}

.purple-4 {
	background: linear-gradient(207.16deg, var(--color-white) 16.51%, var(--color-6-tint-15) 82.6%);
}

.gradient-section-4 {
  position: relative;
}

.bg-hex-1 img {
  min-width: 116px;
  max-width: 478px;
  width: 34%;
  top: 13%;
  left: 0;
  position: absolute;
}

.bg-hex-2 img {
  min-width: 113px;
  max-width: 469px;
  right: 7%;
  top: 170%;
  width: 49%;
  position: absolute;
}

.bg-hex-3 img {
  min-width: 100px;
  max-width: 433px;
  left: 6%;
  top: 29%;
  width: 31%;
  position: absolute;
}

.bg-hex-4 img {
  max-width: 621px;
  left: 0;
  bottom: 59%;
  width: 44%;
  position: absolute;
}

.bg-hex-5 img {
  max-width: 280px;
  right: 3%;
  bottom: 53%;
  width: 20%;
  position: absolute;
}

.bg-hex-6 img {
  max-width: 792px;
  right: 0;
  bottom: 0;
  width: 55%;
  position: absolute;
}

.bg-section-bottom-1 img {
  margin-top: 20px;
  width: 100%;
  margin-bottom: -8px;
}

.bg-section-bottom-2 img {
  transform: scaleX(-1);
  width: 100%;
  margin-bottom: -8px;
}

.bg-section-bottom-3 img {
  width: 100%;
  margin-bottom: -8px;
}

@media screen and (min-width: 600px) {
  .bg-hex-1 img {
    top: 11%;
  }

  .bg-hex-2 img {
    top: 132%;
  }

  .bg-hex-3 img {
    top: 31%;
  }

  .bg-hex-4 img {
    bottom: 57%;
  }

  .bg-hex-5 img {
    bottom: 47%;
  }
}

@media screen and (min-width: 1025px) {
  .bg-hex-1 img {
    top: 20%;
  }

  .bg-hex-2 img {
    top: 139%;
  }

  .bg-hex-3 img {
    top: 21%;
  }

  .bg-hex-4 img {
    bottom: 35%;
  }

  .bg-hex-5 img {
    bottom: 35%;
  }
}

/* above the fold CSS goes here to squash CLS */

main .section[data-section-status='loading'], main .section[data-section-status='initialized'] {
  display: none;
}
