/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  --color-1: #73c41d;
  --color-1-shade-5: #1D9336;
  --color-2: #FF5F3F;
  --color-white: #FFF;
  --color-gray-100: #F8F8F8;
  --color-gray-200: #E8E8E8;
  --color-gray-300: #D4D4D4;
  --color-gray-400: #B6B6B6;
  --color-gray-500: #909090;
  --color-gray-600: #686868;
  --color-gray-700: #444;
  --color-gray-800: #242424;
  --color-gray-1: #F5F4F1;
  --color-gray-2: #EBEAE7;
  --color-gray-3: #DFDEDC;
  --color-gray-4: #D5D4D2;
  --color-gray-5: #C8C8C6;
  --color-gray-6: #BABAB9;
  --color-gray-7: #BABAB9;
  --color-gray-8: #87888B;
  --color-gray-9: #74767A;
  --color-gray-10: #626467;
  --color-gray-11: #55575A;
  --color-gray-12: #404347;
  --color-gray-13: #313335;
  --color-black: #000;
  --color-brand-title: #000B1D;
  --color-info-accent: #73c41d;
  --color-info-accent-hover: #73c41d;
  --color-info-accent-down: #80d32c;
  --color-info-accent-light: #DEDEF9;
  --color-elite-ribbon: #FDD436;
  --color-pro-ribbon: #D6D9D0;

  /* body */
  --body-background-color: var(--color-white);
  --body-alt-background-color: var(--color-gray-600);
  --body-font-family: 'Red Hat Text', sans-serif;
  --body-font-weight: 400;
  --body-color: #74767a;
  --body-line-height: 1.5;
  --body-line-height-s: 1.3;
  --body-line-height-m: 1.6;
  --body-line-height-l: 1.7;
  --body-font-size-xxl: 1.75rem; /* 28px */
  --body-font-size-xl: 1.375rem; /* 22px */
  --body-font-size-l: 1.25rem; /* 20px */
  --body-font-size-m: 17px;
  --body-font-size-s: 1rem; /* 16px */
  --body-font-size-xs: 0.875rem; /* 14px */
  --body-font-size-xxs: 0.75rem; /* 12px */

  /* headings */
  --heading-font-weight: 700;
  --heading-color: #404347;
  --heading-line-height: 1.25;
  --heading-line-height-m: 1.35;
  --heading-line-height-l: 1.5;
  --heading-font-size-xxxl: 5rem; /* 80px */
  --heading-font-size-xxl: 2.75rem; /* 44px */
  --heading-font-size-xl: 2.25rem; /* 36px */
  --heading-font-size-l: 30px;
  --heading-font-size-m: 1.5rem; /* 24px */
  --heading-font-size-s: 1.25rem; /* 20px */
  --heading-font-size-xs: 1.125rem; /* 18px */
  --heading-font-size: 1rem; /* 16px */
  --heading-font-size-xxs: 0.875rem; /* 14px */
  --heading-font-family: 'Fira Sans', 'Trebuchet', sans-serif;


  /* details */
  --detail-font-weight: 700;
  --detail-color: var(--color-gray-600);
  --detail-line-height: 1.25;
  --detail-font-size-l: 1.25rem; /* 20px */
  --detail-font-size-m: 1rem; /* 16px */
  --detail-font-size-s: 0.75rem; /* 12px */

  /* box-shadow */
  --box-shadow-1: 0 2px 5px 0 rgb(0 0 0 / 20%);
  --box-shadow-2: 0 30px 60px -40px rgb(31 38 23 / 50%);
  --box-shadow-3: 0 30px 60px -40px rgb(31 38 23 / 50%), 0 70px 100px -60px rgb(31 38 23 / 25%);
  --box-shadow-4: 0 68px 62px -35px rgb(54 63 58 / 50%);
}


@media (min-width: 900px) {
  :root {
    --heading-font-size-xxxl: 3.75rem; /* 60px */
  }
}

@media (min-width: 1200px) {
  :root {
    --heading-font-size-xxxl: 2.75rem; /* 44px */
  }
}

header {
  height: 70px;
}

img {
  height: auto;
  width: auto;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  color: var(--body-color);
  margin: 0;
  padding: 0;
  display: none;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.appear {
  display: unset;
}

/* buttons */

a.button:any-link {
  text-decoration: none;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 17px 25px;

  /* outline: none; (keep outline for a11n) */
  text-align: center;
  font-size: var(--body-font-size-m);
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-info-accent);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

a.button:hover, a.button:focus {
  background-color: var(--color-info-accent-hover);
}

a.button.small:any-link {
  padding: 8px 1.5rem;
  font-size: var(--body-font-size-xxs);
}

a.button.large:any-link {
  padding: 8px 1.2rem;
  font-size: var(--body-font-size-m);
}

a.button.xlarge:any-link {
  padding: 10px 1.4rem;
  font-size: var(--body-font-size-l);
}

a.button.primary:any-link {
  background-color: var(--color-gray-700);
}

a.button.primary:hover, a.button.primary:focus {
  background-color: var(--color-gray-800);
}

a.button.secondary:any-link {
  background-color: var(--color-gray-600);
}

a.button.secondary:hover, a.button.secondary:focus {
  background-color: var(--color-gray-700);
}

a.button.light:any-link {
  background-color: transparent;
  color: var(--color-info-accent);
  border: solid 2px var(--color-info-accent);
}

a.button.light:hover, a.button.light:focus {
  background-color: var(--color-info-accent-hover);
  color: var(--color-white);
}

a.button.primary.light:any-link {
  color: var(--color-gray-700);
  border-color: var(--color-gray-700);
}

a.button.primary.light:hover, a.button.primary.light:focus {
  background-color: var(--color-gray-800);
  border-color: var(--color-gray-800);
  color: var(--color-white);
}

a.button.secondary.light:any-link {
  color: var(--color-gray-600);
  border-color: var(--color-white);
  background-color: var(--color-white);
}

a.button.secondary.light:hover, a.button.secondary.light:focus {
  background-color: var(--color-gray-700);
  border-color: var(--color-gray-700);
  color: var(--color-white);
}

a.button > svg {
  float: left;
  display: inline;
  width: 20px;
  height: 20px;
  margin: 8px 8px 8px 0;
  fill: currentcolor;
  color: currentcolor;
}

a.button > svg > use {
  fill: currentcolor;
  color: currentcolor;
}

/* headings and body */

main {
  font-size: var(--body-font-size-m);
  line-height: var(--body-line-height);
  margin: 0;
  font-weight: var(--body-font-weight);
}


p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

main p:not(:last-of-type) {
  margin-bottom: 32px;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: var(--heading-color);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  font-family: var(--heading-font-family);
  font-style: italic;
  margin-top: 48px;
  margin-bottom: 16px;
  scroll-margin: 80px;
}

main h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xl);
  font-style: italic;
}

main h2 {
  font-size: var(--heading-font-size-l);
}

main h3 {
  font-size: var(--heading-font-size-m);
}

main h4 {
  font-size: var(--heading-font-size-s);
}

main h5, main h6 {
  font-size: var(--heading-font-size-xs);
}

main h1.hidden {
  display: none;
}

.marketplace main h1 {
  font-size: 36px;
  line-height: var(--heading-line-height);
  font-weight: 800;
}

.comparison-matrix main h1 {
  margin: 0;
}

@media (min-width:600px) {
  .marketplace main h1 {
    font-size: 48px;
  }
}

/* links */

main a:any-link {
  color: var(--body-color);
  line-height: var(--body-line-height);
  text-decoration: none;
}

main a.cta-link {
  color: var(--color-info-accent);
  font-weight: 700;
  text-decoration: none;
}

main a.cta-link::after {
  content: " >";
}

main a.cta-link:hover {
  color: var(--color-info-accent-hover);
}

main a.cta-link:active,
main a.cta-link:focus {
  color: var(--color-info-accent-down);
}

main img,
main video {
  max-width: 100%;
}

/* section wrapper */

main .section {
  margin-top: 64px;
}

main .section:first-of-type {
  padding-top: 0;
  margin-top: 0;
}

main .section:last-of-type {
  margin-bottom: 0;
  padding: 0;
}

@media (min-width:600px) {
  main .section > div {
    max-width: unset;
  }
}

main .section > div {
  margin: auto;
  padding: 0 30px;
}

main .section > div:empty {
  padding: 0;
}

@media (min-width: 600px) {
  main .section > div {
    max-width: unset;
    padding: 0 54px;
  }
}

@media (min-width: 700px) {
  main .section > div {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .marketplace main .section > div {
    max-width: 1200px;
  }

  main .section > div > :not(div) {
    margin-left: auto;
    margin-right: auto;
  }
}

main .section p.button-container {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.marketplace .home-featured-cat p.button-container {
  margin-top: 40px;
}

main .section.home-more {
  margin-bottom: 60px;
}

main .section.app-cards-container {
  margin-bottom: 120px;
}

/* listing template styles */
.marketplace-home {
  background-image: url('./leaf-top-1.svg'), linear-gradient(var(--color-gray-3), var(--color-gray-3) calc(450px + (100vw * 0.124)), white calc(100vw * 0.124));
  background-position: 0 450px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

.marketplace-listing,
.app-list {
  background-image: url('./header-leaf.svg'), linear-gradient(var(--color-gray-1), var(--color-gray-1) calc(400px + (100vw * 0.2)), white calc(100vw * 0.2));
  background-position: 0 400px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

.marketplace-home main .search-container {
  margin-bottom: 200px;
}

.app-list main div.default-content-wrapper {
  padding: 64px;
  text-align: center;
}

.marketplace-home main .home-featured-cat div.default-content-wrapper {
  margin-top: 100px;
  margin-bottom: 195px;
  text-align: center;
}

.comparison-matrix main div.default-content-wrapper {
  padding: 100px 0;
  text-align: center;
}

.comparison-matrix main .extra-info > div.default-content-wrapper {
  text-align: left;
  padding: 0;
}

.marketplace-home main .search-container > div.default-content-wrapper {
  padding: 32px 64px 14px;
  text-align: center;
}

.marketplace-home main .home-featured-cat > div.default-content-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.marketplace-home main .home-featured-cat div.default-content-wrapper h2 {
  font-style: italic;
  font-size: 30px;
  line-height: var(--heading-line-height);
  margin: 0;
}

.marketplace-form {
  background-image: url('./leaf-top-3.svg'), linear-gradient(var(--color-white), var(--color-white) calc(250px + (100vw * 0.2)), var(--color-white) calc(100vw * 0.2));
  background-position: 0 250px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1000px) {
  .marketplace-home main .home-featured-cat div.default-content-wrapper h2 {
    font-size: 36px;
  }

  .marketplace-listing main {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 368px calc(100% - 368px); 
    grid-template-rows: repeat(3, auto) 1fr;
    /* stylelint-disable-next-line */
    grid-template-areas: 
      'header header'
      'carousel carousel'
      'links tabs'
      'details tabs'; 
    }

  .marketplace-listing .listing-header-container {
    grid-area: header;
  }

  .marketplace-listing .carousel-container {
    grid-area: carousel;
  }

  .marketplace-listing .links-container {
    grid-area: links;
  }

  .marketplace-listing .tabs-container {
    grid-area: tabs;
  }

  .marketplace-listing .details-container {
    grid-area: details;
  }
}

@media (min-width: 1200px) {
  .marketplace-home {
    background-image: url('./leaf-top-1.svg'), linear-gradient(var(--color-gray-3), var(--color-gray-3) calc(470px + (100vw * 0.124)), white calc(100vw * 0.124));
    background-position: 0 470px, top;
  }
}

/* category colors */

/* stylelint-disable-next-line no-duplicate-selectors */
main, .category-hr-insights main,
.category-color-hr-insights {
  --category-color: #1b7b7e;
  --category-darker-color: #003a4c;
  --category-darker-bg-color: #b1f8df;
  --category-bg-color: #e5fdff;
  --category-callout-bg: url('./bg/teal-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, #1B7B7E 0%, #1087CC 100%);
  --category-box-shadow-color: rgba(52 185 172 / 50%);
}

.category-voices-in-leadership main,
.category-color-voices-in-leadership {
  --category-color: #ce4537;
  --category-darker-color: #99292e;
  --category-darker-bg-color: #ffc9b5;
  --category-bg-color: #fff5e5;
  --category-callout-bg: url('./bg/red-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, #CE4537 0%, #CC4373 100%);
  --category-box-shadow-color: rgba(206 69 55 / 50%);
}

.category-product-announcements main,
div.category-color-product-announcements {
  --category-color: #1d9336;
  --category-darker-color: #00673b;
  --category-darker-bg-color: #d5fe81;
  --category-bg-color: #edffc8;
  --category-callout-bg: url('./bg/green-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, #1D9336 0%, #1B7B7E 100%);
  --category-box-shadow-color: rgba(29 147 54 / 50%);
}

.category-hiring main,
div.category-color-hiring {
  --category-color: #b6800b;
  --category-darker-color: #7c3000;
  --category-darker-bg-color: #fff58f;
  --category-bg-color: #ffffe5;
  --category-callout-bg: url('./bg/yellow-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, #AA410C 0%, #B6800B 100%);
  --category-box-shadow-color: rgba(219 180 18 / 50%);
}

.category-performance-culture main,
div.category-color-performance-culture {
  --category-color: #1087cc;
  --category-darker-color: #095c8f;
  --category-darker-bg-color: #a2e3ff;
  --category-bg-color: #e5fdff;
  --category-callout-bg: url('./bg/blue-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 100%, #794FCD 0%, #1087CC 100%);
  --category-box-shadow-color: rgba(16 135 204 / 50%);
}

.category-benefits-comp main,
div.category-color-benefits-comp {
  --category-color: #cc4373;
  --category-darker-color: #96275d;
  --category-darker-bg-color: #ffbdc8;
  --category-bg-color: #ffe9e5;
  --category-callout-bg: url('./bg/red-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 100%, #794FCD 0%, #CC4373 100%);
  --category-box-shadow-color: rgba(204 67 115 / 50%);
}

.category-onboarding main,
div.category-color-onboarding {
  --category-color: #d26914;
  --category-darker-color: #aa410c;
  --category-darker-bg-color: #ffd9a3;
  --category-bg-color: #fffae5;
  --category-callout-bg: url('./bg/pink-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, #D26914 0%, #CE4537 100%);
  --category-box-shadow-color: rgba(179 81 0 / 50%);
}

.category-people-data-analytics main,
div.category-color-people-data-analytics {
  --category-color: #794fcd;
  --category-darker-color: #4c3293;
  --category-darker-bg-color: #e0beff;
  --category-bg-color: #fde5ff;
  --category-callout-bg: url('./bg/purple-cta.svg');
  --category-quote-bg: radial-gradient(100% 416.67% at 0% 0%, #794FCD 0%, #CC4373 100%);
  --category-box-shadow-color: rgba(121 79 205 / 50%);
}


main .default-content-wrapper a:any-link {
  color: var(--category-color);
  background: linear-gradient(#f000 50%, var(--category-bg-color) 50.1%);
  text-decoration: none;
}

.marketplace main .default-content-wrapper a:any-link {
  color: var(--color-1-shade-5);
  background: unset;
}

main .default-content-wrapper p a.button:any-link {
  color: var(--color-white);
  background: unset;
  background-color: var(--category-color);
}

.marketplace-home main .default-content-wrapper p a.button:any-link {
  font-family: var(--body-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  padding: 10px 30px;
  background-color: var(--color-1-shade-5);
}

main .default-content-wrapper ol li,
main .default-content-wrapper ul li {
  margin-bottom: 16px;
  margin-left: 30px;
}


/* above the fold CSS goes here to squash CLS */

main .section[data-section-status='loading'], main .section[data-section-status='initialized'] {
  display: none;
}
