main .callout {
  background-image: var(--category-callout-bg);
  background-size: cover;
  margin: 40px 0;
  padding: 40px 30px;
  text-align: center;
  color: var(--category-color);
  border-radius: 20px;
  box-shadow: 0 30px 60px -40px rgb(52 185 172 / 50%);
}

main .callout a.button {
  background-color: var(--category-color);
}

main .callout h3 {
  font-size: 36px;
  color: var(--category-color);
  font-family: var(--heading-font-family);
  font-style: italic;
}

@media (min-width: 900px) {
  main .callout.right, main .callout.left {
    background-image: radial-gradient(100% 157.48% at 100% 0%, var(--category-bg-color) 0%, var(--category-darker-bg-color) 100%);
    width: 300px;
    box-sizing: border-box;
    border-radius: 0;
    padding: 40px 30px;
  }

  main .callout.right {
    float: right;
    margin-left: 50px;
    margin-right: -20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 140px;
    text-align: left;
  }

  main .callout.left {
    float: left;
    margin-right: 50px;
    margin-left: -20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 140px;
    text-align: right;
  }

  main .callout.right h3, main .callout.left h3 {
      font-size: 20px;
  }

  main .callout.right a.button, main .callout.left a.button {
    font-size: 14px;
    white-space: unset;
  }
  
}

@media (min-width: 1200px) {
  main .section > .callout-wrapper {
    max-width: 1200px;
  }  
}