main .callout {
  background-image: var(--category-callout-bg);
  background-size: cover;
  margin: 35px -30px;
  padding: 40px 30px;
  text-align: center;
  color: var(--category-color);
  box-shadow: 0 30px 60px -40px var(--category-box-shadow-color);
}

main .callout.left,
main .callout.right {
  text-align: left;
}

main .callout a.button {
  background-color: var(--category-color);
  margin: 40px 0 0;
}

main .callout.left a.button,
main .callout.right a.button{
  margin: 0;
}

main .callout h3 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--category-color);
  font-family: var(--heading-font-family);
}

main .callout.left h3,
main .callout.right h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  font-style: italic;
  margin: 0 0 30px;
}

main .callout p {
  color: var(--category-darker-color);
}

.integrations.app-list main .callout {
  background: unset;
  margin: 125px 0;
  box-shadow: none;
}

.integrations.app-list main .callout h3 {
  color: var(--heading-color);
}

.integrations.app-list main .callout p {
  color: var(--color-gray-9);
}

.integrations.app-list main .callout a.button {
  background-color: var(--color-1-shade-5);
}

@media (min-width: 600px) {
  main .callout {
    border-radius: 15px;
  }
  
  main .callout.right, main .callout.left {
    background-image: radial-gradient(100% 157.48% at 100% 0%, var(--category-bg-color) 0%, var(--category-darker-bg-color) 100%);
    width: 400px;
    box-sizing: border-box;
    border-radius: 0;
    padding: 40px 30px;
  }

  main .callout.right {
    float: right;
    margin-left: 50px;
    margin-right: -54px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 140px;
    text-align: left;
  }

  main .callout.left {
    float: left;
    margin-right: 50px;
    margin-left: -54px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 140px;
    text-align: right;
  }

  main .callout h3 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  main .section > .callout-wrapper {
    max-width: 1200px;
  }
  
  main .callout {
    padding: 50px;
  }

  main .callout.left,
  main .callout.right {
    width: 400px;
  }
  
}