.comparison-matrix main .section.paging-container div.default-content-wrapper > p:last-child {
    margin-bottom: 30px;
  }

.paging-line {
    text-align: right;
    font-size: 14px;
    font-weight: var(--heading-font-weight);
}

main .paging-wrapper a:any-link {
    color: var(--color-1-shade-5);
    text-decoration: none;
    word-wrap: break-word;
}

main .paging-wrapper hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
