.hr-glossary .section.bg-cover-green-patterns {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/styles/backgrounds/bg-cover-green-patterns.png');
  padding: 10px 0 100px;
}

.hr-glossary .image.bottom-cap {
  bottom: -8px !important;
  position: absolute;
  width: 100%;
}

.hr-glossary main .section:not(:first-of-type) {
  z-index: 1;
  position: relative;
}

.hr-glossary .callout.block {
  background: var(--theme-base);
}

.hr-glossary .callout h3,
.hr-glossary .callout p {
  color: var(--color-white);
}

.hr-glossary .callout .button-container a {
  background: var(--color-white);
  color: var(--theme-base);
}

.hr-glossary main .default-content-wrapper a:any-link {
  background: linear-gradient(#f000 50%, var(--theme-tint10) 50.1%);
}

.hr-glossary #you-might-also-like {
  margin-top: 80px;
  margin-bottom: 40px;
}

.hr-glossary .cards > .card.has-image img {
  margin-bottom: 30px;
}

#you-might-also-like {
  font-style: italic;
}

/* cover */
.section.bg-cover-green-patterns {
  position: relative;
}

.hr-glossary ol li::marker {
  color: var(--theme-shade5);
  font-weight: 500;
}

@media (min-width: 600px) {
  .hr-glossary .section.bg-cover-green-patterns {
    padding: 30px 0 150px;
    margin-bottom: -2%;
  }
}

@media (min-width: 900px) {
  .hr-glossary .section.bg-cover-green-patterns {
    padding: 30px 0 200px;
    margin-bottom: -5%;
  }
}

@media (min-width: 1200px) {
  .hr-glossary .section.bg-cover-green-patterns {
    padding: 30px 0 300px;
    margin-bottom: -6%;
  }

}

@media (min-width: 1800px) {
  .hr-glossary .section.bg-cover-green-patterns {
    padding: 50px 0 350px;
    margin-bottom: -5%;
  }

}
