/* hr-software/payroll template styles */
.hr-software-payroll main {
  background-image: url("data:image/svg+xml,%3Csvg width='360' height='806' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M0 0h360v806H0z'/%3E%3Cpath fill='url(%23b)' d='M0 0h360v806H0z'/%3E%3Cpath d='M732.589-105.016 393.78 224.064c-54.298 52.736-132.207 72.608-204.398 52.135L-261.084 148.44c-72.191-20.473-127.68-78.187-145.577-151.39l-111.654-456.83c-17.893-73.208 4.532-150.791 58.83-203.527l338.81-329.08c54.298-52.733 132.206-72.603 204.397-52.133L534.19-916.763c72.191 20.473 127.68 78.187 145.576 151.39L791.41-308.541c17.893 73.209-4.532 150.792-58.821 203.525Z' fill='url(%23c)'/%3E%3Cpath d='m44.832 374.537-48.815 47.412c-7.823 7.598-19.047 10.461-29.448 7.512l-64.902-18.408c-10.401-2.949-18.396-11.264-20.974-21.811l-16.087-65.819c-2.578-10.547.653-21.725 8.476-29.323l48.815-47.413c7.823-7.598 19.047-10.461 29.448-7.511l64.902 18.407c10.401 2.95 18.396 11.265 20.974 21.812l16.086 65.818c2.577 10.548-.654 21.726-8.475 29.324Z' fill='%23E0BEFF'/%3E%3Cpath d='m447.114 432.519-35.364 34.348c-5.667 5.504-13.799 7.578-21.334 5.441l-47.018-13.335c-7.535-2.137-13.327-8.161-15.195-15.801l-11.654-47.682c-1.867-7.641.474-15.739 6.141-21.243l35.363-34.348c5.668-5.505 13.8-7.579 21.335-5.442l47.017 13.335c7.535 2.137 13.327 8.161 15.195 15.801l11.653 47.683c1.868 7.641-.473 15.739-6.139 21.243Z' fill='%23A2E3FF'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='180' y1='0' x2='180' y2='806' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDE5FF'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='800.035' y1='-375.731' x2='-526.645' y2='-404.133' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.108' stop-color='%23E0BEFF'/%3E%3Cstop offset='.623' stop-color='%23794FCD'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h360v806H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top;
  background-size: calc(max(100%, 400px));
}

.hr-software-payroll .bottom-section {
  background-color: var(--color-6-tint-15);
  background-image: url("data:image/svg+xml,%3Csvg width='1900' height='495' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M0 0h1900v495H0z'/%3E%3Cpath d='M0 0h1900v840H0V0Z' fill='%23FDE5FF'/%3E%3Cpath d='M1900 0H0v135.287l612.836 180.996 532.774 141.912c170.76 45.481 352.15-2.854 475.87-126.81L1900 52.326V0Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h1900v495H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.hr-software-payroll .bg-img-bottom {
  margin: 0;
}

.hr-software-payroll .title-container h1,
.hr-data-reporting .title-container h1 {
  margin-top: 0;
  padding-top: 30px;
}

.hr-software-payroll main .call-to-action-container {
  background: none;
}

.hr-software-payroll main .call-to-action {
  color: var(--color-gray-12);
  padding: 2px 0 0;
}

.hr-software-payroll main .call-to-action h2 {
  color: var(--color-gray-12);
}

.hr-software-payroll main .call-to-action a.button {
  color: var(--color-white);
  background-color: var(--color-6-shade-5);
}

.hr-software-payroll .call-to-action .button-container,
.hr-software-payroll .call-to-action .button {
  margin: 0;
}

.hr-software-payroll .call-to-action a.button:any-link {
  padding: 8px 30px;
  font-size: 16px;
}

.hr-software-payroll main .columns h3 {
  font-family: var(--heading-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
}

@media screen and (min-width: 600px) {
  .hr-software-payroll main {
    background-image: url("data:image/svg+xml,%3Csvg width='768' height='772' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M0 0h768v772H0z'/%3E%3Cpath fill='url(%23b)' d='M0 0h768v772H0z'/%3E%3Cpath d='m913.696-105.016-338.809 329.08c-54.298 52.736-132.206 72.608-204.398 52.135L-79.977 148.44c-72.191-20.473-127.68-78.187-145.577-151.39l-111.654-456.83c-17.893-73.208 4.533-150.791 58.831-203.527l338.81-329.08c54.297-52.733 132.206-72.603 204.397-52.133l450.466 127.757c72.191 20.473 127.68 78.187 145.577 151.39l111.644 456.832c17.894 73.209-4.532 150.792-58.821 203.525Z' fill='url(%23c)'/%3E%3Cpath d='m635.279 214.066-.697-.717.697.717c-11.334 11.008-16.014 27.201-12.28 42.477l23.827 97.487c3.734 15.274 15.31 27.312 30.367 31.582l96.129 27.263c15.058 4.271 31.315.127 42.648-10.881l72.301-70.225c11.332-11.007 16.012-27.2 12.278-42.477l.971-.237-.971.237-23.825-97.487c-3.734-15.273-15.31-27.311-30.367-31.581l.273-.962-.273.962-96.129-27.264c-15.058-4.27-31.315-.127-42.648 10.881l-72.301 70.225Z' stroke='%235CC8FF' stroke-width='2'/%3E%3Cpath d='m225.939 374.537-48.814 47.412c-7.823 7.598-19.048 10.461-29.449 7.512l-64.902-18.408c-10.4-2.949-18.395-11.264-20.974-21.811l-16.087-65.819c-2.578-10.547.653-21.725 8.476-29.323l48.815-47.413c7.823-7.598 19.048-10.461 29.449-7.511l64.901 18.407c10.401 2.95 18.396 11.265 20.974 21.812l16.086 65.818c2.578 10.548-.653 21.726-8.475 29.324Z' fill='%23E0BEFF'/%3E%3Cpath d='m628.221 432.519-35.364 34.348c-5.667 5.504-13.799 7.578-21.334 5.441l-47.018-13.335c-7.535-2.137-13.326-8.161-15.194-15.801l-11.654-47.682c-1.868-7.641.473-15.739 6.14-21.243l35.364-34.348c5.667-5.505 13.799-7.579 21.334-5.442l47.018 13.335c7.535 2.137 13.326 8.161 15.194 15.801l11.653 47.683c1.868 7.641-.473 15.739-6.139 21.243Z' fill='%23A2E3FF'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='384' y1='0' x2='384' y2='772' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDE5FF'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='981.142' y1='-375.731' x2='-345.538' y2='-404.133' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.108' stop-color='%23E0BEFF'/%3E%3Cstop offset='.623' stop-color='%23794FCD'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h768v772H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-size: calc(max(100%, 700px));
  }
}

@media screen and (min-width: 900px) {
  .hr-software-payroll main {
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='857' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M0 0h1440v857H0z'/%3E%3Cpath fill='url(%23b)' d='M0 0h1440v677H0z'/%3E%3Cpath d='m1692.86-112.122-433.63 421.183c-69.5 67.496-169.21 92.93-261.606 66.728L421.081 212.271c-92.396-26.202-163.415-100.07-186.321-193.76L91.856-566.177c-22.901-93.699 5.8-192.995 75.296-260.491l433.636-421.182c69.495-67.5 169.208-92.93 261.604-66.73l576.548 163.52c92.39 26.2 163.41 100.07 186.32 193.759l142.89 584.691c22.9 93.698-5.8 192.995-75.29 260.488Z' fill='url(%23c)'/%3E%3Cpath d='m1714.41 281.605.27-.96-.27.96-225.27-63.888c-35.75-10.139-74.34-.299-101.24 25.827l-169.43 164.561c-26.89 26.125-38 64.559-29.14 100.822l55.83 228.444c8.87 36.258 36.35 64.841 72.1 74.98l225.27 63.888c35.75 10.139 74.34.299 101.24-25.827l169.42-164.561c26.9-26.124 38.01-64.558 29.14-100.821l.98-.237-.98.237-55.83-228.445c-8.86-36.258-36.34-64.841-72.09-74.98Z' stroke='%235CC8FF' stroke-width='2'/%3E%3Cpath d='M198.884 121.603 82.272 234.866c-18.688 18.151-45.503 24.991-70.35 17.944l-155.042-43.972c-24.847-7.047-43.945-26.911-50.104-52.106L-231.654-.5c-6.158-25.197 1.56-51.9 20.249-70.05l116.611-113.264c18.689-18.15 45.503-24.99 70.35-17.944l155.042 43.973c24.847 7.046 43.945 26.91 50.105 52.105l38.426 157.233c6.159 25.198-1.56 51.9-20.245 70.05Z' fill='%23E0BEFF'/%3E%3Cpath d='m1122.95 595.941-67.86 65.911c-10.87 10.563-26.48 14.543-40.94 10.442l-90.218-25.589c-14.46-4.1-25.573-15.659-29.158-30.321l-22.363-91.498c-3.584-14.663.908-30.202 11.783-40.764l67.86-65.911c10.875-10.563 26.479-14.543 40.938-10.442l90.228 25.589c14.45 4.1 25.57 15.659 29.15 30.321l22.36 91.498c3.59 14.663-.9 30.202-11.78 40.764Z' fill='%23A2E3FF'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='720' y1='0' x2='720' y2='677' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDE5FF'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='1779.19' y1='-458.605' x2='81.194' y2='-494.956' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.108' stop-color='%23E0BEFF'/%3E%3Cstop offset='.623' stop-color='%23794FCD'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h1440v857H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-size: calc(max(100%, 1300px));
  }

  .hr-software-payroll .title-container h1 {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1600px) {
  .hr-software-payroll main {
    background-image: url("data:image/svg+xml,%3Csvg width='1900' height='969' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M0 0h1900v969H0z'/%3E%3Cpath fill='url(%23b)' d='M0-54h1900v756H0z'/%3E%3Cpath d='m2112.94-248.129-532.75 517.452c-85.38 82.923-207.89 114.17-321.4 81.979L550.467 150.41C436.952 118.219 349.701 27.467 321.56-87.638L145.992-805.966c-28.136-115.115 7.127-237.104 92.506-320.034l532.751-517.45c85.379-82.92 207.884-114.17 321.401-81.98l708.32 200.89c113.51 32.2 200.77 122.95 228.91 238.05l175.55 718.335c28.13 115.114-7.13 237.107-92.49 320.026Z' fill='url(%23c)'/%3E%3Cpath d='m2052.78 934.572 208.15-202.174c33.1-32.152 46.77-79.453 35.86-124.083l-68.59-280.661c-10.91-44.625-44.73-79.804-88.74-92.283l-276.74-78.491c-44.01-12.479-91.5-.367-124.61 31.786L1529.96 390.84c-33.11 32.153-46.78 79.454-35.87 124.085l68.6 280.659c10.91 44.625 44.73 79.804 88.73 92.283l276.75 78.491c44.01 12.479 91.5.367 124.61-31.786Z' stroke='%235CC8FF' stroke-width='2'/%3E%3Cpath d='M277.483 39.018 134.218 178.169c-22.96 22.299-55.904 30.702-86.43 22.046l-190.479-54.024c-30.526-8.656-53.99-33.061-61.557-64.014l-47.213-193.171c-7.566-30.956 1.916-63.762 24.876-86.062l143.266-139.151c22.96-22.299 55.903-30.702 86.43-22.045l190.479 54.023c30.526 8.657 53.989 33.061 61.557 64.015l47.209 193.171c7.566 30.956-1.917 63.762-24.873 86.06Z' fill='%23E0BEFF'/%3E%3Cpath d='m1412.76 621.774-83.37 80.976c-13.36 12.976-32.53 17.866-50.29 12.829l-110.85-31.438c-17.76-5.038-31.42-19.239-35.82-37.252l-27.47-112.411c-4.41-18.015 1.11-37.105 14.47-50.082l83.37-80.976c13.36-12.976 32.53-17.866 50.3-12.829l110.84 31.438c17.77 5.037 31.42 19.239 35.83 37.252l27.47 112.412c4.4 18.014-1.12 37.105-14.48 50.081Z' fill='%23A2E3FF'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='950' y1='-54' x2='950' y2='702' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDE5FF'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='2218.99' y1='-673.806' x2='132.894' y2='-718.466' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.108' stop-color='%23E0BEFF'/%3E%3Cstop offset='.623' stop-color='%23794FCD'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h1900v969H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-size: calc(max(100%, 1800px));
  }
}

.hr-data-reporting .default-content-wrapper .button-container a.button:any-link {
  padding: 10px 30px;
}

@media screen and (min-width: 1200px) {
  .hr-data-reporting .title-wrapper .title {
    width: 83.33%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1800px) {
  .hr-data-reporting .title-wrapper .title {
    width: 66.67%;
  }
}
