/* hr-software/payroll template styles */
.hr-software-payroll .bg-img-bottom {
  margin: 0;
}

.hr-software-payroll .title-container h1,
.hr-data-reporting .title-container h1 {
  margin-top: 0;
  padding-top: 30px;
}

.hr-software-payroll main .call-to-action-container {
  background: none;
}

.hr-software-payroll main .call-to-action {
  color: var(--color-gray-12);
  padding: 2px 0 0;
}

.hr-software-payroll main .call-to-action h2 {
  color: var(--color-gray-12);
}

.hr-software-payroll main .call-to-action a.button {
  color: var(--color-white);
  background-color: var(--color-6-shade-5);
}

.hr-software-payroll .call-to-action .button-container,
.hr-software-payroll .call-to-action .button {
  margin: 0;
}

.hr-software-payroll .call-to-action a.button:any-link {
  padding: 8px 30px;
  font-size: 16px;
}

.hr-software-payroll main .columns h3 {
  font-family: var(--heading-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
}

@media screen and (min-width: 900px) {
  .hr-software-payroll .title-container h1 {
    padding-top: 50px;
  }
}

.hr-data-reporting .default-content-wrapper .button-container a.button:any-link {
  padding: 10px 30px;
}

@media screen and (min-width: 1200px) {
  .hr-data-reporting .title-wrapper .title {
    width: 83.33%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1800px) {
  .hr-data-reporting .title-wrapper .title {
    width: 66.67%;
  }
}
