.hrvs-listing .section:first-of-type {
  background: linear-gradient(180.67deg, #96E1FD 0.58%, #96E1FD 19.95%, #E1F3FD 50.52%, #FFFFFF 64.63%);
  background-size: 100% 1800px;
  background-repeat: no-repeat;
}

.hrvs-listing main .section.columns-container:last-of-type {
  background-image: url('../hrvs-middle-cta.svg');
  background-position: top center;
  background-size: contain;
  background-position: top, bottom;
  background-repeat: no-repeat;
}

/* Listing styles */
.hrvs-listing main .section > div.listing-wrapper {
  max-width: unset;
}

@media (min-width: 1440px) {
  .hrvs-listing main .section > div.listing-wrapper {
      padding: 0 54px;
      max-width: 1440px;
  }
}

.hrvs-listing main .listing-facets input[type="checkbox"] {
  visibility: hidden;
  height: 54px;
  display: unset;
}

.hrvs-listing main .listing-filters-selected:empty + p {
  display: block;
  margin-top: 0;
  margin-right: 40px;
}

.hrvs-listing main .listing-facets > div {
  border-radius: 15px;
  height: unset;
  overflow-y: unset;
  background-color: var(--color-gray-1);
}

.hrvs-listing main .horizontal-filters .listing-facets > div {
  background-color: unset;
  border-radius: unset;
}

.hrvs-listing main .listing-facets > div::after {
  display: none;
}

.hrvs-listing main .listing-facets .listing-apply-filters {
  display: none;
}

.hrvs-listing main .listing-facets  {
  z-index: unset;
  height: unset;
  background: unset;
  grid-area: facets;
  display: unset;
  position: unset;
  width: 320px;
  margin: 0 40px 0 -40px;
}

.hrvs-listing main .horizontal-filters .listing-facets {
  margin: 0;
}

.hrvs-listing main .listing-facets .listing-filters {
  overflow-y: unset;
  height: unset;
}

.hrvs-listing main .listing-groups {
  grid-area: results;
}

.hrvs-listing main .listing-group-label {
  color: var(--color-teal-2);
}

.hrvs-listing main .listing-results-count {
  grid-area: count;
  text-align: left;
  color: var(--gray-12);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  line-height: 15px;
}

.hrvs-listing main .listing {
  display: unset;
  grid-template-areas: '- count sortby' 'facets results results';
  align-items: flex-start;
}

.hrvs-listing main .listing.horizontal-filters {
  grid-template-areas: 'count - sortby' 'facets facets facets' 'results results results';
}

.hrvs-listing main .listing-sortby {
  display: none;
  grid-area: sortby;
  text-align: right;
  white-space: nowrap;
}

.hrvs-listing main .listing-sortby .listing-filter-button {
  display: none;
}

.hrvs-listing main .horizontal-filters .listing-facet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hrvs-listing main .horizontal-filters .listing-facets h3 {
  display: none;
}

.hrvs-listing main .horizontal-filters .listing-facets button {
  color: #39998E;
  border: none;
  font-family: var(--heading-font-family);
  background-color: transparent;
  font-size: 10px;
  line-height: 15px;
}

.hrvs-listing main .category-icon {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  cursor: pointer;
  width: 75px;
  margin-bottom: 20px;
}

.hrvs-listing main .horizontal-filters .listing-facets .category-icon label {
  white-space: unset;
  margin-bottom: unset;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
}

.hrvs-listing main .horizontal-filters .listing-facets .category-icon label::before {
  display: none;
}

.hrvs-listing main .horizontal-filters .listing-facets .category-icon :checked + label::after {
  display: none;
}

.hrvs-listing main .career-growth-icon {
  background: url('../../icons/hrvs-icons/career-growth.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .career-growth-icon:hover {
  background: url('../../icons/hrvs-icons/career-growth-hover.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .career-growth-icon.selected {
  background: url('../../icons/hrvs-icons/career-growth-selected.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .compensation---benefits-icon {
  background: url('../../icons/hrvs-icons/compensation-benefits.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .compensation---benefits-icon:hover {
  background: url('../../icons/hrvs-icons/compensation-benefits-hover.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .compensation---benefits-icon.selected {
  background: url('../../icons/hrvs-icons/compensation-benefits-selected.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .culture---values-icon {
  background: url('../../icons/hrvs-icons/culture-values.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .culture---values-icon:hover {
  background: url('../../icons/hrvs-icons/culture-values-hover.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .culture---values-icon.selected {
  background: url('../../icons/hrvs-icons/culture-values-selected.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .employee-experience-icon {
  background: url('../../icons/hrvs-icons/employee-experience.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .employee-experience-icon:hover {
  background: url('../../icons/hrvs-icons/employee-experience-hover.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .employee-experience-icon.selected {
  background: url('../../icons/hrvs-icons/employee-experience-selected.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .hr-newcomer-icon {
  background: url('../../icons/hrvs-icons/hr-newcomer.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .hr-newcomer-icon:hover {
  background: url('../../icons/hrvs-icons/hr-newcomer-hover.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .hr-newcomer-icon.selected {
  background: url('../../icons/hrvs-icons/hr-newcomer-selected.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .keynote-icon {
  background: url('../../icons/hrvs-icons/keynote.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .keynote-icon:hover {
  background: url('../../icons/hrvs-icons/keynote-hover.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .keynote-icon.selected {
  background: url('../../icons/hrvs-icons/keynote-selected.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .wellbeing-icon {
  background: url('../../icons/hrvs-icons/wellbeing.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .wellbeing-icon:hover {
  background: url('../../icons/hrvs-icons/wellbeing-hover.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

.hrvs-listing main .wellbeing-icon.selected {
  background: url('../../icons/hrvs-icons/wellbeing-selected.png') no-repeat center;
  background-size: contain;
  background-position: top center;
}

@media (min-width: 385px) {
  .hrvs-listing main .category-icon {
    margin-right: 20px;
  }
}

@media (min-width: 412px) {
  .hrvs-listing main .category-icon {
    margin-right: 29px;
  }
}

@media (min-width: 487px) {
  .hrvs-listing main .listing-filters-selected:empty + p {
    margin-top: 20px;
  }

  .hrvs-listing main .category-icon {
    width: 100px;
  }

  .hrvs-listing main .listing-facets input[type="checkbox"] {
    height: 79px;
  }

  .hrvs-listing main .listing-results-count,
  .hrvs-listing main .horizontal-filters .listing-facets .category-icon label,
  .hrvs-listing main .horizontal-filters .listing-facets button {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 700px) {
  .hrvs-listing main .listing-results {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 65px;
  }

  .hrvs-listing main .listing-filters-selected:empty + p {
    margin-top: 40px;
  }

  .hrvs-listing main .category-icon {
    width: 155px;
    margin-bottom: 0;
  }

  .hrvs-listing main .listing-facets input[type="checkbox"] {
    height: 134px;
  }

  .hrvs-listing main .listing-results-count,
  .hrvs-listing main .horizontal-filters .listing-facets .category-icon label,
  .hrvs-listing main .horizontal-filters .listing-facets button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 900px) {
  .hrvs-listing main .listing-results {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 65px;
  }
}

@media (min-width: 1200px) {
  .hrvs-listing main .horizontal-filters .listing-facets > div {
    background-color: unset;
    border-radius: unset;
  }

  .hrvs-listing main .listing-results {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 65px;
  }

  .hrvs-listing main .listing-groups {
      grid-area: results;
  }

  .hrvs-listing main .listing {
    display: grid;
  }
}

/* Columns styles */
.hrvs .columns h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  font-style: italic;
}

.hrvs .columns.color-teal-2 h1 {
  color: var(--color-teal-2);
}

.hrvs .columns p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--color-gray-13);
}

.hrvs .columns.button-color-gradient a.button:not(.link):any-link {
  background-image: linear-gradient(90deg, var(--color-teal-2) 0%, #39998E 100%);
  color: var(--color-white);
}

@media (min-width: 900px) {
  .hrvs .columns h1 {
    font-size: 54px;
    line-height: 60px;
  }

  .hrvs .columns p {
    font-size: 21px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .hrvs .columns h1 {
    font-size: 70px;
    line-height: 80px;
    color: var(--color-teal-2);
  }
}

/* Individual listing pages */
.hrvs-listing .image.hrvs-listing-logo {
  margin-top: 0;
  padding-top: 40px;
  text-align: center;
}

.hrvs-listing .image.hrvs-listing-logo img {
  width: 286px;
}

.hrvs-listing .metadata-content .content-image img {
  width: 400px;
}

.hrvs-listing .metadata-content-wrapper {
  margin-bottom: 50px;
}

.hrvs-listing main .section > div.default-content-wrapper,
.hrvs-listing main .section > div.metadata-content-wrapper {
  max-width: 960px;
}

.hrvs-listing main .section > .related-posts-wrapper {
  background: unset;
  padding: 0;
}
