.performance-reviews .gradient {
  background: linear-gradient(to top, var(--secondary-theme-tint15) 0%, var(--color-white) 100%);
}

.performance-reviews .small-icons {
  margin: 20px 0 10px;
}

.performance-reviews .small-icons img {
  height: 50px;
  width: auto;
}

.performance-reviews .columns.small-icons p:not(:first-of-type) {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--theme-shade10);
}

.performance-reviews .step.block .step-left {
  font-weight: 700;
  font-size: 16px;
  color: var(--theme-shade5);
}

.performance-reviews .step.block .step-right {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--theme-shade5);
}

.performance-reviews main .toc > ol > li::before {
  font-weight: 400;
  color: var(--color-gray-12);
}

.performance-reviews .toc li:not(:first-child) {
  margin-top: 2px !important;
}

.performance-reviews .page-header {
  height: 0;
  padding: 0;
}

.performance-reviews .has-bg > span.bg-bottom-multi-3 {
  top: -15%;
  bottom: auto;
}

.performance-reviews .has-bg > span.bg-solid-industry {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75%;
  top: auto;
  z-index: -2;
  background-color: var(--theme-shade15);
}

@media (max-width: 899px) {
  .performance-reviews .list-helper div:not(:first-child) ul {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .performance-reviews .has-bg > span.bg-bottom-multi-3 {
    top: -20%;
  }
}

@media (min-width: 900px) {
  .performance-reviews .has-bg > span.bg-solid-industry {
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .performance-reviews .has-bg > span.bg-bottom-multi-3 {
    top: -40%;
  }

  .performance-reviews .has-bg > span.bg-solid-industry {
    height: 40%;
  }
}

@media (min-width: 1800px) {
  .performance-reviews .has-bg > span.bg-bottom-multi-3 {
    top: -68%;
  }

  .performance-reviews .has-bg > span.bg-solid-industry {
    height: 0;
  }
}