@media (min-width: 900px) {
  .product-updates .section .default-content-wrapper h1,
  .product-updates .section .title-wrapper > div{
    width: 66.67%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 900px) {
  .product-updates .section .default-content-wrapper :is(h2, h3, h4, h5, h6, p){
    width: 83.33%;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-updates main .product-updates-disclaimer {
  padding: 0 30px;
  background-color: var(--color-1-shade-5);
  font-style: italic;
  color: var(--color-white);
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 900px) {
  .product-updates main .product-updates-disclaimer {
    padding: 0 50px;
  }
}

.product-updates main .product-updates-disclaimer a {
  text-decoration: underline;
  font-weight: 700;
  color: var(--color-white);
}

.product-updates main h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  font-style: italic;
  text-align: center;
  color: var(--color-gray-11);
  margin: 42px 0 20px;
}

@media (min-width: 600px) {
  .product-updates main h1 {
    margin: 60px 0 40px;
  }
}

@media (min-width: 900px) {
  .product-updates main h1 {
    font-size: 54px;
    line-height: 60px;
    margin-top: 70px;
  }
}

@media (min-width: 1200px) {
  .product-updates main h1 {
    font-size: 70px;
    line-height: 80px;
  }
}

@media (min-width: 1800px) {
  .product-updates main h1 {
    margin: 90px 0 64px;
  }
}

.product-updates main .intro-meta {
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 1800px) {
  .product-updates main .intro-meta {
    margin-bottom: 80px;
  }
}

.product-updates main .intro-meta span {
  margin: 0 10px;
  display: inline-block;
}

.product-updates main .intro-meta span:first-child {
  color: var(--color-1);
}

.product-updates main .wistia picture {
  border-radius: 15px;
  box-shadow: var(--box-shadow-2);
}

.product-updates main .default-content-wrapper picture {
  display: block;
  text-align: center;
}

.product-updates main .default-content-wrapper picture img {
  border-radius: 15px;
  box-shadow: var(--box-shadow-2);
}

.product-updates main .default-content-wrapper picture img,
.product-updates main .wistia {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .product-updates main .default-content-wrapper picture img,
  .product-updates main .wistia {
    margin-bottom: 60px;
  }
}

@media (min-width: 1800px) {
  .product-updates main .default-content-wrapper picture img,
  .product-updates main .wistia {
    margin-bottom: 80px;
  }
}

.product-updates main .bottom-cta-container {
  margin: 0 0 60px;
  text-align: center;
}

@media (min-width: 900px) {
  .product-updates main .bottom-cta-container {
    margin-bottom: 90px;
  }
}