/**** BASE Styles ****/
.base {
  --section-padding: 54px;
  --section-padding-mobile: 30px;
}

/** section **/
.base .section {
  margin-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 600px) {
  .base .section {
    margin-top: 64px;
  }
}

@media (min-width: 1025px) {
  .base .section {
    margin-top: 96px;
    padding-bottom: 64px;
  }
}

@media (min-width: 1800px) {
  .base .section {
    margin-top: 128px;
  }
}

.base .section.spacing-none {
  margin-top: 0;
}

/** block wrapper **/
.base .section > div {
  max-width: calc(960px + var(--section-padding-mobile) * 2);
  padding-left: var(--section-padding-mobile);
  padding-right: var(--section-padding-mobile);
}

@media (min-width: 600px) {
  .base .section > div {
    max-width: calc(960px + var(--section-padding) * 2);
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
  }
}

@media (min-width: 1441px) {
  .base .section > div {
    max-width: calc(1160px + var(--section-padding) * 2);
  }
}

.base .section > div.content-width-xs {
  max-width: calc(560px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  .base .section > div.content-width-xs {
    max-width: calc(560px + var(--section-padding) * 2);
  }
}

.base .section > div.content-width-sm {
  max-width: calc(760px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  .base .section > div.content-width-sm {
    max-width: calc(760px + var(--section-padding) * 2);
  }
}

.base .section > div.content-width-md {
  max-width: calc(960px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  .base .section > div.content-width-md {
    max-width: calc(960px + var(--section-padding) * 2);
  }
}

@media (min-width: 1441px) {
  .base .section > div.content-width-md {
    max-width: calc(1160px + var(--section-padding) * 2);
  }
}

.base .section > div.content-width-lg {
  max-width: calc(1160px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  .base .section > div.content-width-lg {
    max-width: calc(1160px + var(--section-padding) * 2);
  }
}

@media (min-width: 1441px) {
  .base .section > div.content-width-lg {
    max-width: calc(1360px + var(--section-padding) * 2);
  }
}

.base .section > div.content-width-xl {
  max-width: calc(1360px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  .base .section > div.content-width-xl {
    max-width: calc(1360px + var(--section-padding) * 2);
  }
}

@media (min-width: 1441px) {
  .base .section > div.content-width-xl {
    max-width: calc(1560px + var(--section-padding) * 2);
  }
}

.base .section > div.content-width-full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/** block **/
.base .block.spacing {
  margin-top: 64px;
  margin-bottom: 64px;
}

.base .block.spacing-top {
  margin-top: 64px;
}

.base .block.spacing-bottom {
  margin-bottom: 64px;
}

/**** RESETS ****/
.base main .section {
  padding-left: 0;
  padding-right: 0;
}

.base main .image {
  margin: 0;
}

.base main .section > .image-wrapper {
  max-width: calc(960px + var(--section-padding-mobile) * 2);
}

@media (min-width: 600px) {
  .base main .section > .image-wrapper {
    max-width: calc(960px + var(--section-padding) * 2);
  }
}

@media (min-width: 1441px) {
  .base main .section > .image-wrapper {
    max-width: calc(1160px + var(--section-padding) * 2);
  }
}

.base main .toc {
  padding: 40px 50px;
  color: var(--theme-shade10);
  background-color: var(--secondary-theme-tint15);
}

.base main .toc a:any-link {
  color: var(--color-gray-12);
  background-color: transparent;
}

.base main .toc ol {
  margin-bottom: 0;
}

.base main .toc li:not(:first-child) {
  margin-top: 5px;
}
