main .section > .related-posts-wrapper {
    max-width: unset;
    background-color: #eee;
    background-image: url('/styles/related-posts-leaf.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 150px 0;
    margin-top: 100px;
  }

main  .section > .related-posts-wrapper:before {
    content: 'You might also like...';
    display: block;
    font-family: var(--heading-font-family);
    font-style: italic;
    max-width: 1200px;
    margin: auto;
    font-size: 48px;
	color: var(--heading-color);
}

main .related-posts {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
  }

  main .related-posts-card {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      color: #444;
      font-size: 15px;
  }

  main .related-posts-card img {
    width: 100%;
    box-shadow: 0px 30px 60px -40px rgb(31 38 23 / 50%);
    border-radius: 15px;
  }

  main .related-posts-card h3 {
    font-family: var(--heading-font-family);
    font-size: 18px;
    font-weight: 600;
  }

  main .related-posts-card .related-posts-card-readtime::before {
    content: '•';
    display: inline-block;
    margin: 1px 8px 0 4px;
    font-size: 10px;
    vertical-align: top;
  }

  main .related-posts-card .related-posts-card-readtime:empty:before {
    display: none;
  }

  main .related-posts-card-body a:any-link{
    font-weight: 700;
    text-decoration: none;
    color: #444;
    font-family: var(--heading-font-family);
    font-size: 20px;
  }

  main .related-posts-card-body a:any-link::after {
    content: '❯';
    padding-left: 10px;
  }

  main .related-posts-card-header {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--category-color);
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 12px;
  }

  @media (min-width: 600px) {
    main .related-posts-card {
        width: 50%;
    }
  }

  @media (min-width: 900px) {
    main .related-posts-card {
        width: 25%;
    }
  }
