main .carousel-wrapper {
  padding-bottom: 128px;
  position: relative;
  max-width: unset;
}

main .carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  box-shadow: var(--box-shadow-2);
  margin: 32px 0;
  border-radius: 20px;
  background-color: var(--color-white);
}

main .carousel picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main .carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .carousel-image picture:not(:only-child) {
  display: none;
}

main .carousel-image picture:not(:only-child):nth-child(1) {
  display: block;
}

main .carousel > div {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
  height: 50vw;
  max-height: 652px;
  align-items: flex-end;
  display: flex;
  background-image: linear-gradient(#0000, #0008);
  color: var(--color-white);
}

main .carousel div.carousel-text {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

main .carousel::-webkit-scrollbar {
  display: none;
}

main .carousel-wrapper .carousel-buttons {
  text-align: center;
  margin-top: -48px;
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  justify-content: center;
}

main .carousel-buttons button {
  display: block;
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 10px;
  border-radius: 7px;
  border: none;
  background-color: var(--color-gray-4);
  cursor: pointer;
}

main .carousel-buttons button.selected {
  background-color: var(--color-1);
}

main .carousel-wrapper .carousel-controls {
  display: none;
}

@media (min-width: 700px) {
  main .carousel {
    margin: 64px 0;
  }

  main .carousel-image picture:not(:only-child):nth-child(1) {
    display: none;
  }

  main .carousel-image picture:not(:only-child):nth-child(2) {
    display: block;
  }
}

@media (min-width: 900px) {
  main .carousel > div {
    background-image: unset;
    color: unset;
    align-items: center;
  }

  main .carousel div.carousel-text {
    margin: unset;
    padding: 32px;
    text-align: left;
  }
}

/* undo defaults for new styles, set some defaults */
main .carousel.style-1,
main .carousel.style-2,
main .carousel.style-3 {
  background-color: unset;
  border-radius: unset;
  box-shadow: unset;
}

main .carousel.style-1 > div,
main .carousel.style-2 > div,
main .carousel.style-3 > div {
  background-image: unset;
  color: unset;
  height: unset;
  max-height: unset;
}

main .carousel.style-1 picture,
main .carousel.style-2 picture,
main .carousel.style-3 picture {
  position: unset;
}

main .carousel.style-1 .carousel-text,
main .carousel.style-2 .carousel-text,
main .carousel.style-3 .carousel-text {
  color: var(--color-gray-10);
  display: flex;
  flex-direction: column;
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: var(--body-font-weight);
  gap: 1rem;
  line-height: 1.5;
  padding: unset;
  text-align: unset;
  width: unset;
}

main .carousel.style-1 p:empty,
main .carousel.style-2 p:empty,
main .carousel.style-3 p:empty {
  display: none;
}

main .carousel.style-1 ~ .carousel-buttons,
main .carousel.style-2 ~ .carousel-buttons,
main .carousel.style-3 ~ .carousel-buttons {
  gap: calc(var(--gap) - var(--size));
  margin-top: -1.5rem;
}

@media (min-width: 700px) {
  main .carousel.style-1 ~ .carousel-buttons,
  main .carousel.style-2 ~ .carousel-buttons,
  main .carousel.style-3 ~ .carousel-buttons {
    margin-top: -3rem;
  }
}

main .carousel.style-1 ~ .carousel-buttons button,
main .carousel.style-2 ~ .carousel-buttons button,
main .carousel.style-3 ~ .carousel-buttons button {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  height: auto;
  margin: 0;
  padding: calc(var(--size) / 2);
  width: auto;
}

main .carousel.style-1 ~ .carousel-buttons button::after,
main .carousel.style-2 ~ .carousel-buttons button::after,
main .carousel.style-3 ~ .carousel-buttons button::after {
  border-radius: 50%;
  content: '';
  display: block;
  height: var(--size);
  transition-duration: 0.25s;
  transition-property: background-color, border-color;
  transition-timing-function: ease-in-out;
  width: var(--size);
}

/* Style 1 */
main .carousel.style-1 {
  --gap: 2.5rem;

  gap: var(--gap);
  max-width: 22.5rem;
}

main .carousel.style-1 > div {
  padding-left: var(--gap);
  padding-top: 0.5rem;
  position: relative;
}

main .carousel.style-1 span.icon {
  --image-height: auto;

  align-items: end;
  color: var(--theme-shade5);
  display: flex;
  height: var(--image-height);
  left: 0;
  position: absolute;
  top: 0;
  transition: color 0.25s ease-in-out;
}

main .carousel.style-1 h2 {
  color: var(--theme-shade5);
  font-family: var(--heading-font-family);
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1538;
  margin: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
main .carousel.style-1 p {
  margin: -0.6875rem 0 0;
}

main .carousel.style-1 .button-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main .carousel.style-1 a.button:any-link {
  background-color: revert;
  border-radius: revert;
  color: var(--theme-shade5);
  font-family: var(--body-font-family);
  font-style: var(--heading-font-weight);
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: revert;
  font-size: 1.125rem;
  vertical-align: middle;
}

main .carousel.style-1 a.button::after {
  background-color: currentcolor;
  content: '';
  display: inline-block;
  height: 0.8125rem;
  margin-left: 0.5rem;
  mask-image: url('../../styles/caret-right.svg');
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: url('../../styles/caret-right.svg');
  vertical-align: middle; /* TODO: replace with flex on button? */
  width: 0.5rem;
}

main .carousel.style-1 ~ .carousel-buttons {
  --gap: 1.25rem;
  --size: 0.75rem;

  padding-left: 5.5rem;
  justify-content: start;
}

main .carousel.style-1 ~ .carousel-buttons button::after {
  background-color: transparent;
  border: 2px solid var(--theme-base);
}

main .carousel.style-1 ~ .carousel-buttons button.selected::after {
  border-color: var(--theme-shade5);
  background-color: var(--theme-shade5);
}

/* Style 2 - desktop columns, table/mobile carousel */
main .carousel.style-2 {
  gap: 5rem;
}

@media (min-width: 1025px) {
  main .carousel.style-2 {
    flex-direction: column;
    overflow: visible;
  }
}

main .carousel.style-2 > div {
  align-items: center;
  flex-direction: column;
  gap: 1.875rem;
}

@media (min-width: 1025px) {
  main .carousel.style-2 > div {
    flex-direction: row-reverse;
    gap: 9.5rem;
  }
}

main .carousel.style-2 .carousel-image {
  flex-shrink: 0;
}

main .carousel.style-2 .carousel-image,
main .carousel.style-2 .carousel-text {
  max-width: 100%;
  text-align: center;
  width: 28rem;
}

@media (min-width: 1025px) {
  main .carousel.style-2 .carousel-text {
    text-align: revert;
    width: revert;
  }
}

main .carousel.style-2 h2 {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: var(--heading-font-weight);
  font-size: 1.625rem;
  line-height: 1.1539;
  color: var(--color-gray-12);
  margin: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
main .carousel.style-2 p {
  margin: 0;
  color: var(--color-gray-10);
}

main .carousel.style-2 ~ .carousel-buttons {
  --gap: 1.875rem;
  --size: 1.25rem;
}

@media (min-width: 1025px) {
  main .carousel.style-2 ~ .carousel-buttons button {
    display: none;
  }
}

main .carousel.style-2 ~ .carousel-buttons button::after {
  background-color: var(--theme-tint5);
}

main .carousel.style-2 ~ .carousel-buttons button.selected::after {
  background-color: var(--theme-shade10);
}

/* style 3 */
main .carousel.style-3 {
  --max-width: 11.25rem;
  --margin-left: calc(calc(100% / 2) - calc(var(--max-width) / 2));

  gap: 2.5rem;
  margin-left: var(--margin-left);
  margin-right: calc(calc(calc(100vw - 100%) - var(--scrollbar-width)) / -2);
}

@media (min-width: 600px) {
  main .carousel.style-3 {
    --margin-left: 8rem;
  }
}

@media (min-width: 1025px) {
  main .carousel.style-3 {
    --margin-left: 12rem;
  }
}

main .carousel.style-3 > div {
  box-shadow: var(--box-shadow-2-gray-shade10);
  max-width: var(--max-width);
  width: auto;
}

@media (min-width: 600px) {
  main .carousel.style-3 > div {
    --max-width: 18.75rem;
  }
}

@media (min-width: 600px) {
  main .carousel.style-3 > div {
    --max-width: 22.5rem;
  }
}

main .carousel.style-3 > div:last-child {
  margin-right: 100vw;
}

main .carousel.style-3 ~ .carousel-buttons {
  --gap: .5rem;
  --size: 0.5rem;
}

main .carousel.style-3 ~ .carousel-buttons button::after {
  background-color: transparent;
  border: 1px solid var(--theme-shade10);
}

main .carousel.style-3 ~ .carousel-buttons button.selected::after {
  background-color: var(--theme-shade10);
  border-color: var(--theme-shade10);
}

main .carousel.style-3 ~ .carousel-controls {
  --extra-padding: 64px;

  flex-direction: column;
  left: 0;
  position: absolute;
  top: calc(50% - var(--extra-padding));
  transform: translateY(calc(-50% - calc(var(--extra-padding) / 2)));
}

@media (min-width: 600px) {
  main .carousel.style-3 ~ .carousel-controls {
    display: flex;
  }
}

main .carousel.style-3 ~ .carousel-controls button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: .5rem;
}

main .carousel.style-3 ~ .carousel-controls button::after {
  background-color: var(--theme-shade10);
  content: '';
  display: block;
  height: 1rem;
  mask-image: url('../../styles/arrow-right.svg');
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: url('../../styles/arrow-right.svg');
  transition: background-color .25s ease-in-out;
  width: 1.875rem;
}

main .carousel.style-3 ~ .carousel-controls button.disabled {
  cursor: auto;
}

main .carousel.style-3 ~ .carousel-controls button.disabled::after {
  background-color: var(--color-gray-5);
}

main .carousel.style-3 ~ .carousel-controls button.prev {
  transform: rotate(180deg);
}
