main .carousel-container {
  padding: 0;
}

main .carousel-wrapper {
  padding-bottom: 128px;
  max-width: unset;
}

main .carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  box-shadow: var(--box-shadow-2);
  margin: 64px 0;
  border-radius: 20px;
  background-color: var(--color-white);
}

main .carousel picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}

main .carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
  
main .carousel > div {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
  height: 50vw;
  max-height: 652px;
  align-items: flex-end;
  display: flex;
  background-image: linear-gradient(#0000, #0008);
  color: white;
}

main .carousel div.carousel-text {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

main .carousel::-webkit-scrollbar {
    display: none;
}

main .carousel-wrapper .carousel-buttons {
  text-align: center;
  margin-top: -48px;
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  justify-content: center;
}

main .carousel-buttons button {
  display: block;
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 10px;
  border-radius: 7px;
  border: none;
  background-color: var(--color-gray-300);
  cursor: pointer;
}

main .carousel-buttons button.selected {
  background-color: var(--color-1);
}

@media (min-width: 900px) {
  main .carousel > div {
    background-image: unset;
    color: unset;
    align-items: center;
  }
  
  main .carousel div.carousel-text {
    margin: unset;
    padding: 32px;
    text-align: left;
  }
}
