/* stylelint-disable selector-class-pattern */
.integrations main .form-container .default-content-wrapper {
  text-align: center;
}

main .form {
  max-width: 800px;
  margin: 0 auto;
}

main .form .hidden {
  display: none;
}

main .form h1 {
  margin: 60px 0 90px;
}

main .form form {
  text-align: left;
}

main .form .form-description {
  color: var(--color-gray-7);
}

main .form label {
  display: block;
  color: var(--color-gray-8);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}

main .form .required {
  margin-left: 4px;
  color: var(--color-2);
}

main .form span.error {
  color: var(--color-2);
}

main .form form > div {
  margin: 20px 0;
}

main .form select,
main .form textarea,
main .form input {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin-top: 8px;
  margin-left: 1px;
  padding: 5px 20px;
  border: 2px solid var(--color-gray-1);
  border-radius: 3px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
}

main .form select {
  appearance: none;
  background: var(--color-white) url('./chevron-down.svg') no-repeat calc(100% - 20px) 50%;
}

main .form textarea {
  height: 160px;
}

main .form select:focus,
main .form textarea:focus,
main .form input:focus {
  border-color: var(--color-5);
}

main .form option {
  box-sizing: border-box;
  display: block;
  padding: 2px;
}

main .form.gray select,
main .form.gray textarea,
main .form.gray input {
  background-color: var(--color-gray-1);
}

main .form select[multiple] {
  height: 100px;
  background: var(--color-white);
}

main .form input[type='checkbox'],
main .form input[type='radio'] {
  margin-top: 0;
  margin-right: 10px;
  height: 13px;
  width: 13px;
}

main .form .form-radio-option:not(:last-child),
main .form .form-checkbox-option:not(:last-child) {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

main .form .form-checkbox-option input,
main .form .form-radio-option input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

main .form .form-checkbox-option > label,
main .form .form-radio-option > label {
  position: relative;
  display: flex;
}

main .form .form-checkbox-option > label {
  padding-left: 42px;
}

main .form .form-checkbox-option > label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-3);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

main .form .form-radio-option > label::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 2px;
  margin-right: 16px;
  background-clip: content-box;
  border: 2px solid var(--color-gray-3);
  background-color: var(--color-white);
  border-radius: 50%;
  box-sizing: border-box;
}

main .form.gray .form-checkbox-option > label::before {
  background-color: var(--color-gray-1);
}

main .form .form-checkbox-option input:checked + label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 4px;
  width: 8px;
  height: 14px;
  border: solid var(--color-1);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  box-sizing: border-box;
}

main .form .form-radio-option input:checked + label::before {
  background-color: var(--color-1);
}

main .form .error select,
main .form .error textarea,
main .form .error input {
  border-color: var(--color-2);
}

main .form .error input[type='checkbox'] + label::before {
  border-color: var(--color-2);
}

.integrations main .form-container {
  background-image: url('../../styles/leaf-top-3.svg'),
    linear-gradient(
      var(--color-white),
      var(--color-white) calc(290px + (100vw * 0.11)),
      var(--color-gray-1) calc(100vw * 0.11)
    );
  background-position: 0 290px, top;
  background-repeat: no-repeat;
  background-size: contain;
}

.integrations main .form {
  padding: 150px 0;
}

@media (min-width: 1200px) {
  .integrations main .form {
    padding-top: 250px;
  }
}

main .form .form-checkbox-flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}

main .form .form-gdpr-text,
.mktoHtmlText {
  color: var(--color-gray-8);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

main .form .mktoForm {
  visibility: hidden;
}

main .form .mktoForm[data-styles-ready='true'] {
  visibility: visible;
}

main .form .mktoForm .mktoField,
main .form .mktoForm .mktoLabel {
  width: 100% !important;
}

main .form .mktoForm .mktoInvalid,
main .form .mktoForm .mktoInvalid.form-checkbox-option label::before {
  border-color: var(--color-2);
}

main .form .mktoForm .mktoInvalid:focus {
  border-color: var(--color-5);
}

main .form .mktoForm .mktoErrorMsg,
main .form .mktoForm .mktoAsterix {
  display: none;
}

main .form .form-submit-wrapper .button,
main .form .mktoForm .mktoButton {
  padding: 17px 25px;
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: 700;
  background-color: var(--theme-shade10);
  color: var(--color-white);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

main .form .mktoForm .mktoButton {
  display: block;
  width: 100%;
  margin: 30px 0 0;
}

main .form .form-col p strong {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 30px;
}

main .form.has-content .form-col {
  max-width: 83.33%;
  margin: 0 auto;
  z-index: 5;
}

main .form.white-container .form-col {
  background-color: #fff;
  border-radius: 15px;
  padding: 40px;
  box-shadow: var(--box-shadow-2);
}

main .form.white-container .form-col strong {
  color: var(--color-1-shade-15);
}

main .form.white-container .form-col p {
  color: var(--color-gray-8);
}

@media (min-width: 1200px) {
  main .form.has-content > div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  main .form.has-content .content-col {
    grid-column: span 6;
  }

  main .form.has-content .form-col {
    grid-column: span 6;
    max-width: 100%;
  }

  main .form.has-content.grid-7-5 .content-col {
    grid-column: span 7;
  }

  main .form.has-content.grid-7-5 .form-col {
    grid-column: span 5;
  }
}
