main .form-container {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #87888B;
  max-width: 800px;
  margin: 0 auto;
}

main .form-container h1 {
  margin: 60px 0 90px;
}

main .form-container label {
  display: block;
}

main .form-container .required {
  color: var(--color-2);
  margin-left: 4px;
}

main .form-container span.error {
  color: var(--color-2);
}

main .form-container form > div {
  margin: 20px 0;
}

main .form-container select,
main .form-container textarea, 
main .form-container input {
  margin-left: 1px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid var(--color-gray-1);
  font-size: 14px;
  line-height: 21px;
  padding: 5px 20px;
  margin-top: 8px;
  height: 60px;
  box-sizing: border-box;
}

main .form-container select {
  appearance: none;
  background: var(--color-white) url('./chevron-down.svg') no-repeat calc(100% - 20px) 50%;
}

main .form-container textarea {
  height: 160px;
}

main .form-container option {
  padding: 2px;
  display: block;
  box-sizing: border-box;
}

main .form-container .error select,
main .form-container .error textarea, 
main .form-container .error input {
  border-color: var(--color-2);
}

main .form-container .form-button-wrapper .button {
  padding: 18px 40px;
}