.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

.columns.columns-3-cols p,
.columns.columns-4-cols p,
.columns.listing-highlights p,
.columns.small-icons p,
.home-more .columns p {
    margin: 0;
}

.home-more .columns p strong {
    color: var(--heading-color);
    font-style: italic;
}

.home-more .columns p {
    color: var(--heading-color);
    font-family: var(--body-font-family);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.home-more .columns p:first-of-type {
    margin-bottom: 5px;
}

.columns-3-cols a.button:any-link,
.columns-4-cols a.button:any-link,
.listing-highlights a.button:any-link,
.columns.small-icons a.button:any-link,
.home-more .columns a.button:any-link {
    background-color: unset;
    white-space: unset;
    font-family: var(--body-font-family);
    margin: 0;
    padding: 0;
    border: 0;
}

.home-more .columns a.button:any-link {
    color: var(--heading-color);
    font-family: var(--body-font-family);
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.columns.small-icons a.button:any-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-1-shade-5);
}

.home-more .columns a.button:any-link::after {
    content: "";
    border: solid var(--heading-color);
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg) translateY(calc(-50% + 1px));
    top: calc(50% - 1px);
    margin-left: 5px;
}

.columns-3-cols p.button-container,
.home-more .columns p.button-container {
    display: inline-block;
    text-align: left;
}

.columns.small-icons p:not(:first-of-type) {
    margin-top: 2px;
}

.home-more .columns p.button-container {
    margin-top: 30px;
}

.columns-3-cols img {
    margin-bottom: 24px;
}

.columns-3-cols img,
.columns-4-cols img,
.listing-highlights img,
.columns.small-icons img,
.home-more .columns img {
    width: auto;
}

.home-more .columns img {
    margin-bottom: 24px;
}

.columns.columns-4-cols,
.columns.listing-highlights,
.columns.small-icons {
    text-align: center;
}

.icon-2-cols,
.icon-3-cols,
.icon-4-cols,
.icon-5-cols,
.icon-6-cols,
.icon-7-cols {
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 30px;
    padding: 0 20px;
    box-sizing: border-box;
}

.home-more .columns > div > div {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 20px;
}

/* Listings */
.marketplace-listing .columns-wrapper {
	margin-top: 130px;
}

.marketplace-listing .columns div:first-of-type {
	flex-flow: wrap;
	flex-direction: row;
}

.marketplace-listing .columns div:first-of-type > div {
	width: 50%;
	margin-bottom: 40px;
}

.marketplace-listing .columns.listing-highlights.columns-1-cols div > div {
	width: 100%;
}

.marketplace-listing .columns h4 {
	font-style: normal;
	font-weight: var(--heading-font-weight);
	font-size: 14px;
	line-height: 24px;
	margin: 20px 0 10px;
}

.marketplace-listing .columns p:first-of-type {
	font-size: 12px;
	line-height: 15px;
}

main .home-featured-cat {
    margin-top: 0;
}

.columns.step .step-wrap {
  align-items: flex-start;
  flex-direction: row;
  max-width: 840px;
  margin: 46px auto 0;
}

.columns.step .step-wrap h4 {
  margin-top: 0;
}

.columns.step .step-left {
  width: 100%;
  max-width: 78px;
  padding-right: 7px;
  white-space: nowrap;
  text-align: right;
}

.columns.step .step-right {
  padding-left: 18px;
  border-left: 2px solid var(--color-6-tint-10);
}

.columns.step .step-right h4 {
  margin-bottom: -10px;
}

.columns.step .step-right ul:last-child,
.columns.step .step-right li:last-child,
.columns.step .step-right p:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
    .home-more .columns > div {
        align-items: flex-start;
        flex-flow: row nowrap;
        width: 75%;
        margin: 0 auto;
    }

    main .home-featured-cat {
        margin-top: 60px;
    }

    .icon-3-cols {
        width: 33.33%;
    }

    .icon-4-cols,
    .icon-5-cols,
    .icon-6-cols,
    .icon-7-cols {
        width: 25%;
    }

	.marketplace-listing .columns div:first-of-type {
		flex-wrap: nowrap;
	}
}

@media (min-width: 900px) {
    .columns > div {
        align-items: center;
        flex-direction: unset;
    }

    .columns-3-cols > div,
    .columns-4-cols > div,
    .listing-highlights > div {
        align-items: flex-start;
    }

    .icon-5-cols {
        width: 20%;
    }

    .icon-6-cols {
        width: 16.66%;
    }

    .icon-7-cols {
        width: 14.28%;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }

	.marketplace-listing .columns h4 {
		font-size: 20px;
		line-height: 28px;
	}

	.marketplace-listing .columns p:first-of-type {
		font-size: 17px;
		line-height: 24px;
	}
}

/* Column containers */
div .column-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

div .column-small-icons-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 -20px;
}

.column1 {
    flex: 0 0 auto;
    width: calc(8.33% - 20px);
}

.column2 {
    flex: 0 0 auto;
    width: calc(16.67% - 20px);
}

.column3 {
    flex: 0 0 auto;
    width: calc(25% - 20px);
}

.column4 {
    flex: 0 0 auto;
    width: calc(33.33% - 20px);
}

.column5 {
    flex: 0 0 auto;
    width: calc(41.67% - 20px);
}

.column6 {
    flex: 0 0 auto;
    width: calc(50% - 20px);
}

.column7 {
    flex: 0 0 auto;
    width: calc(58.33% - 20px);
}

.column8 {
    flex: 0 0 auto;
    width: calc(66.67% - 20px);
}

.column9 {
    flex: 0 0 auto;
    width: calc(75% - 20px);
}

.column10 {
    flex: 0 0 auto;
    width: calc(83.33% - 20px);
}

.column11 {
    flex: 0 0 auto;
    width: calc(91.67% - 20px);
}

@media (max-width: 899px) {
    div .column-flex-container {
        flex-flow: column;
    }

    .img-col {
        order: 1;
        width: unset;
        max-width: 200px;
    }

    .non-img-col {
        order: 2;
        width: unset;
    }
}
