main .page-header-container > div {
  max-width: unset;
  margin: 0 auto;
  padding: 0;
}

main .page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 450px;
}

main .page-header > div {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

main .page-header .page-header-image {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: unset;
  height: 450px;
  padding: 0;
  background-image: url('../../styles/single-post-leaf.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

main .page-header picture {
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

main .page-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .page-header .page-header-title,
main .page-header .page-header-title h1,
main .page-header .page-header-subtitle {
  margin: 0 auto;
  color: var(--color-white);
  font-style: unset;
  text-align: center;
}

main .page-header .page-header-subtitle {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@media (min-width: 900px) {
  main .page-header  {
    box-sizing: border-box;
    justify-content: flex-start;
    height: 430px;
    padding-top: 106px;
  }

  main .page-header .page-header-image {
    background-size: 100% 105px;
  }

  main .page-header .page-header-subtitle {
    margin-top: 30px;
    font-size: 21px;
    line-height: 28px;
  }
}

@media (min-width: 1200px) {
  main .page-header > div {
    max-width: 1200px;
  }
}
