main .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 10px;
  text-align: center;
}

main .grid h4 {
  margin-top: 0;
  font-size: 14px;
  font-style: initial;
  font-weight: 600;
  line-height: 20px;
}

main .grid p {
  font-size: 12px;
  line-height: 18px;
}

main .grid img {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  main .grid.grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  main .grid.grid-6 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  main .grid.grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
