/* stylelint-disable no-descending-specificity */

.multi-element {
    --column-gap: 2rem;
    --columns: repeat(2, 1fr);
    --row-gap: 1rem;

    color: var(--color-gray-10);
    column-gap: var(--column-gap);
    display: grid;
    grid-template-columns: var(--columns);
    row-gap: var(--row-gap);
}

/* "50/50" styles */
@media (max-width: 1024px) {
    .multi-element.style-50-50 {
        --columns: 1fr;
    }
}

/* "50/25/25" styles */
@media (min-width: 1025px) {
    .multi-element.style-50-25-25 {
        --columns: 2fr repeat(2, 1fr);
    }
}

/* "25/25/50" styles */
@media (min-width: 1025px) {
    .multi-element.style-25-25-50 {
        --columns: repeat(2, 1fr) 2fr;
    }
}

/* "50/25/25" and "25/25/50" styles */
@media (max-width: 1024px) {
    /*
     * 50/25/25 - first column
     * 25/25/50 - third column
     */
    .multi-element.style-50-25-25 > :first-child,
    .multi-element.style-25-25-50 > :nth-child(3) {
        grid-column: auto / span 2;
    }
}

/* "extra" styles */
@media (min-width: 769px) {
    /*
     * 50/50, extra - second column
     * 50/50, extra right - first column
     */
    .multi-element.style-50-50.extra > :nth-child(2),
    .multi-element.style-50-50.extra-right > :first-child {
        grid-row: auto / span 2;
    }
}

@media (min-width: 1025px) {
    /*
     * 50/25/25, extra - second and third columns
     * 50/25/25, extra right - first column
     * 25/25/50, extra - third column
     * 25/25/50, extra right - first and second columns
     */
    .multi-element.style-50-25-25.extra > :not(:first-child):not(:last-child),
    .multi-element.style-50-25-25.extra-right > :first-child,
    .multi-element.style-25-25-50.extra > :nth-child(3),
    .multi-element.style-25-25-50.extra-right > :not(:nth-child(3)):not(:last-child) {
        grid-row: auto / span 2;
    }
}

@media (max-width: 1024px) {
    .multi-element:not(.style-50-50) > .extra {
        grid-column: auto / span 2;
    }
}

@media (min-width: 1025px) {
    .multi-element.style-50-25-25.extra-right > .extra,
    .multi-element.style-25-25-50.extra > .extra {
        grid-column: auto / span 2;
    }
}

@media (min-width: 769px) {
    /*
     * 50/50, extra - first column
     * 50/50, extra right - second column
     */
    .multi-element.style-50-50.extra > :first-child {
        justify-content: end;
    }
}

@media (min-width: 1025px) {
    .multi-element.style-50-25-25.extra > :first-child,
    .multi-element.style-25-25-50.extra-right > :nth-child(3) {
        justify-content: end;
    }
}

@media (min-width: 1025px) {
    .multi-element.extra > :last-child,
    .multi-element.extra-right > :last-child {
        justify-content: start;
    }
}

/* "themed headings" styles */
.multi-element.themed-headings h1,
.multi-element.themed-headings h2,
.multi-element.themed-headings h3,
.multi-element.themed-headings h4,
.multi-element.themed-headings h5,
.multi-element.themed-headings h6 {
    color: var(--theme-shade10);
}

/* "themed content" styles */
.multi-element.themed-content {
    color: var(--theme-shade15);
}

.multi-element.themed-content strong {
    color: var(--theme-shade10);
}

/* button styles */
main .multi-element p.button-container {
    margin-top: 0;
}

.multi-element a.button:any-link {
    background-image: linear-gradient(91.98deg, var(--theme-shade5) 0%, var(--theme-shade10) 100%);
    font-family: var(--body-font-family);
    font-size: 15px;
    line-height: 1.3334;
    margin: 0;
    padding: .625rem 1.875rem;
}

/* button inline styles */
.multi-element.button-inline .button-container {
    display: block;
}
  
.multi-element.button-inline .button-container:last-of-type {
    margin-right: 0;
}

@media (min-width: 422px) {
    .multi-element.button-inline .button-container {
        margin-right: 20px;
        display: inline-block;
    }
}

/* "inline button" styles */
.multi-element.inline-button a.button:any-link {
    background: revert;
    border-radius: revert;
    color: var(--theme-shade5);
    font-family: var(--heading-font-family);
    font-size: .9375rem;
    line-height: 1.3333;
    margin: 0;
    padding: 0;
    text-align: left;
    transition: color .25s ease-in-out;
    vertical-align: middle;
    white-space: revert;
}

.multi-element.inline-button a.button:any-link:hover {
    color: var(--theme-shade10);
}

.multi-element.inline-button a.button:any-link::after {
    background-color: currentcolor;
    content: '';
    display: inline-block;
    height: .8125rem;
    margin-left: .5rem;
    mask-image: url('../../styles/caret-right.svg');
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-image: url('../../styles/caret-right.svg');
    vertical-align: middle;/* TODO: replace with flex on button? */
    width: .5rem;
}

/* content styles */
.multi-element > .content {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.25rem;
}

@media (max-width: 1024px) {
    .multi-element:not(.content-left) > .content {
        align-items: center;
        text-align: center;
    }
}

.multi-element > .content[data-align="center"] {
    align-items: center;
    text-align: center;
}

.multi-element > .content[data-align="right"] {
    align-items: end;
    text-align: right;
}

.multi-element h1,
.multi-element h2,
.multi-element h3,
.multi-element h4,
.multi-element h5,
.multi-element h6 {
    margin: 0;
}

.multi-element h1,
.multi-element h2 {
    font-size: 1.875rem;
    line-height: 1.2;
}

@media (min-width: 1025px) {
    .multi-element h1,
    .multi-element h2 {
        font-size: 2.25rem;
        line-height: 1.2222;
    }
}

.multi-element h4 {
    color: var(--color-gray-10);
}

main .multi-element p {
    margin: 0;
}

.multi-element strong {
    font-size: .75rem;
    letter-spacing: .1rem;
    line-height: 1.25;
    text-transform: uppercase;
}

/* image styles */
.multi-element > .images {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.multi-element > .images > picture {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* "logo cards" style */
.multi-element.logo-cards {
    --column-gap: 1.5rem;
}

@media (min-width: 1025px) {
    .multi-element.logo-cards {
        --column-gap: 2rem;
    }
}

@media (max-width: 1024px) {
    .multi-element.logo-cards {
        --row-gap: 2rem;
    }
}

.multi-element.logo-cards h2 {
    font-size: 1.875rem;
    line-height: 1.2;
}

@media (min-width: 1025px) {
    .multi-element.logo-cards h2 {
        font-size: 2.25rem;
        line-height: 1.2222;
    }
}

.multi-element.logo-cards > .images {
    align-items: revert;
    row-gap: .5rem;
}

@media (min-width: 600px) {
    .multi-element.logo-cards > .images {
        row-gap: 1rem;
    }
}

.multi-element.logo-cards > .images picture {
    background: var(--color-white);
    border-radius: 1rem;
    box-shadow: var(--theme-shadow1-shade5);
    height: 3rem;
    padding: .625rem;
}

@media (min-width: 600px) {
    .multi-element.logo-cards > .images picture {
        height: 4.5rem;
        padding: .75rem 1.5rem;
    }
}

.multi-element.logo-cards > .images img {
    max-height: 1.75rem;
    max-width: 6rem;
}

@media (min-width: 600px) {
    .multi-element.logo-cards > .images img {
        max-height: 3rem;
        max-width: 9rem;
    }
}

.multi-element.logo-cards a.button:any-link {
    background-color: var(--theme-shade15);
    background-image: revert;
    color: var(--theme-tint5);
    transition: background-color .25s ease-in-out;
}

.multi-element.logo-cards a.button:any-link:hover {
    background-color: var(--theme-shade10);
}

/* "hero" styles */
.multi-element.hero {
    --row-gap: 2rem;

    color: var(--color-gray-11);
}

@media (min-width: 769px) and (max-width: 1440px) {
    .multi-element.hero {
        --columns: 2fr 3fr;
    }
}

.multi-element.hero > .content {
    gap: 2.5rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .multi-element.hero > .content {
        align-items: start;
        text-align: left;
    }
}

.multi-element.hero > .content h3 {
    margin-bottom: -20px;
}

.multi-element.hero.title1-heading > .content h3 {
    font-size: 26px;
    line-height: 30px;
}

.multi-element.hero.gray-heading > .content h3,
.multi-element.gray-heading p {
    color: var(--color-gray-12);
}

.multi-element.hero h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .multi-element.hero h1 {
        font-size: 3.375rem;
        line-height: 1.1111;
    }
}

@media (min-width: 1441px) {
    .multi-element.hero h1 {
        font-size: 4.375rem;
        line-height: 1.1429;
    }
}

.multi-element.hero h2 {
    font-family: var(--body-font-family);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4444;
    margin-top: -1.875rem;
}

@media (min-width: 768px) {
    .multi-element.hero h2 {
        font-size: 1.3125rem;
        line-height: 1.3333;
    }
}

@media (min-width: 1441px) {
    .multi-element.hero h2 {
        font-size: 1.3125rem;
    }
}

.multi-element.hero > .images {
    --column-gap: 1rem;

    gap: var(--column-gap);
}

@media (min-width: 768px) {
    .multi-element.hero > .images {
        --column-gap: 1.625rem;
    }
}

@media (min-width: 1025px) {
    .multi-element.hero > .images {
        --column-gap: 1.875rem;
    }
}

@media (min-width: 1441px) {
    .multi-element.hero > .images {
        --column-gap: 1.875rem;
    }
}

@media (max-width: 768px) {
    .multi-element.hero > div {
        align-items: center;
        text-align: center;
    }
}

.multi-element.hero > .images picture {
    border-radius: 1rem;
    border: .1875rem solid var(--color-gray-1);
    box-shadow: var(--box-shadow-2-gray-shade10);
    overflow: hidden;
}

.multi-element.hero a.button:any-link {
    background-color: var(--theme-shade5);
    background-image: revert;
    transition: background-color .25s ease-in-out;
}

.multi-element.hero .multi-inline-buttons a.button:any-link {
    border: solid 2px transparent;
}

.multi-element.hero a.button:any-link:hover {
    background-color: var(--theme-shade10);
}

.multi-element.hero a.button.light:any-link {
    color: var(--theme-shade5);
    background-color: var(--color-white);
    border: solid 2px var(--theme-shade5);
}
  
.multi-element.hero a.button.light:any-link:hover {
    color: var(--theme-shade5);
    background-color: var(--theme-tint10);
}

.multi-element.industry {
    --row-gap: 14px;

    position: relative;
    padding-top: 70px;
}

.multi-element.industry h1 {
    color: var(--theme-tint15);
    margin-bottom: 24px;
}

.bg-top-multi-2-light .multi-element.industry h1 {
    color: var(--theme-shade10);
}

.multi-element.content-color-tint-5 .content p {
    color: var(--theme-tint5);
}

.multi-element.hero.industry .content:not(.extra) p {
    font-weight: 500;
}

.multi-element.industry .extra {
    display: block;
}

.multi-element.industry .extra,
.multi-element.industry .extra p {
    color: var(--color-gray-10);
    font-family: var(--body-font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media (max-width: 899px) {
    .multi-element.hero.industry > .content {
        gap: 0
    }
}

@media (min-width: 600px) {
    .multi-element.industry h1 {
        margin-bottom: 14px;
    }
}

@media (min-width: 769px) {
    .multi-element.hero.industry {
        --columns: repeat(12, 1fr);
    }

    .multi-element.hero.industry .content:first-child {
        grid-column-end: span 6;
    }

    .multi-element.hero.industry .content:nth-child(2) {
        grid-column-end: span 6;
    }

    .multi-element.hero.industry .extra {
        position: absolute;
        bottom: -30px;
        right: 0;
    }

    .multi-element.industry.extra-color-white .extra p {
        color: var(--color-white);
    }
}

@media (min-width: 900px) {
    .multi-element.hero.industry {
        padding-top: 10px;
    }

    .multi-element.hero.industry .content:first-child {
        grid-column-start: 2;
        padding-top: 40px;
    }

    .multi-element.hero.industry.extra-on-left .content:first-child {
        padding-top: 0;
    }

    .multi-element.hero.industry .content:nth-child(2) {
        grid-column-end: span 5;
    }

    .multi-element.hero.industry .extra {
        bottom: 0;
        right: 45px;
    }

    .multi-element.hero.industry.extra-on-left .extra {
        grid-column-start: 2;
    }
}

@media (min-width: 1440px) {
    .multi-element.hero.industry .extra {
        right: 20px;
    }
}

@media (max-width: 768px) {
    .multi-element.hero.industry.extra-on-left .extra{
        grid-row: 2;
    }
}

@media (min-width: 769px) {
    .multi-element.hero.industry.extra-on-left .extra {
        right: auto;
        left: 0;
    }
}

@media (min-width: 900px) {
    .multi-element.hero.industry.extra-on-left .extra {
        left: 45px;
    }
}

@media (min-width: 1440px) {
    .multi-element.hero.industry.extra-on-left .extra {
        left: 20px;
    }
}

.multi-element.hero.industry.extra-on-left > .content {
    row-gap: 16px;
}

@media (min-width: 1200px) {
    .multi-element.button-inline {
        align-items: center;
    }
}

.multi-element.hero.industry.button-inline > .content p {
    margin-bottom: 20px;
}