footer {
	background-color: #55575A;
    text-align: left;
    box-shadow: 0 5px 5px rgba(0 0 0 / 50%);
    position: relative;
    padding: 80px 30px 30px;
}

footer .footer {
  grid-template-areas: 'blog' 'company' 'support' 'compare' 'links' 'social' 'brand' 'legal';
  margin: 0 auto;
  max-width: 290px;
  display: grid;
}

footer .footer h3 {
	color: var(--color-white);
    font-size: 20px;
    line-height: 28px;
	font-weight: 600;
    font-family: var(--heading-font-family);
    margin: 0 0 20px;
}

footer .footer p {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-gray-6);
}

footer .footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	column-count: 2;
	column-gap: 40px;
}

footer .footer li {
	margin: 0 0 10px;
}

footer a {
	font-size: 14px;
	line-height: 24px;
	color: var(--color-gray-6);
	text-decoration: none;
	transition: 0.3s;
}

footer a:hover {
	color: var(--color-white);
}

footer .footer .blog,
footer .footer .company,
footer .footer .support,
footer .footer .compare,
footer .footer .links {
	margin-bottom: 30px;
}

footer .footer .company {
	grid-area: company;
}

footer .footer .support {
	grid-area: support;
}

footer .footer .compare {
	grid-area: compare;
	min-width: 187px;
}

footer .footer .links {
	grid-area: links;
}

footer .footer .social {
	grid-area: social;
	display: flex;
	align-items: center;
	margin: 0 -10px 10px;
}

footer .footer .social p {
	padding: 0 10px;
}

footer .footer .social .icon {
	padding: 4px;
}

footer .footer .brand {
	grid-area: brand;
}

footer .footer .legal {
	grid-area: legal;
	margin-top: 40px;
}

footer .footer .blog {
	grid-area: blog;
}

footer .footer div[aria-hidden="true"] {
	display: none;
}

@media (min-width: 450px) {
	footer {
		padding: 82px 30px;
	}
}
@media (min-width: 600px) {
	footer .footer {
		max-width: 1200px;
	}
	
	footer .footer .blog,
	footer .footer .company,
	footer .footer .support,
	footer .footer .compare,
	footer .footer .links {
		margin-bottom: 50px;
	}

	footer .footer .company,
	footer .footer .support,
	footer .footer .compare {
		margin-right: 20px;
	}
}
@media (min-width: 900px) {
	footer .footer {
		grid-template-areas: 'company support compare blog' 'links links links social' 'links links links brand' 'legal legal legal legal';
	}

	footer .footer div[aria-hidden="true"] {
		visibility: hidden;
	}
}
@media (min-width: 1200px) {
	footer {
		padding: 120px 30px 60px;
	}

	footer .footer .blog,
	footer .footer .company,
	footer .footer .support,
	footer .footer .compare,
	footer .footer .links {
		margin-bottom: 0;
	}
	
	footer .footer .company,
	footer .footer .support,
	footer .footer .compare {
		margin-right: 60px;
	}
	
	footer .footer ul {
		column-gap: 64px;
	}

	footer .footer .links {
		display: flex;
		height: 100%;
		align-items: flex-end;
	}
	
	footer .footer .links ul {
		column-count: unset;
		column-gap: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		margin-left: -12px;
		margin-right: -12px;
	}

	footer .footer li {
		margin-bottom: 20px;
	}

	footer .footer .links li {
		margin-bottom: 0;
	}

	footer .footer .links ul li {
		padding: 0 12px;
		
	}
}
@media (min-width: 1800px) {
	footer {
		padding: 140px 30px 70px;
	}

	footer .footer {
		max-width: 1500px;
	}
	
	footer .footer .company,
	footer .footer .support,
	footer .footer .compare {
		margin-right: 220px;
	}
}
