.resource-group-title {
    width: 100%;
}

.resource-card {
    margin-bottom: 40px;
	border-radius: 15px;
    box-shadow: var(--box-shadow-2);
    background-color: white;
}

.resource-card-image picture img {
    width: 100%;
    max-width: 600px;
	border-radius: 15px;
}

.resource-card-copy-container {
    display: none;
	padding: 20px 30px 30px;
}

.resource-card-link {
    margin: 0 auto;
    font-weight: 700;
    color: var(--color-1)!important;
}

h1#content-library {
    margin-top: 0;
    padding-top: 80px;
}

@media screen and (min-width: 600px) {
    .resource-group-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        margin-left: -20px;
        margin-right: -20px;
    }

    .resource-group-container ul {
        width: calc(50% - 40px);
        margin: 0 auto;
        flex: 0 0 auto;
        padding: 0;
    }
}

@media screen and (min-width: 1025px) {
    .resource-group-container ul {
        width: calc(33.33% - 40px);
        margin: 0 20px 60px;
        padding: 0;
        display: flex;
    }

    .resource-card-copy-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .resource-card-image picture img {
        border-radius: 15px 15px 0 0;
        max-width: 500px;
    } 
}
