.app-cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-cards > ul > li {
    box-shadow: var(--box-shadow-2);
    background-color: var(--color-white);
    border-radius: 15px;
    margin-bottom: 30px;
}

.app-cards .app-cards-card {
    position: relative;
    overflow: hidden;
}

.app-cards .app-cards-card.app-cards-card-discount::before,
.app-cards .app-cards-card.app-cards-card-sponsored::before,
.app-cards .app-cards-card.app-cards-card-discount.app-cards-card-sponsored::after {
    font-size: 8px;
    line-height: 9px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 7px 20px;
    position: absolute;
    transform: rotate(45deg);
    text-align: center;
    min-width: 108px;
    top: 17px;
    right: -25px;
}

.app-cards .app-cards-card.app-cards-card-discount::before,
.app-cards .app-cards-card.app-cards-card-discount.app-cards-card-sponsored::after{
    content: 'SPECIAL OFFER';
    color: var(--color-4-shade-15);
    background-color: var(--color-4-tint-10);
}

.app-cards .app-cards-card.app-cards-card-sponsored::before,
.app-cards .app-cards-card.app-cards-card-discount.app-cards-card-sponsored::before {
    content: 'SPONSORED';
    color: var(--color-1-shade-10);
    background-color: var(--color-1-tint-15);
}

.app-cards .app-cards-card.app-cards-card-discount.app-cards-card-sponsored::after {
    min-width: 175px;
    top: 32px;
    right: -40px;
}

.app-cards .app-cards-card-body {
    padding: 0 25px 30px;
}

.app-cards .app-cards-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 20px;
}

.app-cards .app-cards-card-header h4 {
    margin: 0;
    font-size: 18px;
    font-style: normal;
}

.app-cards .app-cards-card-header h4 a {
    color: var(--color-gray-12);
}

.app-cards .app-cards-card-cat {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-gray-6);
}

.app-cards .app-cards-card-image {
    line-height: 0;
}

.app-cards .app-cards-card-body > *:first-child {
    margin-top: 0;
}

.app-cards > ul > li .app-cards-card-image img {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.app-cards .app-cards-card-detail p {
    margin: 15px 0;
}

.app-cards .app-cards-card-detail a:any-link {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    display: inline-block;
    color: var(--color-1-shade-5);
    text-decoration: none;
}

.app-cards .app-cards-card-detail a::after {
    content: "";
    border: solid var(--color-1-shade-5);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    margin-left: 8px;
}

@media (min-width: 600px) {
    .app-cards > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .app-cards > ul > li {
        margin-bottom: 0;
    }
}

@media (min-width: 900px) {
    .app-cards > ul {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (min-width: 1200px) {
    .app-cards .app-cards-card {
        position: relative;
        padding-bottom: 60px;
        overflow: hidden;
    }

    .app-cards > ul > li .app-cards-card-image img {
        min-height: 210px;
    }

    .app-cards .app-cards-card-header {
        min-height: 60px;
        padding: 0;
    }

    .app-cards .app-cards-card-body {
        position: absolute;
        top: calc(100% - 60px);
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-white);
        transition: all .3s ease-in-out;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .app-cards .app-cards-card:hover .app-cards-card-body {
        top: 0;
    }

    .app-cards .app-cards-card .app-cards-card-cat {
        transition: all .25s ease-in .25s;
    }

    .app-cards .app-cards-card .app-cards-card-detail {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .app-cards .app-cards-card .app-cards-card-detail p {
        transition: all .25s ease-in .4s;
    }

    .app-cards .app-cards-card .app-cards-card-detail a:any-link {
        transition: all .25s ease-in .5s;
    }

    .app-cards .app-cards-card .app-cards-card-cat,
    .app-cards .app-cards-card .app-cards-card-detail p,
    .app-cards .app-cards-card .app-cards-card-detail a:any-link {
        opacity: 0;
        transform: translateX(25px);
    }

    .app-cards .app-cards-card:hover .app-cards-card-cat,
    .app-cards .app-cards-card:hover .app-cards-card-detail p,
    .app-cards .app-cards-card:hover .app-cards-card-detail a:any-link {
        opacity: 1;
        transform: translateX(0);
    }
}