main .related-posts-container {
  padding: 0;
}

main .section > .related-posts-wrapper {
  max-width: unset;
  background-color: var(--color-gray-1);
  background-image: url('../../styles/related-posts-leaf.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding: 150px 30px;
  margin-top: 100px;
}

main .section > .related-posts-wrapper::before {
  content: 'You might also like...';
  display: block;
  font-family: var(--heading-font-family);
  font-style: italic;
  font-weight: 700;
  max-width: 1200px;
  margin: auto;
  font-size: 48px;
  line-height: 1.2;
  color: var(--heading-color);
}

main .related-posts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

main .related-posts-card {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
}

main .related-posts-card-header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--category-color);
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 12px;
}

main .related-posts-card-header a:any-link {
  color: inherit;
  text-decoration: inherit;
}

main .related-posts-card .related-posts-card-picture {
  margin-bottom: 25px;
}

main .related-posts-card img {
  width: 100%;
  box-shadow: var(--box-shadow-2);
  border-radius: 15px;
}

main .related-posts-card h3 {
  font-family: var(--heading-font-family);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 20px;
}

main .related-posts-card .related-posts-card-readtime::before {
  content: '•';
  display: inline-block;
  margin: 1px 8px 0 4px;
  font-size: 10px;
  vertical-align: top;
}

main .related-posts-card .related-posts-card-readtime:empty::before {
  display: none;
}

main .related-posts-card-body a:any-link{
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-size: 15px;
}

main .related-posts-card-body a:any-link::after {
  content: "";
  border: solid var(--heading-color);
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: -20px;
}

@media (min-width: 600px) {
  main .related-posts-card {
      width: 50%;
  }

  main .section > .related-posts-wrapper {
    padding: 150px 54px;
  }
}

@media (min-width: 900px) {
  main .related-posts-card {
      width: 25%;
  }
}

@media (min-width: 1440px) {
  main .section > .related-posts-wrapper {
    padding: 150px 0;
  }
}
