main .section > div.search-wrapper {
    min-height: 600px;
    max-width: unset;
}

main .search .search-highlight {
    background: var(--color-info-accent);
    color: unset;
}

main .search-results {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

main .search-card {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    color: #444;
    font-size: 15px;
}

main .search-card img {
  width: 100%;
  box-shadow: 0 30px 60px -40px rgb(31 38 23 / 50%);
  border-radius: 15px;
}

main .search-card h3 {
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
}

main .search-card .search-card-readtime::before {
  content: '•';
  display: inline-block;
  margin: 1px 8px 0 4px;
  font-size: 10px;
  vertical-align: top;
}

main .search-card-header a:any-link {
  color: inherit;
  text-decoration: inherit;
}

main .search-card .search-card-readtime:empty::before {
  display: none;
}

main .search-card-body a:any-link{
  font-weight: 700;
  text-decoration: none;
  color: #444;
  font-family: var(--heading-font-family);
  font-size: 20px;
}

main .search-card-body a:any-link::after {
  content: '❯';
  padding-left: 10px;
}

main .search-card-header {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--category-color);
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 12px;
}

main .search input {
    max-width: 800px;
    width: 100%;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    font-family: var(--body-font-family);
}

main .search .search-box {
    margin: auto;
    text-align: center;
}

@media (min-width: 600px) {
  main .search-card {
      width: 50%;
  }
}

@media (min-width: 900px) {
  main .search-card {
      width: 25%;
  }
}
