main .section > div.search-wrapper {
    min-height: 600px;
    max-width: unset;
}

.marketplace-home main .section > div.search-wrapper {
  min-height: 250px;
}

main .search .search-highlight {
    background: var(--color-info-accent);
    color: unset;
}

main .search-results {
    max-width: 1200px;
    margin: auto;
    padding-top: 32px;
}

main .search-results > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 32px;
}


/* app cards */

main .search-results .search-app-card {
  box-shadow: 0 26px 52px -35px rgb(31 38 23 / 50%);
  background-color: white;
  border-radius: 15px;
}

.search-app-card-body {
  padding: 0 25px 30px;
}

.search-app-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-app-card-image {
  line-height: 0;
}

.search-app-card-image img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.search-app-card-header h4 {
  margin: 0;
  font-size: 18px;
  font-style: normal;
}

.search-app-card-header h4 a {
  color: var(--color-gray-12);
}

.search-app-card-cat {
  font-size: 14px;
  line-height: var(--body-line-height);
  color: var(--color-gray-6);
}

.search-app-card-body > *:first-child {
  margin-top: 0;
}

.search-app-card-search-tags span {
  display: none;
}

.search-app-card-search-tags {
  padding-top: 16px;
}

.search-app-card-search-tags span.search-searchtag-highlighted {
  display: unset;
  border: 2px solid var(--color-info-accent);
  background-color: var(--color-info-accent);
  margin-right: 4px;
  margin-bottom: 4px;
  white-space: nowrap;
  color: white;
  border-radius: 15px;
  padding: 3px 8px;
  font-size: var(--body-font-size-xs);
  cursor: pointer;
}

.search-app-card-search-tags span.search-searchtag-highlighted .search-highlight {
  font-weight: 600;
  background-color: var(--color-info-accent-down);
}

/* blog cards */
main .search-blog-card {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
}

main .search-blog-card .search-blog-card-picture {
  margin-bottom: 25px;
}

main .search-blog-card img {
  width: 100%;
  box-shadow: 0 30px 60px -40px rgb(31 38 23 / 50%);
  border-radius: 15px;
}

main .search-blog-card h3 {
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 20px;
}

main .search-blog-card .search-blog-card-readtime::before {
  content: '•';
  display: inline-block;
  margin: 1px 8px 0 4px;
  font-size: 10px;
  vertical-align: top;
}

main .search-blog-card-header a:any-link {
  color: inherit;
  text-decoration: inherit;
}

main .search-blog-card .search-blog-card-readtime:empty::before {
  display: none;
}

main .search-app-card-detail a:any-link {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: var(--body-line-height);
  display: inline-block;
  color: var(--color-1-shade-5);
  text-decoration: none;
}

main .search-app-card-detail a::after {
  content: "";
  border: solid var(--color-1-shade-5);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  margin-left: 8px;
}

main .search-blog-card-header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--category-color);
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 12px;
}

main .search input {
    max-width: 800px;
    width: 100%;
    height: 60px;
    margin: auto;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid var(--color-gray-3);
    font-family: var(--body-font-family);
    line-height: 58px;
    border-radius: 50px;
    padding: 15px 30px;
}

main .search .search-box {
    margin: auto;
    text-align: center;
}

@media (min-width: 1200px) {
  .search-results .search-app-card {
      position: relative;
      padding-bottom: 60px;
      overflow: hidden;
  }

  .search-results > ul > li .search-app-card-image img {
      min-height: 230px;
  }

  .search-results .search-app-card-header {
      min-height: 60px;
      padding: 0;
  }

  .search-results .search-app-card-body {
      position: absolute;
      top: calc(100% - 60px);
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--color-white);
      transition: all .3s ease-in-out;
      display: flex;
      flex-direction: column;
      z-index: 1;
  }

  .search-results .search-app-card:hover .search-app-card-body {
      top: 0;
  }

  .search-results .search-app-card .search-app-card-cat {
      transition: all .25s ease-in .25s;
  }

  .search-results .search-app-card .search-app-card-detail {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }

  .search-results .search-app-card .search-app-card-detail p {
      transition: all .25s ease-in .4s;
  }

  .search-results .search-app-card .search-app-card-detail a:any-link {
      transition: all .25s ease-in .5s;
  }

  .search-results .search-app-card .search-app-card-cat,
  .search-results .search-app-card .search-app-card-detail p,
  .search-results .search-app-card .search-app-card-detail a:any-link {
      opacity: 0;
      transform: translateX(25px);
  }

  .search-results .search-app-card:hover .search-app-card-cat,
  .search-results .search-app-card:hover .search-app-card-detail p,
  .search-results .search-app-card:hover .search-app-card-detail a:any-link {
      opacity: 1;
      transform: translateX(0);
  }
}